.cart-item
	position: relative
	padding: 10px
	display: flex
	align-items: center
	background-color: var(--color-white)
	box-shadow: var(--shadow-base)
	border-radius: var(--border-radius-base)
	transition: background-color .3s ease, box-shadow .3s ease

	+until-992
		padding: 25px

	+until-768
		padding: 10px

	+until-480
		padding: 5px 5px 30px
		flex-direction: column

	&__counter-form
		max-width: 237px

	&__picture
		flex: 0 1 220px
		height: 100%
		padding: 20px
		margin-right: 40px
		display: flex
		align-items: center
		justify-content: center

		background-color: var(--color-gray-lt)
		border-radius: var(--border-radius-base)

		transition: background-color .3s ease

		+until-992
			position: relative
			flex: 0 1 200px

		+until-768
			flex: 0 1 180px
			margin-right: 25px

		+until-480
			flex: 0 1 150px
			padding: 25px
			width: 100%
			margin-right: 0
			margin-bottom: 20px

	&__image
		display: block

		max-width: 100%
		max-height: 100%

		object-fit: contain

	&__actions
		position: absolute
		bottom: 25px
		right: 25px

		display: flex
		align-items: center

		+until-992
			right: unset
			bottom: unset
			top: 10px
			left: 10px

		+until-480
			top: 5px
			left: 5px

		& .product-action
			+until-992
				width: 32px
				height: 32px

			+until-480
				width: 19px
				height: 19px

			&:not(:last-child)
				margin-right: 10px

				+until-768
					margin-right: 4px

	&__remove
		position: absolute
		top: 25px
		right: 25px

		width: 50px
		height: 50px
		padding: 0
		display: flex
		align-items: center
		justify-content: center

		background-color: var(--color-red)
		background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L11.205 4.205L14 1.41Z' fill='white'/%3E%3C/svg%3E")
		background-position: center
		background-repeat: no-repeat
		background-size: 50%
		border-radius: var(--border-radius-base)
		border: none
		outline: none

		cursor: pointer
		appearance: none

		transition: .3s ease

		+until-992
			right: 10px
			top: 10px

			width: 32px
			height: 32px

		+until-480
			right: 5px
			top: 5px

			height: 19px
			width: 19px

		&:hover
			background-color: var(--color-red-dr)
			outline: none

		&:active
			background-color: var(--color-red-dr)
			box-shadow: none
			outline: none

	&__body
		display: flex
		flex-direction: column
		justify-content: center
		width: 70%
		+until-768
			width: 100%

	&__bottom
		display: flex
		align-items: flex-end
		gap: 8px

		+until-768
			flex-wrap: wrap

		+until-480
			flex-direction: column
			align-items: center

		&-summ
			font-size: 30px
			margin-left: auto
			+until-768
				font-size: 20px
			+until-480
				font-size: 16px
				margin: auto

	&__title
		margin-bottom: 35px
		font-weight: 700
		font-size: 20px
		line-height: 1.5
		color: #1a0dab

		text-decoration: underline
		text-decoration-style: dashed
		text-underline-offset: 4px
		text-decoration-color: rgba(60,60,59,.5)

		&:hover
			color: var(--color-red)
			text-decoration: none

		+until-992
			margin-bottom: 25px

			font-size: 24px

		+until-768
			margin-bottom: 12px

			font-size: 18px

		+until-480
			font-size: 14px
			line-height: 1.3

			text-align: center

	&__subtitle
		display: block

		font-weight: 400
		font-size: 20px
		line-height: 1.5

		+until-992
			font-size: 18px

		+until-768
			font-size: 14px

		+until-480
			font-size: 10px

	&__old-price-value
		@extend .js-product__old-price

	&__price
		display: flex
		flex-direction: column
		align-items: center

		+until-480
			text-align: center

		&:not(:last-child)
			margin-right: 50px

			+until-992
				margin-right: 25px

			+until-480
				margin-right: 0
				margin-bottom: 18px

		&-value
			font-weight: 700
			font-size: 20px
			line-height: 1.5

			white-space: nowrap

			+until-768
				font-size: 18px

			+until-480
				font-size: 16px

		&-notion
			font-weight: 400
			font-size: 14px
			line-height: 1.5

			color: var(--color-gray)

			+until-992
				font-size: 14px

			+until-480
				font-size: 10px

	&__counter
		flex: 0 1 237px

		+until-992
			flex: 0 1 200px

		+until-768
			margin-top: 10px
			flex: 0 1 130px

		+until-480
			flex: unset
			margin-top: 0
			width: 100%

	&:hover
		background-color: #dddcdc
		box-shadow: none

		& .cart-item
			&__picture
				background-color: var(--color-white)
