.default-input
    position: relative
    flex-direction: column
    display: flex
    flex: 1 1 auto

    .error
        display: block
        font-size: 14px

    &.valid
        &::after
            position: absolute
            top: 25px
            left: 13px
            content: '✱'
            width: 12px
            height: 12px
            font-size: 10px
            transform: translateY(-50%)
            text-align: center
            color: var(--color-red)

            +until-768
                display: none

    &__input
        height: 50px
        width: 100%
        padding: 0 37px

        font-weight: 400
        font-size: 16px
        line-height: 1.2

        border: 1px solid var(--color-gray-lt)
        border-radius: var(--border-radius-base)
        color: inherit
        background-color: var(--color-gray-lt)

        transition: border-color .3s ease

        +until-768
            padding: 0 15px
            font-size: 14px

        &::placeholder
            color: var(--color-gray-md)

        &:focus
            border-color: var(--color-red)
            outline: none !important

        &:disabled
            background-color: var(--color-gray-md)
            pointer-events: none

        &.error,
        &:invalid:not(:placeholder-shown)
            border-color: var(--color-red)
            background-color: var(--color-red-lt)
            ~ .default-input
                &__error
                    opacity: 1
                    font-size: 12px

    &__error
        position: absolute
        left: 0
        top: 100%

        font-size: 0
        font-weight: 400
        line-height: 1.5

        color: var(--color-red)
        opacity: 0

        transition: opacity .3s ease, font-size .3s ease
        pointer-events: none
