// ------------------------------
// Миксины
// ------------------------------
@mixin set_colors_1($property)
    @at-root .knauf &
        #{$property}: #4f70ad
    @at-root .rockwool &
        #{$property}: #AA000F
    @at-root .tn &
        #{$property}: #ED1C24
    @at-root .penoplex &
        #{$property}: #F36F21
    @at-root .isover &
        #{$property}: #FFDD00
    @at-root .paroc &
        #{$property}: #CE1126
    @at-root .ursa &
        #{$property}: #EA4740

@mixin set_colors_2($property)
    @at-root .knauf &, .knauf
        #{$property}: #323232
    @at-root .rockwool &, .rockwool
        #{$property}: #323232
    @at-root .tn &, .tn
        #{$property}: #666666
    @at-root .penoplex &, .penoplex
        #{$property}: #323232
    @at-root .isover &, .isover
        #{$property}: #323232
    @at-root .paroc &, .paroc
        #{$property}: #323232
    @at-root .ursa &, .ursa
        #{$property}: #232F61

@mixin set_colors_3($property)
    @at-root .knauf &
        #{$property}: #FFB400
    @at-root .rockwool &
        #{$property}: #D20014
    @at-root .tn &
        #{$property}: #ED1C24
    @at-root .penoplex &
        #{$property}: #F36F21
    @at-root .isover &
        #{$property}: #80C31C
    @at-root .paroc &
        #{$property}: #CE1126
    @at-root .ursa &
        #{$property}: #EA4740

@mixin colors_to_selector($selector)
    &[data-val="ral-1014"]#{$selector}
        background-color: #F0E283
    &[data-val="ral-1015"]#{$selector}
        background-color: #F0E7A9
    &[data-val="ral-1018"]#{$selector}
        background-color: #F4FF04
    &[data-val="ral-2004"]#{$selector}
        background-color: #e8540d
    &[data-val="ral-3003"]#{$selector}
        background-color: #870a24
    &[data-val="ral-3005"]#{$selector}
        background-color: #581e29
    &[data-val="ral-3009"]#{$selector}
        background-color: #6d312b
    &[data-val="ral-3011"]#{$selector}
        background-color: #791f24
    &[data-val="ral-5002"]#{$selector}
        background-color: #162e7b
    &[data-val="ral-5005"]#{$selector}
        background-color: #004389
    &[data-val="ral-5018"]#{$selector}
        background-color: #218c8f
    &[data-val="ral-5021"]#{$selector}
        background-color: #00747d
    &[data-val="ral-6002"]#{$selector}
        background-color: #276230
    &[data-val="ral-6005"]#{$selector}
        background-color: #0e4438
    &[data-val="ral-6019"]#{$selector}
        background-color: #b2d8b4
    &[data-val="ral-6020"]#{$selector}
        background-color: #394937
    &[data-val="ral-7004"]#{$selector}
        background-color: #999a9f
    &[data-val="ral-7005"]#{$selector}
        background-color: #6d7270
    &[data-val="ral-7016"]#{$selector}
        background-color: #363d43
    &[data-val="ral-7024"]#{$selector}
        background-color: #484b52
    &[data-val="ral-8004"]#{$selector}
        background-color: #904e3b
    &[data-val="ral-8017"]#{$selector}
        background-color: #45302b
    &[data-val="ral-9003"]#{$selector}
        background-color: #f8f9fb
    &[data-val="ral-9005"]#{$selector}
        background-color: #151619
    &[data-val="ral-9006"]#{$selector}
        background-color: #C0BCB1
    &[data-val="rr-11"]#{$selector}
        background-color: #234306
    &[data-val="rr-21"]#{$selector}
        background-color: #A6A6A6
    &[data-val="rr-22"]#{$selector}
        background-color: #e2e2e2
    &[data-val="rr-23"]#{$selector}
        background-color: #484b52
    &[data-val="rr-29"]#{$selector}
        background-color: #712200
    &[data-val="rr-32"]#{$selector}
        background-color: #3b3332
    &[data-val="rr-32--серо-зеленый-"]#{$selector}
        background-color: #e2e2e2
    &[data-val="rr-887"]#{$selector}
        background-color: #45302b
    &[data-val="rr-33"]#{$selector}
        background-color: #151619
    &[data-val="ral-3016"]#{$selector}
        background-color: #a94c44
    &[data-val="ral-8019"]#{$selector}
        background-color: #3b3332
    &[data-val="rr-750"]#{$selector}
        background-color: #904e3b
    &[data-val="ral-300"]#{$selector}
        background-color: #5d2029
    &[data-val="ral-3005-муар"]#{$selector}
        background-color: #59191f
    &[data-val="ral-3005-эластичная"]#{$selector}
        background-color: #5c2429
    &[data-val="ral-3011-эластичная"]#{$selector}
        background-color: #792423
    &[data-val="ral-3013"]#{$selector}
        background-color: #972e25
    &[data-val="ral-3020"]#{$selector}
        background-color: #bb1e10
    &[data-val="ral-5015"]#{$selector}
        background-color: #007cb0
    &[data-val="ral-6005-муар"]#{$selector}
        background-color: #114232
    &[data-val="ral-6005-эластичная"]#{$selector}
        background-color: #0e4232
    &[data-val="ral-6007"]#{$selector}
        background-color: #2c3222
    &[data-val="ral-6018"]#{$selector}
        background-color: #61993b
    &[data-val="ral-7024-муар"]#{$selector}
        background-color: #45494e
    &[data-val="ral-7024-эластичная"]#{$selector}
        background-color: #56575c
    &[data-val="ral-8004-муар"]#{$selector}
        background-color: #8c4933
    &[data-val="ral-8004-эластичная"]#{$selector}
        background-color: #8d4931
    &[data-val="ral-8017-муар"]#{$selector}
        background-color: #442f29
    &[data-val="ral-8017-эластичная"]#{$selector}
        background-color: #46322d
    &[data-val="ral-9002"]#{$selector}
        background-color: #d7d5cb
    &[data-val="ral-9003-эластичная"]#{$selector}
        background-color: #ecece7
    &[data-val="ral-9005-муар"]#{$selector}
        background-color: #0e0e10
    &[data-val="ral-9010"]#{$selector}
        background-color: #f1ece1
    &[data-val="ral-al-zn"]#{$selector}
        background-color: #c2c2c2
    &[data-val="rr-11-муар"]#{$selector}
        background-color: #234306
    &[data-val="rr-29-муар"]#{$selector}
        background-color: #692c1a
    &[data-val="rr-32-муар"]#{$selector}
        background-color: #3b3332
    &[data-val="rr-32-эластичная"]#{$selector}
        background-color: #3b3332
    &[data-val="rr-35"]#{$selector}
        background-color: #154d7e
    &[data-val="rr-20"]#{$selector}
        background-color: #f8f9fb

// ------------------------------
// Классы для наследования
// ------------------------------
%css-arrow
    content: ""
    width: 6px
    height: 6px
    display: block
    border: solid
    border-width: 0 3px 3px 0
    position: absolute
    border-radius: 1px

    @at-root .knauf &
        border-color:  #ffb400
    @at-root .rockwool &
        border-color: #AA000F
    @at-root .tn &
        border-color: #ED1C24
    @at-root .penoplex &
        border-color: #F36F21
    @at-root .isover &
        border-color: #323232
    @at-root .paroc &
        border-color: #CE1126
    @at-root .ursa &
        border-color: #232F61

// ------------------------------
// Базовые стили
// ------------------------------
h1, h2, h3, h4, h5, h6
    font-weight: normal

a, input, textarea
    color: #323232

a:hover
    +set_colors_1(color)

.wrap
    width: 100%

    @media screen and (max-width: 768px)
        padding-top: 80px
        padding-bottom: 56px

.wrapper
    max-width: 1150px
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto

.adaptive-img
    max-width: 100%
    height: auto
    display: block

.catalog__cards
    margin-bottom: 0

    @media screen and (max-width: 550px)
        display: flex
        flex-wrap: wrap

.catalog__card
    @media screen and (max-width: 550px)
        width: calc(50% - 10px)

.asfs
    align-self: flex-start

.rm-vert-mgs
    margin-top: 0
    margin-bottom: 0

// ------------------------------
// Переопределение стилей в main.css (минифицированном файле). А также новые стили для тех блоков, которые там описаны (чтобы не создавать .sass для пары строк)
// ------------------------------
.scroll-top
    @media screen and (max-width: 768px)
        bottom: 68px

.payment__item-top:hover, .catalog-page__card-content:hover, .questions__item-top:hover
    +set_colors_3(border-color)

.sect-inner__content
    margin-bottom: 60px

.form
    &__error
        &:empty
            display: none

    &__inputs
        textarea
            padding-right: 14px
            padding-bottom: 8px

        textarea, input
            font-size: 14px

.reviews__top .reviews__top-value
    margin-right: 10px

.product-card__form, .product-card__controls
    margin-bottom: 15px

.product-item__to-cart
    max-width: 271px

.listing__products-item-right, .product-item__to-cart
    width: 100%
    height: 100%

    @media screen and (max-width: 768px)
        max-width: none

.hidden
    display: none !important

// ------------------------------
// Переопределение базовых стилей (базовые стили написаны в самом верху этого файла)
// ------------------------------
a.white-btn, button.white-btn
    &:hover
        color: #fff

.wrap
    .promo__top-card, .yellow-btn
        &:hover
            color: currentColor

    .yellow-btn, .promo__top-card-text, .white-btn, .catalog__card-title-span, .promo__top-card-text-span
        color: #3c3c3b

    .header__nav-item_special:hover > .header__nav-link
        +set_colors_3(color)

.header
    &__callback
        &:hover
            @at-root .knauf &
                color: #FFB400
            @at-root .rockwool &
                color: #D20014
            @at-root .tn &
                color: #ED1C24
            @at-root .penoplex &
                color: #F36F21
            @at-root .isover &
                color: #FFDD00
            @at-root .paroc &
                color: #CE1126
            @at-root .ursa &
                color: #EA4740

.stocks
    .stocks__banner-text-span
        color: #ffbe00

    .stocks__link
        &:hover
            color: #fff

.category-header
    text-align: left
    font-size: 24px
    color: #323232

    &__inner-text
        font-size: inherit
        color: inherit

.sect-serts
    margin-bottom: 40px

    .certs-block__pdf-preview
        width: 200px
        height: 283px

.custom-link
    border-bottom: 1px dashed
    transition: border-bottom .3s

    &:hover
        border-bottom-color: transparent

.cursor-zoom
    cursor: zoom-in

#jGrowl
    z-index: 100000

.os-scrollbar-handle
    &::before
        cursor: grab
        left: 0 !important
        right: 0 !important
        width: 8px !important


.js
    &-tabs-content
        display: none

        &.active
            display: block

.fade
    opacity: 0

.jGrowl .jGrowl-message a
    color: #fff
    text-decoration: underline

    &:hover
        color: #fff
        text-decoration: none

.zoom
    cursor: zoom-in

.product-logo
    display: none

    @at-root .krovlya &
        display: block
        width: 75px
        height: 38px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain

        &[data-brand="aquasystem"]
            background-image: url(/assets/template/img/brands/aquasystem.jpg)
        &[data-brand="braas"]
            background-image: url(/assets/template/img/brands/braas.jpg)
        &[data-brand="certainteed"]
            background-image: url(/assets/template/img/brands/certainteed.jpg)
        &[data-brand="docke"]
            background-image: url(/assets/template/img/brands/docke.jpg)
        &[data-brand="icopal"]
            background-image: url(/assets/template/img/brands/icopal.jpg)
        &[data-brand="katepal"]
            background-image: url(/assets/template/img/brands/katepal.jpg)
        &[data-brand="kriastak"]
            background-image: url(/assets/template/img/brands/kriastak.jpg)
        &[data-brand="krovent"]
            background-image: url(/assets/template/img/brands/krovent.jpg)
        &[data-brand="металл-профиль"]
            background-image: url(/assets/template/img/brands/metallprofil.jpg)
        &[data-brand="ондулин"]
            background-image: url(/assets/template/img/brands/onduline.jpg)
        &[data-brand="тегола"]
            background-image: url(/assets/template/img/brands/tegola.jpg)
        &[data-brand="технониколь"]
            background-image: url(/assets/template/img/brands/tn.jpg)
        &[data-brand="grand-line"]
            background-image: url(/assets/template/img/brands/grand-line.jpg)
        &[data-brand=""]
            display: none
