// ------------------------------
// Миксины
// ------------------------------
@mixin set_colors_1($property)
    @at-root .knauf &
        #{$property}: #4f70ad
    @at-root .rockwool &
        #{$property}: #AA000F
    @at-root .tn &
        #{$property}: #ED1C24
    @at-root .penoplex &
        #{$property}: #F36F21
    @at-root .isover &
        #{$property}: #FFDD00
    @at-root .paroc &
        #{$property}: #CE1126
    @at-root .ursa &
        #{$property}: #EA4740

@mixin set_colors_2($property)
    @at-root .knauf &, .knauf
        color: #323232
    @at-root .rockwool &, .rockwool
        color: #323232
    @at-root .tn &, .tn
        color: #666666
    @at-root .penoplex &, .penoplex
        color: #323232
    @at-root .isover &, .isover
        color: #323232
    @at-root .paroc &, .paroc
        color: #323232
    @at-root .ursa &, .ursa
        color: #232F61

@mixin set_colors_3($property)
    @at-root .knauf &
        #{$property}: #FFB400
    @at-root .rockwool &
        #{$property}: #D20014
    @at-root .tn &
        #{$property}: #ED1C24
    @at-root .penoplex &
        #{$property}: #F36F21
    @at-root .isover &
        #{$property}: #80C31C
    @at-root .paroc &
        #{$property}: #CE1126
    @at-root .ursa &
        #{$property}: #EA4740

// ------------------------------
// Классы для наследования
// ------------------------------
%css-arrow
    content: ""
    width: 6px
    height: 6px
    display: block
    border: solid
    border-width: 0 3px 3px 0
    position: absolute
    border-radius: 1px

    @at-root .knauf &
        border-color:  #ffb400
    @at-root .rockwool &
        border-color: #AA000F
    @at-root .tn &
        border-color: #ED1C24
    @at-root .penoplex &
        border-color: #F36F21
    @at-root .isover &
        border-color: #323232
    @at-root .paroc &
        border-color: #CE1126
    @at-root .ursa &
        border-color: #232F61

// ------------------------------
// Базовые стили
// ------------------------------
a, input, textarea
    +set_colors_2(color)

a:hover
    +set_colors_1(color)

.wrap
    width: 100%

    @media screen and (max-width: 768px)
        padding-top: 80px
        padding-bottom: 56px

.wrapper
    max-width: 1150px
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto

.adaptive-img
    max-width: 100%
    height: auto
    display: block

.catalog__cards
    margin-bottom: 0

// ------------------------------
// Переопределение стилей в main.css (минифицированном файле). А также новые стили для тех блоков, которые там описаны (чтобы не создавать .sass для пары строк)
// ------------------------------
.scroll-top
    @media screen and (max-width: 768px)
        bottom: 68px

.payment__item-top:hover, .catalog-page__card-content:hover, .questions__item-top:hover
    +set_colors_3(border-color)

.sect-inner__content
    margin-bottom: 60px

.form
    &__error
        &:empty
            display: none

    &__inputs
        textarea
            padding-right: 14px
            padding-bottom: 8px

        textarea, input
            font-size: 14px

.reviews__top .reviews__top-value
    margin-right: 10px

.product-card__form, .product-card__products-item-controls
    margin-bottom: 15px

.listing__products-item-right, .product-item__to-cart
    max-width: 271px
    width: 100%

.btn_more
    margin-bottom: 20px

// ------------------------------
// Переопределение базовых стилей (базовые стили написаны в самом верху этого файла)
// ------------------------------
a.white-btn, button.white-btn
    &:hover
        color: #fff

.wrap
    .promo__top-card, .yellow-btn
        &:hover
            color: currentColor

    .yellow-btn, .promo__top-card-text, .white-btn, .catalog__card-title-span, .promo__top-card-text-span
        color: #3c3c3b

    .header__nav-item_special:hover > .header__nav-link
        +set_colors_3(color)

.header
    &__callback
        &:hover
            @at-root .knauf &
                color: #FFB400
            @at-root .rockwool &
                color: #D20014
            @at-root .tn &
                color: #ED1C24
            @at-root .penoplex &
                color: #F36F21
            @at-root .isover &
                color: #FFDD00
            @at-root .paroc &
                color: #CE1126
            @at-root .ursa &
                color: #EA4740

.stocks
    .stocks__banner-text-span
        color: #ffbe00

    .stocks__link
        &:hover
            color: #fff

.category-header
    align-items: flex-start

    &__title
        text-align: left
        font-weight: 400
        font-size: 24px

.sect-serts
    margin-bottom: 40px

    .certs-block__pdf-preview
        width: 200px
        height: 283px

.custom-link
    border-bottom: 1px dashed
    transition: border-bottom .3s

    &:hover
        border-bottom-color: transparent

.cursor-zoom
    cursor: zoom-in

#jGrowl
    z-index: 100000

.os-scrollbar-handle
    &::before
        cursor: grab
        left: 0 !important
        right: 0 !important
        width: 8px !important
