.wrap
    width: 100%

    @media screen and (max-width: 768px)
        padding-top: 102px

    @media screen and (max-width: 480px)
        padding-top: 80px

.wrapper
    max-width: 1150px
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto

.adaptive-img
    max-width: 100%
    height: auto
    display: block

%css-arrow
    content: ""
    width: 6px
    height: 6px
    display: block
    border: solid #ffb400
    border-width: 0 3px 3px 0
    position: absolute
    border-radius: 1px
