.has-icon
    display: flex

    &.icon-checkmark
        &::before
            content: ''
            width: 14px
            height: 14px
            margin-right: 8px
            align-self: center
            flex-shrink: 0
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='%2349BF63'/%3E%3Cpath d='M4 5.89474L5.51996 7.51469C5.56199 7.55949 5.6341 7.55615 5.67182 7.50766L8.4 4' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E")
            background-position: center
            background-repeat: no-repeat
            background-size: 100%
