body.have-preloader
    overflow: hidden

#preloader, #preloader-status
    transition: opacity 350ms

    &.hide
        opacity: 0

#preloader
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 999900
    background-color: #fff

#preloader-status
    opacity: 1
    position: absolute
    top: 50%
    left: 50%
    background-repeat: no-repeat
    background-position: center center
    transition: opacity 350ms

    @at-root .kirpich-m &
        width: 200px
        height: 200px
        background-image: url(/assets/template/img/preloader/preloader-kirpich-m.gif)
        transform: translate(-50%, -50%)

    @at-root .krovlya &
        width: 200px
        height: 200px
        background-image: url(/assets/template/img/preloader/preloader-krovlya.gif)
        transform: translate(-50%, -50%)
