@use "../base/variables.scss";

.tooltip {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: #fff;
  color: variables.$dark-gray-1;
  bottom: 100%;

  @media (max-width: variables.$bp768) {
    font-size: 11px;
  }

  &-wrapper {
    position: relative;
    cursor: help;

    &:hover {
      .tooltip {
        opacity: 1;
        // pointer-events: auto;
      }
    }
  }


}