@use "./variables.scss";

.btn {
  width: max-content;
  max-width: 100%;
  height: max-content;
  padding: 16px 20px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;

  @media (max-width: variables.$bp768) {
    font-size: 12px;
  }

  @media (max-width: variables.$bp480) {
    border-radius: 3px;
  }

  &-bordered {
    color: variables.$red;
    border: 1px solid variables.$red;

    &:hover {
      background-color: variables.$red-transparent;
    }

    &.active {
      color: #fff;
      background-color: variables.$red;
    }
  }

  &-simple {
    color: variables.$red;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid variables.$red;
    }
  }

  &-primary {
    color: #fff;
    background-color: variables.$red;

    &:hover {
      background-color: variables.$red-dark;
    }
  }

  &-beauty {
    background-image: linear-gradient(270.06deg,
        #fa7800 -1.88%,
        #ebaf00 99.94%);
    box-shadow: 0 2px 0 #cf6518;
    color: #fff;

    &:hover {
      background-image: linear-gradient(270.06deg, #fa7800 0, #fa7800 100%);
    }

    &:active {
      background-image: linear-gradient(270.06deg, #cf6518 0, #cf6518 100%);
    }
  }

  &-link {
    padding: 0;
    text-transform: none;
    font-weight: 400;

    &:hover {
      opacity: 0.5;
    }
  }

  &-dark {
    color: #fff;
    background-color: #3c3c3b;

    &:hover {
      background-color: #4d4d4d;
    }
  }
}

.btn-icon {
  border-radius: 6px;
  border: none;
  background: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
  position: relative;

  &:hover,
  &.hovered {
    border: 1px solid variables.$red;

    .btn-icon__tips {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__tips {
    background-color: #2e323d;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    border-radius: 6px;

    width: max-content;
    max-width: 300px;

    position: absolute;
    width: max-content;
    display: block;
    transform: translate(-120px, -90px);

    opacity: 0;
    pointer-events: none;
    transition: .3s;
  }
}