*
!/composer.json

!/core
!/core/cron
!/core/cron/**

!/core
!/core/elements
!/core/elements/**

/core/elements/vite

!/TODO
!/TODO/**

!/_src-vite
!/_src-vite/**

!/api
!/api/**

!/assets
!/assets/template

!/assets/template/icons
!/assets/template/icons/**

!/assets/template/json
!/assets/template/json/**

!/assets/template/js
!/assets/template/js/**
/assets/template/js/dynamics_1.js
/assets/template/js/main.js
/assets/template/js/runtime.js
/assets/template/js/swiper.js
/assets/template/js/vendors.js

!/assets/components
!/assets/components/**
/assets/components/wall-calc/api.php

!/package.json
!/webpack.config.js
!/postcss.config.js

!/README.md
!/.gitignore

!/vite.config.js
!/.github
!/.github/**