node_modules/
.vscode
.idea
.env
*sync*
nohup*
assets/template/js/
!assets/template/js/jquery-3.7.1.min.js
assets/template/css/
assets/components/wall-calc/
assets/template/wall-calc/
*backup.config.js
backup_untracked.php
swmine.sh
getpr.sh
/core/elements/modules/menugen_v2/phpscripts/catalog.json
/core/elements/phpscripts/