.product
    &__infoblocks
        .table__cell
            font-size: 16px
            line-height: 1.2
            padding: 9px 7px 10px

    &__title
        margin-bottom: 24px

    &__body
        display: grid
        grid-template-columns: minmax(400px, 1fr) minmax(500px, 591px)
        grid-gap: 40px
        align-items: flex-start

        +until-1200
            grid-gap: 15px

        +until-992
            grid-template-columns: 100%

        &.product-subbody //gbi-zavod78
            margin-top: 5em

    &__pictures
        display: grid
        grid-template-columns: minmax(90px, 135px) minmax(0, 1fr)
        gap: 15px
        height: 552px


        & .swiper-button-prev, & .swiper-button-next
            width: 100%
            position: absolute
            left: 0
            background: rgba(255, 255, 255, 0.8)

        & .swiper-button-next
            bottom: 0
            top: auto

        & .swiper-button-prev
            top: 0



        & .swiper-button-prev:after, & .swiper-button-next:after
            transform: rotate(90deg)


        +until-1200
            height: auto
            grid-template-columns: 100%
            grid-template-rows: auto 112px

        +until-768
            gap: 5px
            grid-template-rows: auto 72px

        &-thumbs
            height: 100%
            width: 100%

            +until-1200
                grid-row: 2

        &-slider
            height: 100%

            +until-1200
                grid-row: 1


        &-slide,
        &-thumb
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer

        &-slide
            padding: 10%

        &-thumb
            background-color: var(--color-white)
            border-radius: var(--border-radius-base)

            &.swiper-slide-thumb-active
                border: 2px solid var(--color-red)

        &-image
            display: block
            max-width: 100%
            max-height: 100%

            object-fit: contain

    &__picture
        position: relative
        background-color: var(--color-white)
        border-radius: var(--border-radius-base)

        @at-root .product.js-product_with-discount &
            position: relative

            &::before
                right: 50px
                top: 12px
                width: 60px
                height: 83px
                content: ""
                display: block
                position: absolute
                background: url(/assets/template/img/discount.png) no-repeat center center
                background-size: contain
                z-index: 5

    &__actions
        position: absolute
        top: 10px
        left: 10px
        z-index: 9
        display: flex
        align-items: center

        & .product-action
            +until-768
                width: 40px
                height: 40px

            &:not(:last-child)
                margin-right: 10px

                +until-768
                    margin-right: 4px

    .tooltip
        bottom: 13px

        +until-768
            bottom: 19px
            right: calc(50% - 155px)

        &:after
            right: 72px
            +until-768
                left: auto
                right: calc(50% - 43px)
            +until-480
                right: calc(50% - 32px)

.product-subbody //gbi-zavod78
    &__left
        position: relative
        .title
            position: absolute
            top: 0
            width: 100%
            text-align: center
            font-weight: 600
            font-size: 23px
            margin-top: -30px
    .certs-wrapper
        width: 100%
        height: 100%
        overflow-x: auto
        background-color: var(--color-white)
        border-radius: var(--border-radius-base)
    .certs-block
        display: flex
        margin-inline: auto
        flex-wrap: nowrap
        padding: 1em
        gap: 1em
        margin: 0px
        margin-right: 1em


        &__item
            margin: 0 0 0 0

        &__cert-preview
            box-sizing: border-box
            position: relative
            border-radius: 6px
            border: 1px solid #D3553C
            overflow: hidden
            &::after
                content: ""
                position: absolute
                inset: 0
                background: url('/assets/template/img/icons/magnifier.svg') no-repeat
                background-color: #D3553C54
                background-position: center
                opacity: 0
                transition: all .2s
            &:hover
                &::after
                    opacity: 1

.product-info.custom
    padding: 30px 40px 50px
    background-color: var(--color-white)
    border-radius: var(--border-radius-base)
    &__article
        margin-bottom: 10px

    &__undertext
        margin-top: 20px

    &__undertext-span
        display: flex

        & .icon
            color: var(--color-red)
            margin-right: 5px

        &:nth-of-type(1) 
            margin-bottom: 10px 
	 
    &__undertext-span-header
        font-weight: bold 
            
    +until-768
        padding: 20px 20px 25px

    &__selected-characteristics
        width: 100%
        margin-top: 10px
        @at-root .gbi-zavod78 &
            margin-bottom: 1em

    &__shipped
        font-size: 14px
        line-height: 1.7
        align-items: center

        +until-480
            margin-bottom: 5px
            font-size: 11px

        &::before
            width: 20px
            height: 20px
            margin-right: 7px
            content: ""
            display: inline-block
            background: url(/assets/template/img/svg-sprite/shipped.svg) no-repeat center center
            background-size: contain

            +until-480
                max-width: 12px
                height: 12px
                margin-right: 5px

    &__delivery-btn
        margin-top: 20px

    &__euv-custom-select
        flex-grow: 1
        margin-right: 20px

        .euv-custom-select__input-value
            font-weight: bold
            color: var(--color-red)
        
        .euv-custom-select__option
            font-weight: 700

        +until-768
            margin-top: 20px
            margin-right: 0
            width: 100%

    &__discount
        text-align: center
        font-weight: 700
        font-size: 30px
        line-height: 1.2
        margin-top: 24px

    &__discount-start::before
        margin-right: 6px

    &__discount-end::after
        margin-left: 8px

    &__discount-start, &__discount-end
        white-space: nowrap

    &__discount-start::before, &__discount-end::after
        content: ""
        display: inline-block
        width: 34px
        height: 34px
        background: url(/assets/template/img/gift.png) no-repeat
        background-size: contain
        margin-bottom: -3px

    &__fast-buy
        width: 100%
        margin-top: 10px

        +until-768
            order: 4

    &__top
        padding-bottom: 24px
        margin-bottom: 24px
        border-bottom: 1px solid var(--color-black-trans)

        +until-480
            margin-bottom: 30px
            @at-root .gbi-zavod78 & 
                padding-bottom: 0

    &__rating
        margin-bottom: 25px
        @at-root .gbi-zavod78 &  
            margin-bottom: 10px

        +until-480
            justify-content: center
            margin-bottom: 10px
            @at-root .gbi-zavod78 & 
                flex-direction: column

            .rating__star:not(:last-child)
                margin-right: 3px

            .rating__reviews
                margin-left: 5px
                line-height: 1.3

            .rating__reviews, .product-info__availability-title
                font-size: 11px

    &__availability-title
        font-size: 14px
        line-height: 1.7

        &_available, &_fast, &_zbi, &_guard
            &::before
                content: ''
                width: 12px
                height: 12px
                flex-shrink: 0
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='%2349BF63'/%3E%3Cpath d='M4 5.89474L5.51996 7.51469C5.56199 7.55949 5.6341 7.55615 5.67182 7.50766L8.4 4' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E")
                background-position: center
                background-repeat: no-repeat
                background-size: contain
                margin-right: 12px
                margin-left: 3px
                margin-top: 6px

                +until-480
                    margin-right: 3px
                    margin-top: 4px
                    margin-left: 0

        &_zbi
            &::before
                width: 17px
                height: 14px
                margin-top: 2px
                background-image: url("/assets/template/img/icons/checkround.svg")
        &_fast
            &::before
                width: 17px
                height: 14px
                margin-top: 2px
                background-image: url("/assets/template/img/icons/timefast.svg")
            a
                margin-left: .7em
                color: var(--color-red)
        &_guard
            &::before
                width: 17px
                height: 14px
                margin-top: 2px
                background-image: url("/assets/template/img/icons/guard.svg")


        +until-480
            margin-right: auto

    &__relinkav

        display: flex
        align-items: center
        justify-content: space-between

        +until-768
            flex-direction: column-reverse
            align-items: flex-start

    &__avstock
        display: flex
        flex-direction: column
        margin-top: 20px

        +until-480
            display: none

    &__params
        display: flex
        align-items: center
        flex: 1 1 50%
        margin-right: 20px

        +until-768
            width: 100%

        +until-480
            flex-direction: column

    &__param
        flex: 1 1 30%

        +until-768
            flex: 1 1 50%

        +until-480
            flex: unset
            width: 100%

        &:not(:last-child)
            margin-right: 10px

            +until-480
                margin-right: 0
                margin-bottom: 10px

    &__bottom
        display: flex
        flex-wrap: wrap
        align-items: flex-start


    &__select-link
        margin-bottom: 10px

    &__volume, &__select-link
        display: flex
        flex-direction: column

        +until-768
            order: 2
            flex-direction: row
            align-items: center

        +until-480
            order: 1

        &:not(:last-child)
            margin-right: 20px
            +until-768
                margin-right: 0

        &-title
            font-weight: 400
            font-size: 16px
            line-height: 1.7

            &:not(:last-child)
                margin-bottom: 3px
                +until-768
                    margin-bottom: 0
                    margin-right: 15px

        &-tabs
            display: flex
            align-items: center

        &-tab
            padding: 7px 8px 4px
            height: 45px
            min-width: 50px
            display: flex
            align-items: center
            justify-content: center

            font-weight: 700
            font-size: 16px
            line-height: 1.2
            text-align: center
            text-transform: uppercase

            border: 1px solid var(--color-red)
            background-color: var(--color-white)
            border-radius: var(--border-radius-base)
            color: var(--color-red)

            transition: background-color .3s ease, color .3s ease
            cursor: pointer

            &.active
                cursor: default

            & a
                font-weight: 500

            &:hover a
                color: #fff
                transition: 0.35s

            +until-768
                padding: 6px 3px 4px
                height: 30px
                min-width: 30px

                font-size: 10px

            &:not(:last-child)
                margin-right: 10px

            &:hover,
            &.active
                background-color: var(--color-red)
                color: var(--color-white)

    &__price
        margin-left: auto
        margin-top: 30px
        position: relative
        display: flex
        flex-direction: column
        align-items: flex-start

        +until-768
            order: 1
            margin-top: 0
            margin-left: 0
            margin-bottom: 10px
            flex: 1 1 100%
            text-align: center
            align-items: center

        @at-root .product.js-product_with-discount
            .product-info__price-value
                background-color: #fded7b
                color: #d51c21
                line-height: 1.0
                cursor: pointer
                margin-bottom: 6px
                order: 1
                transition: .3s

                &:hover
                    box-shadow: 0 0 30px rgba(211,85,60,.44)

            .product-info__price
                margin-top: 20px
                color: #000

                +until-768
                    margin-top: 0

                +until-480
                    margin-top: 20px

                &::after
                    display: block
                    content: ""
                    order: 2
                    width: 100%

            .js-product__old-price
                order: 3

        +until-480
            margin-top: 10px
            margin-bottom: 0
            order: 2
            text-align: left

        &-notion
            margin-bottom: 4px
            font-weight: 400
            font-size: 16px
            line-height: 1.7

        &-value
            font-weight: 700
            font-size: 30px
            line-height: 1.5

    &__price-tooltip-wrapper
            position: relative

    &__actions
        margin-top: 30px
        width: 100%

        .counter__btn, .counter
            +until-768
                height: 40px

        .counter__btn
            max-width: 50px

            +until-480
                flex-basis: 24px

        .btn
            flex-grow: 1
            order: 1
            margin-right: 0
            margin-left: 25px

            +until-480
                flex-basis: 159px
                margin-left: 22px

        .product-card__counter
            max-width: 178px

        .product-card__add
            &::after
                display: none

        +until-768
            order: 3

        +until-480
            margin-top: 20px
            grid-template-columns: 130px minmax(0, 1fr)

    &__counter
        height: 50px

        +until-768
            height: 40px

        & .counter
            &__btn
                flex: 0 0 50px
                +until-768
                    flex: 0 1 40px

            &__input
                font-size: 16px

                +until-768
                    font-size: 14px

    &__buy,
    &__fast-buy
        height: 50px

    &__fast-buy
        grid-column: 1 / -1

    &__price-mes
        text-align: left
        bottom: 68px
        right: -54px
        color: #fff
        position: absolute
        opacity: 0
        pointer-events: none
        padding: 16px
        box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .4), 0 1.17px 2px rgba(0, 0, 0, 0.0196802), 0 1.4px 5px rgba(0, 0, 0, 0.03), 0 2px 10px rgba(0, 0, 0, 0.03), 0 2px 18px rgba(0, 0, 0, 0.04), 0 9px 33px rgba(0, 0, 0, 0.03)
        width: 324px
        background: #2e323d
        border-radius: 8px
        transition: opacity .2s ease-out
        will-change: opacity

        +until-768
            right: auto
            left: auto

        +until-480
            width: 300px
            left: -20px
            right: -20px
            margin-left: auto
            margin-right: auto

        &::after
            content: ""
            position: absolute
            width: 0
            height: 0
            border-left: 20px solid transparent
            border-right: 20px solid transparent
            border-top: 20px solid #2e323d
            bottom: -7px
            right: 90px

            +until-768
                right: auto
                left: 50%
                transform: translateX(-50%)

        @at-root .product-info__price.active &
            opacity: 1
            pointer-events: auto

    &__price-mes-header
        font-weight: bold
        margin-bottom: 8px
        font-size: 16px

    &__price-mes-body
        font-size: 14px

    &__price-mes-close
        cursor: pointer
        display: inline-block
        position: absolute
        right: 18px
        top: 18px
        line-height: 0.6

        &::before
            font-size: 27px
            content: "\00d7"
            display: inline-block

    &__relinking
        width: 100%
        margin-bottom: 10px
    .relinking
        &__title
            font-size: 15px
            font-weight: 500
            margin-bottom: 7px
        &__wrapper
            display: flex
            gap: 10px
        &__item
            display: block
            padding: 6px 10px 4px
            border-radius: 3px
            border: 1px solid #B1B2B3
            transition: all .2s
            text-decoration: none
            font-weight: 500
            line-height: 1
            color: #000000
            &:hover
                background-color: var(--color-red)
                color: var(--color-white)
            &_current
                border-color: var(--color-red)
                pointer-events: none


// zbi-500
.action-banner
    padding: 1em
    
    &__head
        font-size: 1.2em
        text-align: center
        background-color: #F6F6F6
        border-radius: 10px
        padding-block: 1em
        b
            color: #6AA84F
    &__actions
        display: flex
        flex-direction: column
        gap: 1em
        margin-top: 1em

    .btn
        text-transform: none
        
        &.btn_phone
            border: 2px solid #6AA84F
            &:hover
                background-color: #6AA84F55
            img
                display: inline-block
                height: 18px
                margin-right: 10px
        &.btn_email
            color: #fff
            background-color: #6AA84F
                    
            &:hover
                color: #333
                background-color: #6AA84F55
            a
                color: #fff
                text-decoration: underline dotted
                text-underline-offset: 2px
                &:hover
                    color: #333

.product-info__grid
    width: 100%
    display: grid
    gap: 10px
    grid-template-columns: 1fr 1fr 
    position: relative
    +until-768
        grid-template-columns: 1fr 

.product-card
    &__select-wrap_type_half
        margin-bottom: 5px
        margin-top: 5px
        width:  calc(50% - 6px)
        display: inline-block

    &__select-wrap_type_full
        width: 100%
        margin-bottom: 5px
        margin-top: 5px

    &__select-span
        font-size: 12px
        padding-bottom: 8px

.bold
    font-weight: 700

.euv-custom-select

    &__option::before, &__input-value::before
        content: ""
        width: 40px
        height: 20px
        position: absolute
        left: 20px

    &__input-value::before
        left: 0

    &__option, &__input-value
        +colors_to_selector('::before')

    &__input
        justify-content: center

    &__input, &__options-col, &__option
        color: #111
        font-size: 14px
        font-weight: normal

    &__small-text
        color: #b1b2b3
        font-size: 10px
        margin-left: 6px
        margin-top: 4px

.relink_label
    margin-bottom: 10px
    display: block
    position: relative
    
.relink_select
    background-color: var(--color-gray-lt)
    border: 1px solid var(--color-red)
    color: inherit
    font-size: 20px
    font-weight: 700
    line-height: 1.5
    outline: none
    text-align: center
    width: 100%
    padding: 10px 20px
    
.show-tooltip
    position: relative
    .product-info__availability-title
        cursor: help
        &:hover
            .tooltip-white
                display: block
                z-index: 1
    .tooltip-white
        position: absolute
        width: 300px
        bottom: 100%
        left: 2em
        display: none
        transition: all .2s
        background-color: var(--color-white)
        border-radius: 10px
        box-shadow: var(--shadow-base)
        padding: 1em
        color: #000

.product-pricelist
    max-height: 50dvh
    overflow-y: auto
    box-shadow: inset -10px -20px 50px #eee
    border-radius: 5px
    position: relative
    +until-480
        font-size: 14px
    &-table
        padding: 10px
        background: none

        thead
            position: sticky
            top: 0
        tr
            border-bottom: 1px solid var(--color-gray-lt)
        th
            text-align: center
            font-weight: 600
            padding: 5px
        td 
            padding: 5px
            &:first-child, &:last-child
                vertical-align: middle
            &:last-child
                min-width: 100px
                text-align: center
            p
                margin: 0
                line-height: 1.3
                font-size: .8em

.yandex-rating
    padding: 10px 15px
    background-color: #f9fafa
    border-radius: 6px
    transition: all 1s
    &:hover
        box-shadow: 0 0 15px #ddd
    +until-480 
        margin-bottom: 15px
    img
        display: block
        width: 100%
        max-width: 170px
        min-width: 140px
