.block-delivery
    table.block-delivery__table
        @extend %custom-table
        margin-bottom: 20px

        td, th
            padding: 0

            p
                line-height: 130%
                margin-bottom: 9px
                margin-top: 9px

    &__intro
        text-align: center
        font-size: 18px
        margin-right: auto
