// .header здесь, чтобы переопределить стили, которые в минифицированном файле
.header
    &__catalog
        .burger__stick
            width: 100%

            &:nth-last-of-type(1)
                width: 10px

    &__catalog.opened, &__catalog:hover, .header__burger.opened, .header__burger:hover
        .burger__stick:nth-child(1)
            animation: top .7s ease forwards
        .burger__stick:nth-child(2)
            animation: scaled .7s ease forwards
        .burger__stick:nth-child(3)
            animation: bottom .7s ease forwards
            width: 100%

    .burger
        min-width: 15px

        span
            @at-root .knauf &
                background-color: #4F70AD
            @at-root .rockwool &
                background-color: #AA000F
            @at-root .tn &
                background-color: #ED1C24
            @at-root .penoplex &
                background-color: #FFFFFF
                @media screen and (max-width: 768px)
                    background-color: #f36f21
            @at-root .isover &
                background-color: #323232
            @at-root .paroc &
                background-color: #FFFFFF
                @media screen and (max-width: 768px)
                    background-color: #ce1126
            @at-root .ursa &
                background-color: #FFFFFF
                @media screen and (max-width: 768px)
                    background-color: #ea4740
