// .header здесь, чтобы переопределить стили, которые в минифицированном файле
.header
    .burger
        min-width: 15px

        span
            @at-root .knauf &
                background-color: #4F70AD
            @at-root .rockwool &
                background-color: #AA000F
            @at-root .tn &
                background-color: #ED1C24
            @at-root .penoplex &
                background-color: #FFFFFF
            @at-root .isover &
                background-color: #323232
            @at-root .paroc &
                background-color: #FFFFFF
            @at-root .ursa &
                background-color: #FFFFFF

            width: 100%

            &:nth-last-of-type(1)
                width: 10px

                @at-root .header__catalog .burger:hover
                        & span:nth-child(1)
                            animation: top .7s ease forwards
                        & span:nth-child(2)
                            animation: scaled .7s ease forwards
                        & span:nth-child(3)
                            animation: bottom .7s ease forwards
                            width: 100%

                @at-root .header__burger.opened
                    & span:nth-child(1)
                        animation: top .7s ease forwards
                    & span:nth-child(2)
                        animation: scaled .7s ease forwards
                    & span:nth-child(3)
                        animation: bottom .7s ease forwards
                        width: 100%
