.burger-menu
    position: fixed
    top: var(--header-height)
    left: 0
    z-index: 100

    width: 100dvw
    height: calc(var(--app-height) - var(--header-height))

    background-color: var(--color-gray-lt)
    opacity: 0

    overflow-y: auto
    overflow-x: hidden
    pointer-events: none
    transition: opacity .3s ease

    &.active
        transform: none
        opacity: 1
        pointer-events: all

    &__nav
        padding: 10px 10px 0
        margin: 0 -20px 25px

        background-color: var(--color-white)

        +until-480
            margin: 0 -10px 25px
            padding: 10px 0 0

        &-item
            margin: 0 10px 8px
            &:first-child
                margin-left: 0
                +until-480
                    @at-root body[data-ctx='kirpich-m5'] &
                        margin-left: 10px

            &:last-child
                margin-right: 0

            &:hover > .burger-menu__submenu
                opacity: 1
                pointer-events: auto

            +from-480
                margin: 0 1px 8px

        &-items
            display: flex
            align-items: center
            padding-bottom: 10px
            overflow-x: auto
            scrollbar-color: var(--color-white) var(--color-gray)
            scrollbar-width: thin
            @at-root .plitnye & 
                display: none // есть extranav
                justify-content: space-evenly

            +until-480
                padding-bottom: 0
                @at-root body[data-ctx='kirpich-m5'] &
                    flex-wrap: wrap

            &::-webkit-scrollbar /* 1 - скроллбар */
                appearance: none
                -webkit-appearance: none
                &:horizontal
                    height: 15px

            &::-webkit-scrollbar-track /* 2 - трек */
                border-radius: 0
                background: var(--color-white)

            &::-webkit-scrollbar-thumb /* 3 - ползунок */
                background-color: var(--color-gray-md)
                border-radius: 6px
                border: 5px solid var(--color-white)

        &-link
            padding: 0 8px

            font-weight: 700
            font-size: 16px
            line-height: 1.2

            color: var(--color-black)
            white-space: nowrap
            text-decoration: none
            cursor: pointer

            +until-480
                border-bottom: 1px solid var(--color-gray-md)
                font-size: 13px

            &:first-child
                padding-left: 10px

            &:last-child
                padding-right: 10px

            &.has-icon.icon-star:before
                +until-480
                    top: -2px

    &__catalog
        display: grid
        grid-template-columns: repeat(2, minmax(0, 1fr))
        grid-gap: 10px
        margin-bottom: 10px

        +until-768
            grid-template-columns: 100%
            grid-gap: 5px

    &__submenu
        display: block
        background-color: var(--color-gray-lt)
        border-radius: 10px
        //height: 0
        opacity: 0
        pointer-events: none
        overflow: hidden
        padding: 10px 20px
        position: absolute
        -webkit-transition: opacity .3s ease
        transition: opacity .3s ease
        z-index: 2
        position: absolute
        max-width: 100%
        & > ul > li
            margin: 10px 0

        &--visible
            opacity: 1
            pointer-events: auto

    &__sublink
        color: var(--color-black)
        cursor: pointer
        font-size: 13px
        font-weight: 700
        line-height: 1.2
        margin-bottom: 4px
        text-decoration: none
        white-space: nowrap
        &.has-icon.icon-star
            &:before
                width: 14px
                height: 14px
                font-size: 14px

.bm-cat-item
    padding: 10px
    display: flex
    border-radius: var(--border-radius-base)
    background-color: var(--color-white)

    &__link-img
        flex-basis: 94px
        flex-shrink: 0
        margin-right: 20px
        overflow: hidden

        &:hover
            .bm-cat-item__picture
                background-color: var(--color-gray-md)

    &__picture
        flex: 0 0 94px
        padding: 18px 12px
        min-height: 100%
        display: flex
        align-items: center
        justify-content: center
        background-color: var(--color-gray-lt)
        height: auto
        width: 100%
        transition: background-color .3s

    &__image
        width: 100%
        height: 100%
        object-fit: contain

    &__content
        padding-top: 10px
        overflow: hidden

    &__name
        margin-bottom: 12px
        font-weight: 700
        font-size: 16px
        line-height: 1.2
        display: block
        text-decoration: none
        color: rgb(60, 60, 59)

    &__link
        padding: 10px 25px 6px
        width: max-content

        +until-768
            padding: 10px 25px 6px
