.catalog-listing-banner
  background: linear-gradient(to top, white 20%, transparent 50%)
  overflow: hidden
  border-radius: 10px
  padding: 0
  &__wrapper
    padding: 30px 20px
    width: 100%
    position: absolute
    bottom: 10px
  p
    color: var(--color-red)

  &__title
    font-size: 29px
    font-weight: 600
    text-align: center
    +until-768 
      font-size: 24px
    +until-480 
      font-size: 20px
  
  &__description
    margin-top: 20px
    font-size: 16px
    font-weight: 400

  .banner__action
    padding-top: 20px
    .btn
      height: 50px
      width: 90%
      margin-inline: auto
