.catalog__selected
	display: flex
	flex-wrap: wrap
	margin-bottom: 22px

	@media screen and (max-width: 460px)
		flex-wrap: nowrap
		overflow-x: auto

.chips-item
	position: relative
	height: 21px
	border-radius: 16px
	margin-bottom: 8px
	transition: background-color .3s, border-color .3s
	white-space: nowrap
	background-color: var(--color-red)
	text-decoration: none
	font-size: 12px
	padding: 4px 22px 4px 12px

	// Переопределение
	@at-root .wrap &
		&:hover
			background-color: var(--color-red-dr)

	&:nth-last-of-type(n+2)
		margin-right: 8px

	&_type
		&_reset
			padding-top: 3px
			padding-right: 12px
			border: 1px solid
			border-color: var(--color-red)

			&:hover
				border-color: var(--color-red-dr)

			// Переопределение
			@at-root .wrap &
				background-color: transparent

				&:hover
					border-color: var(--color-red-dr)

					.chips-item__title
						color: #fff

			.chips-item__title
				transition: .3s
				color: var(--color-red)

	&__cross
		position: absolute
		right: 19px
		top: 6px

		&::before,  &::after
			position: absolute
			left: 6px
			content: ""
			height: 10px
			width: 2px
			background-color: #fff

		&::before
			transform: rotate(45deg)

		&::after
			transform: rotate(-45deg)

	&__title
		color: #fff
		font-style: normal
		white-space: nowrap

	&__name
		color: #fff
		margin-right: 2px
