.euv-custom-select
    $block: &
    width: 179px
    height: 32px
    background: #F8F8F8
    border: 1px solid #EAEAEA
    box-sizing: border-box
    border-radius: 8px

    &__options-wrap
        top: 100%
        min-width: 100%
        background: #ffffff
        box-shadow: 0 8px 32px rgba(25, 41, 63, 0.12)
        padding: 3px
        left: 0

    &__input
        padding: 7px 12px
        border: 0
        outline: 0
        align-items: center
        display: flex
        margin-top: 0
        height: auto

    &__selected-option
        font-weight: bold

    &__option
        display: flex
        align-items: center

        &:hover
            background: #E4E4E4

    &_visible
        .euv-custom-select__btn
            transform: rotate(-135deg)
            top: 13px

    &__btn
        position: absolute
        border: solid #323232
        border-width: 0 2px 2px 0
        display: inline-block
        padding: 3px
        transform: rotate(45deg)
        height: auto
        right: 10px
        top: 10px
        transition: .3s

        &::after
            content: none
