.krovlya .filter_type_cvet .filter-option
    position: relative

    &__title
        order: 3

    &__checkbox
        order: 1

    &__label
        &::after
            order: 2
            content: ""
            display: block
            flex-basis: 30px
            height: 20px
            flex-shrink: 0
            flex-grow: 0
            margin-right: 8px
            border-radius: 3px

    +colors_to_selector('.filter-option__label::after')

.filter-option
    display: block

    &:nth-last-of-type(n+2)
        margin-bottom: 16px

    &__label
        display: flex
        align-items: center
        cursor: pointer
        font-weight: 600
        font-size: 14px

    &__num
        margin-left: auto
        color: #DAD9D9
        font-weight: 600
        font-size: 14px
        margin-top: -3px

    &__title
        margin-top: -1px

    &__checkbox
        margin-right: 8px
