.krovlya .filter_type_cvet .filter-option
    position: relative

    &__title
        order: 3

    &__checkbox
        order: 1

    &__label
        &::after
            order: 2
            content: ""
            display: block
            flex-basis: 30px
            height: 20px
            flex-shrink: 0
            flex-grow: 0
            margin-right: 8px
            border-radius: 3px

    &[data-val="ral-1014"] .filter-option__label::after
        background-color: #F0E283
    &[data-val="ral-1015"] .filter-option__label::after
        background-color: #F0E7A9
    &[data-val="ral-1018"] .filter-option__label::after
        background-color: #F4FF04
    &[data-val="ral-2004"] .filter-option__label::after
        background-color: #e8540d
    &[data-val="ral-3003"] .filter-option__label::after
        background-color: #870a24
    &[data-val="ral-3005"] .filter-option__label::after
        background-color: #581e29
    &[data-val="ral-3009"] .filter-option__label::after
        background-color: #6d312b
    &[data-val="ral-3011"] .filter-option__label::after
        background-color: #791f24
    &[data-val="ral-5002"] .filter-option__label::after
        background-color: #162e7b
    &[data-val="ral-5005"] .filter-option__label::after
        background-color: #004389
    &[data-val="ral-5018"] .filter-option__label::after
        background-color: #218c8f
    &[data-val="ral-5021"] .filter-option__label::after
        background-color: #00747d
    &[data-val="ral-6002"] .filter-option__label::after
        background-color: #276230
    &[data-val="ral-6005"] .filter-option__label::after
        background-color: #0e4438
    &[data-val="ral-6019"] .filter-option__label::after
        background-color: #b2d8b4
    &[data-val="ral-6020"] .filter-option__label::after
        background-color: #394937
    &[data-val="ral-7004"] .filter-option__label::after
        background-color: #999a9f
    &[data-val="ral-7005"] .filter-option__label::after
        background-color: #6d7270
    &[data-val="ral-7016"] .filter-option__label::after
        background-color: #363d43
    &[data-val="ral-7024"] .filter-option__label::after
        background-color: #484b52
    &[data-val="ral-8004"] .filter-option__label::after
        background-color: #904e3b
    &[data-val="ral-8017"] .filter-option__label::after
        background-color: #45302b
    &[data-val="ral-9003"] .filter-option__label::after
        background-color: #f8f9fb
    &[data-val="ral-9005"] .filter-option__label::after
        background-color: #151619
    &[data-val="ral-9006"] .filter-option__label::after
        background-color: #C0BCB1
    &[data-val="rr-11"] .filter-option__label::after
        background-color: #234306
    &[data-val="rr-21"] .filter-option__label::after
        background-color: #A6A6A6
    &[data-val="rr-22"] .filter-option__label::after
        background-color: #e2e2e2
    &[data-val="rr-23"] .filter-option__label::after
        background-color: #484b52
    &[data-val="rr-29"] .filter-option__label::after
        background-color: #712200
    &[data-val="rr-32"] .filter-option__label::after
        background-color: #e2e2e2
    &[data-val="rr-32-серо-зеленый"] .filter-option__label::after
        background-color: #e2e2e2
    &[data-val="rr-33"] .filter-option__label::after
        background-color: #151619
    &[data-val="rr-887"] .filter-option__label::after
        background-color: #45302b

.filter-option
    display: block

    &:nth-last-of-type(n+2)
        margin-bottom: 16px

    &__label
        display: flex
        align-items: center
        cursor: pointer
        font-weight: 600
        font-size: 14px

    &__num
        margin-left: auto
        color: #DAD9D9
        font-weight: 600
        font-size: 14px
        margin-top: -3px

    &__title
        margin-top: -1px

    &__checkbox
        margin-right: 8px
