.filter
	position: relative

	&::before
		content: ''
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 10

		display: none

		opacity: 0

		pointer-events: none
		transition: opacity .3s ease
		background: rgba(0, 0, 0, 0.25)

		+until-laptop
			display: block

	&__btn
		position: relative
		z-index: 11

		height: 50px
		display: none

		+until-laptop
			display: flex

		+until-tablet
			height: 40px

		+while-mob
			width: 100%

		&::before
			content: ''

			width: 18px
			height: 15px
			margin-right: 10px
			margin-bottom: 1px

			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='6' width='18' height='2' fill='%23FFFFFF'/%3E%3Crect x='3' y='11' width='18' height='2' fill='%23FFFFFF'/%3E%3Crect x='3' y='16' width='18' height='2' fill='%23FFFFFF'/%3E%3C/svg%3E%0A")
			background-position: center
			background-repeat: no-repeat

	&__body
		display: grid
		grid-template-columns: 100%
		grid-gap: 28px

		+until-laptop
			position: absolute
			top: calc(100% + 6px)
			left: 0
			z-index: 11

			grid-gap: 0
			padding: 0 30px

			transform: translateY(-10px)
			opacity: 0
			background-color: var(--color-white)
			box-shadow: var(--shadow-base)
			border-radius: var(--border-radius-base)

			pointer-events: none
			transition: opacity .3s ease, transform .3s ease

		+while-mob
			width: calc(100vw - 20px)

	&.active
		&::before
			opacity: 1

		& .filter
			&__btn
				+from-laptop
					background-color: var(--color-red-dr)
					border-color: var(--color-red-dr)

				&::before
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L16.205 9.205L19 6.41Z' fill='white'/%3E%3C/svg%3E%0A")

			&__body
				+until-laptop
					opacity: 1

					transform: none
					pointer-events: all

.filter-option
	&_excess
		display: none

.filter-item
	background: var(--color-white)
	box-shadow: var(--shadow-base)
	border-radius: var(--border-radius-base)

	+until-laptop
		border-radius: 0
		box-shadow: none
		padding-bottom: 24px

	&:not(:first-child)
		+until-laptop
			border-top: 1px solid var(--color-black-trans)

	&_show-excess
		.filter-option_excess
			display: block

	&__top
		padding: 24px 40px
		display: flex
		align-items: center
		justify-content: space-between

		cursor: pointer

		+until-widescreen
			padding: 24px 20px

		+until-laptop
			padding: 24px 0 0

		&::after
			content: ''

			width: 24px
			height: 24px
			flex-shrink: 0
			margin-left: 24px

			background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7.40364 7.92317C7.44236 7.96502 7.50818 7.96609 7.54823 7.92551L14 1.38889' stroke='%23D3553C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E")
			background-position: center
			background-repeat: no-repeat

			transition: transform .3s ease

			+until-widescreen
				width: 18px
				height: 18px
				margin-left: 16px

	&__title
		font-weight: 700
		font-size: 20px
		line-height: 1.2

		text-transform: uppercase

		color: var(--color-red)

		+until-widescreen
			font-size: 18px

	&__dropdown
		height: 0
		overflow: hidden

		transition: height .3s ease

	&__options
		padding: 0 40px 30px
		display: flex
		flex-direction: column

		+until-widescreen
			padding: 0 20px 20px

		+until-laptop
			padding: 14px 0 0

	&__option
		&:not(:last-child)
			margin-bottom: 24px

			+while-mob
				margin-bottom: 14px

		& ~ .filter-item__more
			margin-top: 6px

		& .default-checkbox
			&__label
				font-size: 20px
				font-weight: 700

				+until-widescreen
					font-size: 16px

				&:before
					width: 30px
					height: 30px

					+until-widescreen
						width: 24px
						height: 24px

				&-text
					border-bottom: 1px dashed var(--color-black-trans)

	&__more
		height: 50px
		align-self: flex-start

		+until-laptop
			height: auto !important
			padding: 0

			font-size: 14px !important

			border: none

			&:focus,
			&:hover
				background-color: transparent

			&:active
				background-color: transparent
				color: var(--color-red)

	&.active
		& .filter-item
			&__top
				&::after
					transform: rotate(180deg)

	&__link
		text-decoration: none
		color: inherit
