.form
	&__items
		display: grid
		grid-template-columns: 100%
		grid-gap: 15px

		+until-768
			grid-gap: 10px

		&:not(:last-child)
			margin-bottom: 32px

		&_double
			grid-template-columns: repeat(2, minmax(0, 1fr))

			+until-768
				grid-template-columns: 100%

	&__item

		&_wide
			grid-column: 1 / -1

	&__title
		font-weight: 700
		font-size: 20px
		line-height: 1.2

		+until-768
			text-align: center

		&:not(:last-child)
			margin-bottom: 20px

	&__radios
		display: flex
		flex-direction: column

		+until-768
			width: max-content
			margin: 0 auto

		&:not(:last-child)
			margin-bottom: 32px

		& .default-radio
			&:not(:last-child)
				margin-bottom: 10px

	&__submit
		display: flex
		flex-direction: column
		align-items: center

		&_row
			flex-direction: row
			justify-content: space-between

			+until-768
				flex-direction: column

			& .form
				&__suggestion
					margin-top: 0
					margin-right: 20px

					+until-768
						margin-right: 0


	& .btn
		+until-768
			order: 2

	&__suggestion
		margin-top: 20px

		+until-768
			width: min-content
			min-width: 240px
			order: 1
			margin-top: 0
			margin-bottom: 25px
