.js-product
    a.js-product__btn-in-cart, button.js-product__btn-in-cart
        color: #fff

    &__price
        font: inherit

    &__new-price-wrap
        color: #aa000f
        display: none

    &__new-price-wrap, &__new-price-wrap > span, &__new-price-wrap > p
        font-size: 14px

    &_with-discount
        .js-product__new-price-wrap
            display: block

        .js-product__price-wrap
            position: relative

            &::after
                content: ""
                border-bottom: 2px solid #aa000f
                position: absolute
                width: 100%
                height: 50%
                transform: rotate(12deg)
                left: 0
                top: 0

    &__btn-in-cart
        display: flex
        justify-content: center
        align-items: center
        border-radius: 6px
        padding-top: 9px
        padding-bottom: 9px
        white-space: nowrap
        margin-left: 4px
        width: 116px
        height: 50px
        flex-direction: column
        cursor: pointer
        color: #fff

        +set_colors_1(background-color)

        &:hover
            @at-root .knauf &
                background-color: darken(#4f70ad, 10%)
            @at-root .rockwool &
                background-color: darken(#AA000F, 10%)
            @at-root .tn &
                background-color: darken(#ED1C24, 10%)
            @at-root .penoplex &
                background-color: darken(#F36F21, 10%)
            @at-root .isover &
                background-color: darken(#FFDD00, 10%)
            @at-root .paroc &
                background-color: darken(#CE1126, 10%)
            @at-root .ursa &
                background-color: darken(#EA4740, 10%)

    &__btn-in-cart-top-text
        font-weight: bold

    &__custom-counter
        display: flex
        height: 50px

        .custom-counter__amount
            font-size: 13.3333px

    &__selprice
        display: flex
        align-items: center
        width: 100%
        margin-top: 6px
        margin-bottom: 15px

        &-span
            margin-right: 6px
            font-weight: 600
            font-size: 14px

    &__ms2-elems
        display: none

    &__controls
        width: 100%

        &_action
            &_change
                display: none
                .js-product__btn-in-cart
                    background-color: #73b017

                    &:hover
                        background-color: #ebaf00

            &_add
                display: flex
                .js-product__btn-in-cart
                    text-transform: uppercase

    &__btn-fav
        margin-left: auto

        &::after
            content: "В избранное"
            display: inline-block

        &.active
            &::after
                content: "Из избранного"
                display: inline-block
            svg
                +set_colors_1(fill)

        svg
            stroke-width: 1.5px
            width: 16px
            height: 16px

    &__btn-compare
        &::after
            content: "Сравнить"
            display: inline-block

        &.active
            &::after
                content: "Из сравнения"
                display: inline-block
        svg
            width: 17.5px
            height: 17.5px

    &__btn
        position: relative
        font-weight: 500
        font-size: 14px
        line-height: 100%
        text-decoration: underline
        padding-left: 23px
        transition: .3s
        white-space: nowrap
        cursor: pointer

        +set_colors_1(color)

        &:hover
            text-decoration: none
        svg
            position: absolute
            left: 0
            fill: transparent
            +set_colors_1(stroke)


.js-product-in-cart
    .js-product__controls_action_add
        display: none
    .js-product__controls_action_change
        display: flex

