.listing
    &__tags-item
        transition: .3s

        &:hover
            box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.08)

    &__products
        // Избранное
        &_full
            width: 100%

    // Дизайн карточки для избранного. Кирилл позже сказал, что карточка должна быть как в листинге. Скорее всего, это можно удалять. Но я пока что решил закомментировать
    //.listing__products-list.grid
    //    .listing__products-item-avail, .listing__products-item-rate
    //        order: 1
    //
    //    .listing__products-item-art
    //        order: 2
    //        margin-bottom: 0
    //
    //.listing__products-item-btns-wrap
    //    display: none
    //
    //.listing__products-item-actions
    //    display: flex

    &__products-item
        transition: .3s
        position: relative

        @at-root .sect-pop__slider &
            // Переопределение
            height: auto

        @media screen and (max-width: 768px)
            width: calc(50% - 9px)

        @media screen and (max-width: 550px)
            width: calc(50% - 3px)

        &:hover
            box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.08)

        .custom-counter
            @media screen and (max-width: 550px)
                width: 100%

        .custom-counter__amount
            width: 65px

            @media screen and (max-width: 550px)
                width: calc(100% - 62px)

        .js-product__controls
            @media screen and (max-width: 550px)
                flex-wrap: wrap

        .js-product__selprice
            @media screen and (max-width: 550px)
                flex-wrap: wrap

        .js-product__selprice-span
            white-space: nowrap

            @media screen and (max-width: 550px)
                width: 100%
                margin-right: 0
                margin-bottom: 4px

        .js-product__btn-in-cart
            @media screen and (max-width: 550px)
                margin-top: 10px
                width: 100%
                margin-left: 0

    .listing__products-item
        &:nth-of-type(even)
            .listing__products-item-btns-wrap-inner
                @media screen and (max-width: 550px)
                    right: 0

        &:nth-of-type(n+2)
            .listing__products-item-chars-val-info
                @media screen and (max-width: 790px)
                    left: -160px

    &__products-item-art
        @media screen and (max-width: 550px)
            font-size: .675rem

    &__products-item-avail
        @media screen and (max-width: 550px)
            grid-column: span 3

    &__products-item-rate
        @media screen and (max-width: 768px)
            margin-left: auto

        @media screen and (max-width: 550px)
            margin-left: 0

    &__filter-button
        @at-root .knauf &
            background-image: url(/assets/template/img/catalog/icons/knauf.png)
        @at-root .rockwool &
            background-image: url(/assets/template/img/catalog/icons/rockwool.png)
        @at-root .tn &
            background-image: url(/assets/template/img/catalog/icons/tn.png)
        @at-root .penoplex &
            background-image: url(/assets/template/img/catalog/icons/penoplex.png)
        @at-root .isover &
            background-image: url(/assets/template/img/catalog/icons/isover.png)
        @at-root .paroc &
            background-image: url(/assets/template/img/catalog/icons/paroc.png)
        @at-root .ursa &
            background-image: url(/assets/template/img/catalog/icons/ursa.png)

    &__open-filters-btn
        display: none
        justify-content: space-between
        padding: 0
        min-width: 120px
        +set_colors_1(color)
        font-size: 12px
        font-family: "Arial", sans-serif
        text-align: center
        font-weight: bold
        line-height: 0.9
        margin-left: auto

        @media screen and (max-width: 1200px)
            display: flex

    &__open-filters-btn-icon
        display: block
        width: 23px
        height: 20px
        margin-left: 4px
        +set_colors_1(fill)

    &__filter
        position: relative
        width: 260px
        transition: right .3s
        background: #fff
        margin-right: 10px
        max-height: none
        z-index: 35
        margin-bottom: 20px

        &.active
            right: 0

        @media screen and (max-width: 1200px)
            height: 100%
            z-index: 20
            position: fixed
            width: 280px
            right: -280px
            margin-right: 0
            top: 0

        @media screen and (max-width: 768px)
            top: 66px
            height: calc(100vh - 66px)

    &__filters-header
        display: none
        position: fixed
        width: 280px
        height: 52px
        font-weight: bold
        margin-top: -52px
        margin-left: -20px
        align-items: center
        justify-content: center
        font-size: 16px
        background-color: #fff
        z-index: 10

        @media screen and (max-width: 1200px)
            display: flex

    &__filter-form
        @media screen and (max-width: 1200px)
            position: relative
            padding-left: 20px
            margin-top: 52px
            overflow-y: scroll
            box-shadow: 0 0 5px #eaeaea
            max-width: 100%
            height: calc(100% - 52px) 

            // Ширина родителя - 260px. Ширина этого элемента - по содержимому. Но максимум - 260 (100%). Если откроем на ПК, то появится вертикальный скроллбар. И он забирает часть ширины. Из-за этого перестает вмещаться фильтр по цене и появляется горизонтальный скроллбар. Скрываем его этой строчкой
            overflow-x: hidden

        @media screen and (max-width: 768px)
            height: calc(100vh - 174px)

    &__filter-block
        display: flex
        flex-direction: column
        border-radius: 8px
        width: 100%
        border: 1px solid #EAEAEA
        transition: .3s

        @media screen and (max-width: 1200px)
            border-radius: 0
            border-left: 0

        &:nth-last-of-type(n+2)
            @media screen and (min-width: 1201px)
                margin-bottom: 16px

        &.active
            .listing__filter-block-content
                max-height: 344px
                opacity: 1
                margin-bottom: 16px

                @media screen and (max-width: 1200px)
                    padding-bottom: 0
                    max-height: 3000px


            .listing__filter-block-arrow
                transform: rotate(315deg)
                top: 19.5px

            .listing__filter-block-content
                padding-top: 8px

    &__filter-clear
        align-self: flex-end
        border-bottom: 1px dashed #ffbe00
        color: #ffbe00
        margin-bottom: 15px
        transition: border-bottom-color .3s

        &:hover
            border-bottom-color: transparent

    &__filter-block-header
        position: relative
        width: 100%
        display: flex
        align-items: flex-start
        cursor: pointer
        padding: 16px
        transition: .3s
        border-radius: 8px

        @media screen and (max-width: 1999px)
            border-radius: 0

        &:hover
            background-color: #f0f0f0

    &__filter-block-title
        font-weight: 700
        font-size: 16px
        user-select: none
        padding-left: 28px

    &__filter-block-arrow
        position: absolute
        margin-left: 5px
        flex-shrink: 0
        border-left: 2px solid
        border-bottom: 2px solid
        border-color: #000
        transform: rotate(225deg)
        transition: .3s
        width: 9px
        height: 9px
        top: 22px
        left: 13px

    &__filter-block-content
        padding-left: 16px
        padding-right: 16px
        transition: .3s
        opacity: 0
        height: auto
        max-height: 0
        overflow: auto

    &__filter-list
        margin: 0 0 30px
        display: flex
        flex-direction: column
        width: 100%

        & + .listing__filter-block
            border-top: 1px solid #eaeaea !important

    &__filter-list-item
        cursor: pointer
        width: 100%
        height: 35px
        display: flex
        align-items: center
        padding-left: 20px
        position: relative
        font-weight: 700
        border-bottom: 1px solid #eaeaea
        transition: background-color .3s

        &::before
            position: absolute
            top: 0
            left: 0
            width: 7px
            height: 100%
            content: ""
            background: transparent
            transition: background-color .3s

        &.active, &:hover
            background-color: #eaeaea

        &.active
            &::before
                background-color: #ffbe00

    &__filter-btn
        display: none
        width: 20px
        background-color: #fff
        position: absolute
        top: 0
        left: 0
        z-index: 10
        height: 100%

        @media screen and (max-width: 1200px)
            display: block

        @media screen and (max-width: 768px)
            height: calc(100% - 56px)


        &::before
            display: block
            content: ""
            position: absolute
            height: 30px
            top: calc(50% - 15px)
            width: 3px
            left: 6px
            border-radius: 5px
            background-color: #dad9d9

    // ---------------------------------------------------

    &__products-item-actions
        display: none
        width: 100%
        margin-bottom: 11px
        margin-top: -2px
        align-items: flex-start

        @media screen and (max-width: 480px)
            flex-direction: column
            margin-bottom: 20px

    &__products-item-title
        padding-top: 8px

        a
            color: #1a0dab

            &:visited
                color: #6f0099

                &:hover
                    color: #6f0099

            &:hover
                color: #1a0dab

                @at-root &
                    border-bottom-color: transparent

    &__products-item-measure
        color: #b1b2b3
        font-size: 14px
        font-weight: normal
        padding-top: 4px

    &__products-item-price
        font-weight: 700
        font-size: 24px
        white-space: nowrap

        @media screen and (max-width: 550px)
            order: 1

        @at-root .krovlya &, .kirpich-m &, .plitaosb &, .fasad &
            margin-right: auto

    &__products-list
        margin-bottom: 20px

        @media screen and (max-width: 768px)
            display: flex
            flex-wrap: wrap

        .custom-counter__amount
            width: 53px

        .js-product__btn-in-cart
            padding-left: 0
            padding-right: 0

        &.grid
            .listing__products-item-remove
                width: 100%

    &__sort-item, &__reset-filters
        font-size: 12px
        cursor: pointer
        display: flex
        align-items: center

    &__reset-filters
        +set_colors_1(color)
        border-bottom: 1px dashed currentColor

    &__sort-item
        border-bottom: 1px dashed transparent
        transition: border-bottom-color .3s, color .3s

        &.active, &:hover
            @at-root  #mse2_sort &
                +set_colors_1(color)
                border-bottom-color: currentColor

        &.active
            @at-root  #mse2_sort &
                cursor: pointer

        // Отличие with-arrow от with-reverse-arrow в том, что с пустым data-dir у with-arrow стили, как у desc, а у with-reverse-arrow - как у asc
        &_with-arrow, &_with-reverse-arrow
            &::after
                content: ""
                margin-left: 5px
                border: 4px solid transparent
                transition: .3s

            &[data-dir=asc]:after
                margin-top: 0
                border-top: 0
                border-bottom: 4px solid

            &[data-dir=desc]:after
                margin-top: 5px
                border-top: 4px solid
                border-bottom-color: transparent

        &_with-arrow::after
            margin-top: 5px
            border-top: 4px solid
            border-bottom-color: transparent

        &_with-reverse-arrow::after
            margin-top: 0
            border-top: 0
            border-bottom: 4px solid

    //&_with-arrow
    //    &::after


    //&_with-reverse-arrow
    //    &::after
    //        margin-top: 0
    //        border-bottom: 4px solid

    &__products-item-remove
        $block: &

        width: 180px
        height: 50px
        border: 1px solid #3C3C3B
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: center

        &-available
            display: block
            transform: rotate(45deg)
            height: 20px
            width: 12px
            border-bottom: 2px solid #52BC6A
            border-right: 2px solid #52BC6A
            border-radius: 1px
            margin-bottom: 6px

        &-close
            display: none
            position: relative
            width: 20px
            height: 20px

            &:before, &:after
                position: absolute
                content: ' '
                height: 20px
                width: 2px
                background-color: #E80000
                left: 10px

            &:before
                transform: rotate(45deg)

            &:after
                transform: rotate(-45deg)

        &:hover
            #{$block}-available
                display: none

            #{$block}-close
                display: block

    &__products-item-chars
        margin-bottom: 20px
        transition: .3s

        @media screen and (max-width: 768px)
            overflow: hidden
            max-height: 0
            margin-bottom: 0

    &__products-item-chars-span
        font-weight: bold

    &__products-item-chars-val
        position: relative

    &__products-item-chars-span, &__products-item-chars-val
        color: rgba(0, 0, 0, .6)
        font-size: .750rem

        @media screen and (max-width: 768px)
            display: block

    &__products-item-chars-wrap
        width: 100%

        &.active
            .listing__products-item-chars
                @media screen and (max-width: 768px)
                    overflow: visible
                    max-height: 250px

            .listing__products-item-chars-btn
                &::after
                    transform: rotate(-135deg)
                    top: 10px

                    @media screen and (max-width: 510px)
                        top: 10px

    &__products-item-chars-btn
        cursor: pointer
        display: none
        align-items: center
        margin-right: 4px
        position: relative
        margin-bottom: 10px
        padding-right: 20px

        @media screen and (max-width: 768px)
            display: inline-flex

        @media screen and (max-width: 500px)
            font-size: 12px
            width: 120px

        .svg
            width: 20px
            height: 20px
            fill: #808181
            margin-right: 6px
            flex-shrink: 0

        &::after
            content: ""
            position: absolute
            border: solid #323232
            border-width: 0 2px 2px 0
            display: inline-block
            padding: 3px
            transform: rotate(45deg)
            height: auto
            right: 4px
            transition: .3s
            top: 6px

            @media screen and (max-width: 510px)
                top: 10px

    &__products-item-btns-wrap
        order: 1
        width: 60px
        margin-left: auto
        position: relative
        display: inline-block

        &:hover
            .listing__products-item-btns-wrap-inner
                opacity: 1

                @media screen and (max-width: 550px)
                    max-height: 100px
                    padding: 21px 23px 21px 26px

        @media screen and (max-width: 550px)
            width: auto

    &__products-item-btn
        stroke: #000
        display: inline-block
        cursor: pointer

        svg
            transition: .3s

        &-fav, &-compare
            margin-left: auto

            @media screen and (max-width: 550px)
                display: flex

                &::after
                    margin-left: 8px
                    white-space: nowrap

        &-fav
            &::after
                @media screen and (max-width: 550px)
                    content: "В избранное"

            svg
                fill: transparent
                stroke-width: 2px
                width: 18px
                height: 16px

            &:hover
                svg
                    @media screen and (min-width: 769px)
                        +set_colors_1(fill)
                        +set_colors_1(stroke)

            &.active
                svg
                    +set_colors_1(fill)
                    +set_colors_1(stroke)

        &-compare
            margin-right: 18px
            position: relative

            @media screen and (max-width: 550px)
                margin-bottom: 25px

                &::after
                    content: "Сравнить"

            svg
                stroke-width: 1px
                width: 17px
                height: 17px

            &::before
                position: absolute
                content: ""
                border-radius: 100px
                +set_colors_1(background-color)
                width: 4px
                height: 4px
                opacity: 0
                transition: .3s
                left: 13px
                top: 1px

            &:hover
                &::before
                    @media screen and (min-width: 769px)
                        opacity: 1

            &.active
                &::before
                    opacity: 1

        &-more
            width: 16px
            height: 16px
            display: none

            @media screen and (max-width: 550px)
                display: block

    &__products-item-btns-wrap-inner
        @media screen and (max-width: 550px)
            max-height: 0
            width: 157px
            z-index: 10
            overflow: hidden
            transition: .2s
            background-color: #fff
            opacity: 0
            position: absolute
            padding: 0
            box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.08)
            border-radius: 8px

    &__products-item-chars-val-info-btn
        display: inline-block

        svg
            width: 20px
            height: 20px
            fill: #808181
            flex-shrink: 0

    &__products-item-chars-val-info
        background-color: #fff
        position: absolute
        box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.08)
        width: 170px
        border-radius: 6px
        opacity: 0
        transition: .3s
        max-height: 0
        padding: 0
        overflow: hidden
        z-index: 1000

    &__products-item-chars-val-info-wrap
        display: inline-block
        position: absolute
        margin-top: 0
        margin-left: 4px

        @media screen and (max-width: 768px)
            margin-top: -2px

        &:hover
            .listing__products-item-chars-val-info
                opacity: 1
                max-height: 400px
                padding: 6px

    &__products-item-chars-line
        @media screen and (max-width: 768px)
            margin-bottom: 10px

    &__products-item-actions-compare-label
        display: inline-flex
        align-items: center
        cursor: pointer

    &__actions-compare-checkbox
        margin-right: 8px

    &__actions-btn-fav
        align-items: center
        display: inline-flex
        margin-top: 2px

        @media screen and (max-width: 480px)
            margin-left: 0
            margin-top: 10px

    &__products-item-fav-remove-btn
        right: 9.5px
        top: 9.5px
        width: 13px
        height: 13px
        position: absolute
        cursor: pointer

        &:hover
            opacity: 1

            &::before, &::after
                +set_colors_1(background-color)

        &::before, &::after
            position: absolute
            left: 5.5px
            content: ""
            height: 13px
            width: 2px
            background-color: #B9B9B9

        &::before
            transform: rotate(45deg)

        &::after
            transform: rotate(-45deg)

    &__products-item-price-and-logo
        display: flex
        flex-wrap: wrap
        width: 100%
        margin-bottom: 8px
        margin-top: auto

        @media screen and (max-width: 500px)
            flex-direction: column

    &__product-logo
        margin-bottom: 8px

        @media screen and (max-width: 550px)
            order: 3
            margin-top: 8px
            margin-bottom: 0

    &__new-price-text
        font-weight: bold

        @media screen and (max-width: 550px)
            order: 2

    &__discount
        right: -6px
        top: 38px

        @media screen and (max-width: 550px)
            top: 24px

    &__close-filter-btn
        display: none
        position: absolute
        width: 20px
        height: 20px
        right: 20px
        cursor: pointer
        top: 18px

        &:hover
            &::before, &::after
                background-color: #e80000

        @media screen and (max-width: 1200px)
            display: block

        &::before, &::after
            position: absolute
            left: 9px
            top: 0.5px
            content: ""
            height: 18px
            width: 2px
            background-color: #000
            transition: .3s

        &::before
            transform: rotate(45deg)

        &::after
            transform: rotate(-45deg)

    &__content
        // Запрещаем применять другие фильтры, пока происходит ajax-загрузка текущих фильтров
        &.loading
            .filter-number__inner, .os-content, .listing__selected
                &::after
                    display: block
                    content: ""
                    position: absolute
                    width: 100%
                    height: 100%
                    top: 0
                    left: 0
                    z-index: 10

            .filter-number__inner, .listing__selected
                position: relative

            .os-content
                &::after
                    visibility: visible

.sect-listing
    margin-bottom: 40px
    align-items: flex-start
    justify-content: space-between
    width: 100%
    display: flex
    flex-direction: column

    &__content
        width: 100%

    &__title
        align-self: center
