.fancybox-slide .fancybox-close-small
	right: 0
	top: 0
	padding: 10px
	width: 44px
	height: 44px

.popups
	display: none

.popup
	display: none

	&.popup-reviews
		& .btn
			width: 207px

	.fancybox-close-small
		filter: drop-shadow(0 4px 10px rgba(0,0,0,.25))
		padding: 0
		transition: opacity .3s

		svg
			fill: #fff
			color: #fff

	.full-stars
		text-align: center
		.rating-group
			display: inline-flex
			&:hover
				label
					svg
						fill: #337AB7
			input
				&:hover
					& ~ label
						svg
							fill: #BFE2FF
		input
			position: absolute
			left: -9999px
			&:checked
				& ~ label
					svg
						fill: #BFE2FF
		label
			margin: 0
			cursor: pointer
			svg
				margin: 2px
				height: 40px
				width: 40px
				fill: #337AB7
				transition: fill 0.3s


	&.fancybox-content
		background: transparent

	//&_big
	//	margin-bottom: 12px
	//	padding: 70px 115px 80px
	//	max-width: 1157px
	//	width: 100%
	//
	//	+until-992
	//		padding: 70px 90px 75px
	//		max-width: 768px

	&__title
		margin-bottom: 32px

		font-weight: 700
		font-size: 30px
		line-height: 1.2

		text-align: center

		+until-768
			font-size: 20px

	&__subtitle
		font-weight: 400
		font-size: 20px
		line-height: 1.2
		+until-768
			font-size: 14px

	&__content
		width: 100%
		padding: 0 10px

		+until-768
			padding: 0

	&__btn
		margin-bottom: 12px

	// -----------------------------------
	// Стили от Общестроя
	// -----------------------------------
	&__form
		background-color: var(--color-white)
		padding: 35px 30px
		border-radius: 6px
		width: 100%

		@at-root .popup_type_availability &
			max-width: 638px

		@at-root .popup_type_callback &
			max-width: 450px

		.form__inputs input,
		.form__inputs textarea,
		.custom-input,
		.custom-textarea
			background-color: rgb(248, 248, 248)
			border-radius: 2px
			width: 100%
			color: #3c3c3b
			padding-left: 14px
			border: 1px solid transparent
			transition: box-shadow .3s, border-color .3s

		.form__inputs input,
		.form__inputs textarea,
		.custom-input
			&:hover
				box-shadow: none

		.form__inputs label span
			display: block
			font-size: 14px
			margin-bottom: 5px

		.form__inputs label.error input, .form__inputs label.error textarea
			border-color: #e80000
			color: #e80000

		.form__inputs textarea
			resize: none
			padding-top: 8px

		.form__inputs input, .custom-input
			height: 45px

.form
	display: flex
	align-items: center
	flex-direction: column

	&__error
		&:empty
			display: none

	&__inputs
		textarea
			padding-right: 14px
			padding-bottom: 8px

		textarea, input
			font-size: 14px

	& > p
		max-width: 335px

	&__stars
		width: 100%
		display: flex
		align-items: center
		margin-top: 10px
		margin-bottom: 15px

	&__stars span
		margin-right: 10px

	&__stars-items
		display: flex
		flex-direction: row-reverse
		align-items: center
		fill: #b1b2b3
		transition: fill 0.3s

	&__stars-items > svg:hover,
	&__stars-items > svg:hover ~ svg
		fill: #ffbe00

	&__stars-items svg
		cursor: pointer
		width: 15px
		height: 15px

	&__stars-items svg:not(:last-of-type)
		margin-left: 5px

	&__title
		font-size: 23px
		text-align: center
		margin-bottom: 7px

	&__text
		margin-bottom: 15px
		text-align: center
		font-size: 18px
		line-height: 130%

	&__error
		margin-top: 7px
		color: #e80000
		font-size: 12px

	&__inputs
		width: 100%
		max-width: 335px
		display: grid
		grid-gap: 6px
		margin-bottom: 13px

	&__button
		width: 100%
		max-width: 335px
		margin-bottom: 12px

	&__checkbox
		max-width: 335px
		width: 100%
		display: flex

	&__checkbox.error > span:before
		border-color: #e80000

	&__checkbox input
		display: none

	&__checkbox input:checked + span:after
		opacity: 1

	&__checkbox input + span
		color: #b1b2b3
		display: flex
		align-items: flex-start
		font-size: 12px
		position: relative

	&__checkbox input + span:hover:before
		border-color: #b1b2b3

	&__checkbox input + span span
		font-size: 12px

	&__checkbox input + span a
		font-size: 12px
		color: #b1b2b3
		border-bottom: 1px solid
		transition: border-color 0.3s

	&__checkbox input + span a:hover
		border-bottom-color: transparent

	&__checkbox input + span:before
		flex-shrink: 0
		content: ""
		width: 19px
		height: 19px
		border: 1px solid
		margin-right: 8px
		transition: border-color 0.3s

	&__checkbox input + span:after
		position: absolute
		top: 5px
		left: 5px
		content: ""
		opacity: 0
		transition: opacity 0.3s
		width: 9px
		height: 6px
		border-left: 2px solid #3c3c3b
		border-bottom: 2px solid #3c3c3b
		transform: rotate(-45deg)



.yaDiskUploader
	cursor: pointer
	display: flex
	flex-wrap: wrap
	height: 100px
	overflow-y: auto

	.dz-message
		color: #aa000f
		padding-left: 23px
		position: relative
		height: 20px

		&::before
			content: ""
			position: absolute
			width: 20px
			height: 20px
			left: 0
			margin: 0
			background-image: url("/assets/template/img/svg-sprite/icon-plan-file.svg")
			background-size: 20px 20px

	.dz-preview
		margin: 1px 9px

		.dz-image
			width: 50px
			border-radius: 0
			height: 50px
