.popup-order
    .mla
        margin-left: auto

    .popup__form
        max-width: 674px

    &__title-2
        padding-top: 13px
        padding-bottom: 32px
        text-align: center
        font-size: 24px
        font-weight: bold
        width: 614px
        max-width: 100%

    &__title-3
        margin-top: 20px
        font-weight: 900
        font-size: 16px
        margin-bottom: 24px

    &__tabs-headers-wrap
        background: #EAEAEA
        border-radius: 8px
        padding: 4px
        height: 40px
        display: flex
        margin-bottom: 16px

    &__tabs-header
        border-radius: 8px
        display: flex
        align-items: center
        justify-content: center
        font-weight: 600
        font-size: 14px
        line-height: 100%
        color: #4F70AD
        width: 50%

        .pc
            display: block
            @media screen and (max-width: 400px)
                display: none

        .mobile
            display: none
            @media screen and (max-width: 400px)
                display: block

        &.active
            color: #4F70AD
            background: #FFFFFF

    &__label
        margin-bottom: 12px

        &_width
            &_full
                width: 100%

            &_half
                width: calc(50% - 6px)

                @media screen and (max-width: 500px)
                    width: 100%

    &__input
        width: 100%
        background: #F8F8F8
        border: 1px solid #EAEAEA
        box-sizing: border-box
        border-radius: 8px
        padding: 17px 12px
        transition: .3s
        font-size: 14px
        height: 48px

        &:hover
            padding-left: 11px
            padding-right: 11px
            border-width: 2px

    &__inputs
        display: flex
        flex-wrap: wrap

    &__radios-wrap
        display: flex
        flex-direction: column
        align-items: flex-start
        padding-bottom: 12px

    &__submit
        width: 271px
        height: 56px
        border-radius: 8px
        margin-top: 20px
        text-transform: none
        margin-left: auto

        @media screen and (max-width: 450px)
            width: 100%
