.pop-slide
    display: flex
    flex-direction: column
    width: 267px

    .product-item__units-select
        width: 175px

    &:nth-last-of-type(n+2)
        margin-right: 17px

        @media screen and (max-width: 550px)
            margin-right: 6px
