.privacy
    display: flex
    align-items: center
    width: 100%

    &__text
        font-size: 14px
        line-height: 100%
        margin-left: 9px

    .privacy__link
        color: currentColor
        transition: .3s
        border-bottom: 1px dashed currentColor

        &:hover
            color: currentColor
            border-bottom-color: transparent
