.product-card
    margin-bottom: 60px

    .content-block
        margin-bottom: 0

    &__content
        background: #fff
        border: 1px solid #eaeaea
        padding: 27px
        width: 100%

        @media screen and (max-width: 450px)
            padding: 7px

        @at-root .krovlya &
            padding: 0
            border: 0

    &__left-info
        margin-right: 20px

        @media screen and (max-width: 880px)
            margin-right: 0

    &__article
        font-weight: 700
        font-size: 12px
        color: #b1b2b3
        width: 100%
        text-align: right

        @at-root .krovlya &
            width: auto
            margin-right: 24px
            margin-top: 0

            @media screen and (max-width: 768px)
                margin-bottom: 4px
                margin-right: 0

        @media screen and (max-width: 880px)
            text-align: left
            margin-top: 16px

        &_mobile
            display: none

            @media screen and (max-width: 768px)
                display: block

        &_pc
            @media screen and (max-width: 768px)
                display: none

    &__availability
        @at-root .krovlya &
            margin-right: 24px

    &__title-1
        font-size: 24px
        color: #323232
        align-self: flex-start

        @at-root .krovlya &
            margin-bottom: 16px

        @media screen and (max-width: 768px)
            text-align: left

    &__specs-list-item
        display: flex
        max-width: 564px
        overflow: hidden

        &:nth-last-child(n+2)
            margin-bottom: 12px

        &::before
            width: 0
            font-size: 14px
            content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
            white-space: nowrap

    &__specs-list-item-value
        margin-left: auto
        padding-left: 4px

    &__specs-list-item-name
        padding-right: 4px

    &__specs-list-item-name, &__specs-list-item-value
        background-color: #fff

    &__buy, &__info-left
        max-width: 372px
        width: 100%

    &__info-wrap
        flex-basis: 526px
        flex-shrink: 0
        flex-grow: 0

        @media screen and (max-width: 880px)
            flex-basis: 100%
            width: 100%

    &__img
        @at-root .krovlya &
            position: relative
            flex-basis: 578px
            flex-grow: 0
            margin-right: 16px
            max-width: none

            @media screen and (max-width: 880px)
                flex-basis: 500px
                text-align: center
                margin: 16px auto 24px

            @media screen and (max-width: 768px)
                margin: 0 0 16px 0
                flex-basis: auto

        @media screen and (max-width: 768px)
            margin-left: auto
            margin-right: auto
            text-align: center

    &__info
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
        grid-gap: 10px 30px

        &_type
            &_minor
                margin-top: 16px

        @media screen and (max-width: 1200px)
            grid-template-columns: 1fr

        @at-root .krovlya &
            border: 1px solid #F0F0F0
            padding: 16px

            @media screen and (max-width: 880px)
                border: none

            @media screen and (max-width: 768px)
                padding: 0

    &__info-left, &__info-right
        @media screen and (max-width: 450px)
            grid-template-columns: 2fr

    &__info-left
        display: flex
        align-items: flex-start
        flex-direction: column

        .yellow-btn
            width: 100%
            padding: 0 10px

            svg
                margin-right: 10px

        .white-btn
            width: 100%
            grid-column: span 2

    &__info-right
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
        grid-gap: 14px

        & > *
            height: 50px

    &__buy
        max-width: 271px
        margin-top: 15px

        @at-root .krovlya &
            margin-top: 0
            max-width: 175px
            padding-left: 14px
            padding-right: 14px
            font-size: 16px
            border-radius: 4px

            &_type
                &_mobile
                    display: none
                    max-width: 256px
                    width: 100%

                    @media screen and (max-width: 500px)
                        display: block
                        margin-top: 6px
                        max-width: none

    &__reviews
        white-space: nowrap

    &__package
        margin-top: 14px
        font-style: italic
        font-size: 14px
        line-height: 120%
        color: #BABABA

    &__tabs-buttons
        @media screen and (max-width: 768px)
            display: none

    &__content-wrap
        display: none
        padding-top: 20px

        @media screen and (max-width: 768px)
            padding-bottom: 20px

    &__tabs-page
        &.active
            .product-card__content-wrap
                display: block

            .product-card__mobile-tabs-button
                background-color: #fff
                +set_colors_1(color)

                &::before
                    transform: rotate(-135deg)
                    top: calc(50% - 2px)

    &__mobile-tabs-button
        cursor: pointer
        line-height: 1
        overflow: hidden
        position: relative
        align-items: center
        justify-content: center
        text-align: center
        font-weight: 700
        padding: 15px 20px
        transition: color .3s, background-color .3s
        background: #f6f6f6
        border: 1px solid #eaeaea
        box-sizing: border-box
        border-radius: 2px

        display: none

        @media screen and (max-width: 768px)
            display: flex

        &::before
            position: absolute
            top: calc(50% - 6px)
            right: 15px
            display: inline-block
            width: 0
            height: 0
            padding: 3px
            content: ""
            transition: .3s ease-in
            transform: rotate(45deg)
            border-width: 0 2px 2px 0
            border-style: solid
            +set_colors_1(border-color)

    &__price-wrap
        font-weight: 700
        font-size: 24px
        display: block

        @at-root .krovlya &
            margin-right: 20px

    &__unit-span
        margin-right: 4px

    &__units-wrap
        font-weight: 600
        font-size: 14px
        line-height: 100%
        grid-column: span 2

    &__unit-link
        line-height: 1.8

        &:nth-last-of-type(n+2)
            margin-right: 4px

        &.active
            +set_colors_1(color)
            border-radius: 4px
            padding: 7px 8.5px
            background-color: #F8F8F8

    &__info-inner
        grid-column: span 2
        display: flex
        align-items: flex-start

        @media screen and (max-width: 1200px)
            grid-column: span 1

        @media screen and (max-width: 880px)
            display: block

        @at-root .krovlya &
            border-bottom: 1px solid #F0F0F0
            padding-bottom: 24px
            margin-bottom: 14px
            display: flex
            flex-wrap: wrap
            grid-column: span 2

            @media screen and (max-width: 768px)
                padding-bottom: 16px
                margin-bottom: 8px

            @media screen and (max-width: 500px)
                margin-bottom: 10px
                padding-bottom: 16px

    &__right-info
        display: flex
        margin-left: auto
        flex-wrap: wrap
        width: 240px

        @media screen and (max-width: 880px)
            order: 2
            margin-left: 0
            margin-bottom: 12px

            @at-root .krovlya &
                margin-bottom: 0
                margin-top: 12px

    &__btn-fav, &__btn-compare
        margin-top: 12px

        @at-root .krovlya &
            margin-top: 0

        &::after
            padding-bottom: 2px
            border-bottom: 1px solid currentColor

        &:hover
            &::after
                border-bottom-color: transparent

    &__price-and-logo
        margin-top: 12px
        display: flex
        flex-wrap: wrap

    &__top
        @at-root .krovlya &
            @media screen and (max-width: 880px)
                flex-wrap: wrap
                border: 1px solid #f0f0f0
                border-radius: 4px

            @media screen and (max-width: 768px)
                padding: 16px

    &__top-line
        display: flex
        align-items: center
        border-bottom: 1px solid #F0F0F0
        padding-bottom: 16px
        margin-bottom: 24px
        flex-wrap: wrap

        @media screen and (max-width: 880px)
            border-bottom: none
            margin-bottom: 0

        @media screen and (max-width: 500px)
            display: none

        &::after
            order: 1
            display: none
            content: ""
            width: 100%

            @media screen and (max-width: 880px)
                display: block

    &__select-span
        font-size: 12px
        padding-bottom: 8px

    &__select-wrap
        @media screen and (max-width: 500px)
            width: 100%
            margin-bottom: 16px

            &:nth-last-of-type(1)
                margin-bottom: 0

        .custom-select
            width: 100%

        &_align
            &_right
                margin-left: auto

                @media screen and (max-width: 500px)
                    margin-left: 0

        &_type
            &_full
                width: 100%
                margin-bottom: 16px

            &_half
                width: calc(50% - 6px)

    &__info-simple
        grid-column: span 2
        display: flex

        @media screen and (max-width: 500px)
            display: none

    &__delivery
        display: flex
        flex-direction: column
        align-items: flex-start
        grid-column: span 2

        @at-root .krovlya &
            margin-top: 16px
            padding: 16px 16px 18px 16px
            border: 1px solid #f0f0f0
            display: flex

            @media screen and (max-width: 880px)
                border: none
                margin-top: 0
                padding-top: 0

            @media screen and (max-width: 768px)
                padding: 16px 0 0 0

    &__delivery-title
        font-weight: bold
        margin-bottom: 14px

        @at-root .krovlya &
            font-size: 16px
            font-weight: 900

    &__delivery-content
        width: 100%
        display: flex

        @media screen and (max-width: 500px)
            flex-wrap: wrap

    &__article-and-availability
        display: none

        @media screen and (max-width: 500px)
            display: block

    a.product-card__delivery-link
        margin-top: 1px
        background: url(/assets/template/img/svg-sprite/icon-delivery-2.svg) no-repeat left top 1px
        padding-left: 16px
        font-weight: 600

    &__delivery-text
        margin-right: 12px
        font-weight: 600

        @media screen and (max-width: 500px)
            width: 100%
            margin-right: 0
            margin-bottom: 10px

    &__aux-info
        display: none
        margin-top: 16px

        .product-card__availability svg
            margin-right: 6px

        @media screen and (max-width: 500px)
            display: flex

    @at-root .krovlya &
        .product-item
            .custom-counter__amount
                width: 64px

        .product-item__controls
            width: auto

        .product-item__btn-in-cart
            font-size: 16px
            width: 167px
            margin-left: 12px
            margin-right: 12px

            @media screen and (max-width: 500px)
                margin-right: 0

        .product-card__mobile-btns
            display: none
            width: calc(100% + 30px)
            margin-left: -15px
            border-top: 1px solid #f0f0f0
            border-bottom: 1px solid #f0f0f0
            padding: 12px 15px
            margin-bottom: 25px
            justify-content: center

            .product-item__btn-in-cart
                width: 148px

            @media screen and (max-width: 500px)
                display: flex
