.product-card
	padding: 25px 25px 40px
	display: grid
	grid-template-columns: 100%
	grid-template-rows: auto auto 1fr
	transition: .3s
	box-shadow: var(--shadow-base)
	border-radius: var(--border-radius-base)
	background-color: var(--color-white)

	+until-768
		padding: 5px 5px 30px

	&__btn-in-cart
		width: 148px
		flex-shrink: 0

		@at-root .product-card_catalog &
			width: 107px

	&__tinting
		margin-top: 12px 

		&:hover
			padding-right: 11px
			
			.product-card__tinting-mes
				opacity: 1
				max-width: 200px
				max-height: 150px
				padding: 10px
 
		&::after 
			content: "" 
			display: block
			width: 30px
			height: 30px
			background: no-repeat center center url(/assets/template/img/ink.png)
			background-size: contain

	&__tinting-mes
		overflow: hidden 
		max-width: 0
		max-height: 0
		transition: .3s
		opacity: 0
		background: #2e323d
		border-radius: 8px
		color: #fff
		position: absolute
		margin-left: 40px 
		margin-top: -22px
		box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .4), 0 1.17px 2px rgba(0, 0, 0, 0.0196802), 0 1.4px 5px rgba(0, 0, 0, 0.03), 0 2px 10px rgba(0, 0, 0, 0.03), 0 2px 18px rgba(0, 0, 0, 0.04), 0 9px 33px rgba(0, 0, 0, 0.03)
 
	&__tinting-mes-header
		font-size: 13px
		font-weight: 500
		 
	&__tinting-mes-text
		margin-top: 6px
		font-size: 12px
		
	&__middle
		padding-top: 4px
		margin-bottom: -8px
		display: flex
		
	&__article
		font-size: 14px
		
	&__rating
		margin-left: auto 
		
	&__picture
		position: relative
		padding-bottom: 100%
		display: flex
		align-items: center
		justify-content: center
		background-color: var(--color-gray-lt)
		border-radius: var(--border-radius-base)
		transition: .3s
		
		@at-root .kraska .product-card &
			background-color: transparent 

		&:hover
			background-color: var(--color-gray-md)

	&__link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	&__image
		position: absolute
		top: 10%
		left: 10%
		display: block
		width: 100%
		height: 100%
		max-width: 80%
		max-height: 80%
		object-fit: contain

	&__actions
		position: absolute
		right: 0
		top: 0
		margin: 10px 10px 0 0
		display: flex
		align-items: center

		+until-768
			margin: 5px 5px

		& .product-action
			&:not(:last-child)
				margin-right: 10px

				+until-768
					margin-right: 4px

	&__body
		padding-top: 40px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-between

		+until-768
			padding-top: 20px

	&__title
		font-weight: 700
		font-size: 20px
		line-height: 1.5
		align-self: flex-start
		color: #1a0dab
		text-decoration: none
		text-decoration-style: dashed
		text-underline-offset: 4px
		text-decoration-color: rgba(60,60,59,.5)

		&:hover
			color: var(--color-red)
			text-decoration: none

		+until-768
			font-size: 12px
			line-height: 1.3

	&__subtitle
		+from-768
			font-weight: 400

	&__price
		margin-top: 22px
		display: flex
		align-items: center
		justify-content: space-between

		+until-768
			margin-top: 10px
			flex-direction: column
			align-items: flex-start

		&-value
			font-weight: 700
			font-size: 30px
			line-height: 1.5
			white-space: nowrap

			+until-768
				font-size: 18px

		&-notion
			font-weight: 400
			font-size: 14px
			line-height: 1.5

			color: var(--color-gray)
			text-align: right

			+until-768
				font-size: 10px

		&_volume
			margin-top: 15px

			+until-1400
				flex-wrap: wrap

			+until-768
				flex-direction: row

			& .product-card__price
				&-value
					font-size: 20px

					+until-1400
						flex: 1 1 100%
						text-align: center
						margin-top: 20px

					+until-992
						font-size: 18px

	&__stats
		display: flex
		flex-direction: column

		&:not(:first-child)
			margin-top: 22px
			margin-bottom: -10px

		&-dropdown
			margin-top: 10px
			margin-bottom: auto

			+until-768
				margin-top: 7px

			&.active

				& .product-card__stats
					&-title
						&::after
							content: 'Скрыть информацию'

		&-title
			font-size: 12px
			line-height: 1.5

			+from-992
				display: none

			&::after
				content: 'Показать информацию'

		&-body
			height: 0

			transition: height .3s ease
			overflow: hidden

			+from-992
				height: auto !important

			& .product-card__stats
				padding-top: 10px

				+from-992
					padding-top: 0

	&__stat
		display: flex
		align-items: flex-end
		justify-content: space-between

		font-weight: 400
		font-size: 16px
		line-height: 1.7

		word-wrap: break-word
		hyphens: auto

		+until-768
			font-size: 10px
			line-height: 1.1

		&:not(:last-child)
			+until-768
				margin-bottom: 10px

		&::before
			content: ''

			order: 2
			margin-bottom: 6px
			flex: 1 1 auto
			min-width: 20px

			border-bottom: 1px dashed var(--color-gray-md)

			+until-768
				margin-bottom: 0

		&-name
			order: 1
			max-width: 50%

		&-value
			order: 3

			text-align: right

	&__bottom
		margin-top: 25px
		display: flex
		align-items: center
		width: 100%

		.js-product__controls
			width: 100%
		.product-card__counter
			transform: translateX(4px)
			max-width: 177px
			margin-left: auto

		+until-480
			margin-top: 20px

	&__counter
		display: flex
		transform: translateX(-4px)

	&__volume
		display: flex
		align-items: center
		flex-wrap: wrap

		&:not(:last-child)
			margin-right: 10px

		&-title
			font-weight: 400
			font-size: 14px
			line-height: 1.7

			+until-768
				font-size: 12px

			&:not(:last-child)
				margin-right: 7px

		&-tabs
			display: flex
			align-items: center

		&-tab
			padding: 6px 3px 4px
			display: flex
			align-items: center
			justify-content: center

			font-weight: 700
			font-size: 12px
			line-height: 1.2
			text-align: center
			text-transform: uppercase

			border: 1px solid var(--color-red)
			background-color: var(--color-white)
			border-radius: var(--border-radius-base)
			color: var(--color-red)

			transition: background-color .3s ease, color .3s ease
			cursor: pointer

			&:not(:last-child)
				margin-right: 5px

			&:hover,
			&.active
				background-color: var(--color-red)
				color: var(--color-white)
				
			&.active
				cursor: default
				
	&__add
		position: relative
		white-space: nowrap
		flex-direction: column
		margin-right: 0 !important

		+until-992
			height: 59px

		&.active
			background-color: #73b017
			border: transparent
			box-shadow: none

		+until-768
			flex: 1 0 55px
			padding: 3px 16px
			height: 40px

		&:not(:last-child)
			margin-right: 10px

			+until-768
				margin-right: 5px

		&::after
			content: ''
			display: none
			width: 24px
			height: 24px
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.56522 9.55692C5.5195 9.14524 5.1487 8.84856 4.73702 8.89428C4.32534 8.94 4.02866 9.3108 4.07438 9.72249L5.56522 9.55692ZM5.65057 17.1202L4.90515 17.203L4.90516 17.2031L5.65057 17.1202ZM7.45859 18.739L7.45831 19.489H7.45859V18.739ZM16.7398 18.739L16.7399 17.989H16.7398V18.739ZM18.5488 17.1202L19.2942 17.2031L19.2942 17.2029L18.5488 17.1202ZM20.1241 9.7224C20.1697 9.31071 19.873 8.93994 19.4613 8.89427C19.0496 8.8486 18.6789 9.14532 18.6332 9.55701L20.1241 9.7224ZM3 8.88971C2.58579 8.88971 2.25 9.2255 2.25 9.63971C2.25 10.0539 2.58579 10.3897 3 10.3897V8.88971ZM21.1985 10.3897C21.6128 10.3897 21.9485 10.0539 21.9485 9.63971C21.9485 9.2255 21.6128 8.88971 21.1985 8.88971V10.3897ZM5.05896 9.3043C4.87372 9.67478 5.02389 10.1253 5.39437 10.3105C5.76485 10.4958 6.21536 10.3456 6.4006 9.97512L5.05896 9.3043ZM8.22046 6.33541C8.4057 5.96493 8.25553 5.51442 7.88505 5.32918C7.51456 5.14394 7.06406 5.29411 6.87881 5.66459L8.22046 6.33541ZM17.7979 9.97512C17.9832 10.3456 18.4337 10.4958 18.8042 10.3105C19.1747 10.1253 19.3248 9.67478 19.1396 9.3043L17.7979 9.97512ZM17.3197 5.66459C17.1345 5.29411 16.684 5.14394 16.3135 5.32918C15.943 5.51442 15.7928 5.96493 15.9781 6.33541L17.3197 5.66459ZM8.61944 15.0993C8.61944 15.5135 8.95522 15.8493 9.36944 15.8493C9.78365 15.8493 10.1194 15.5135 10.1194 15.0993H8.61944ZM10.1194 13.2794C10.1194 12.8652 9.78365 12.5294 9.36944 12.5294C8.95522 12.5294 8.61944 12.8652 8.61944 13.2794H10.1194ZM11.3492 15.0993C11.3492 15.5135 11.685 15.8493 12.0992 15.8493C12.5134 15.8493 12.8492 15.5135 12.8492 15.0993H11.3492ZM12.8492 13.2794C12.8492 12.8652 12.5134 12.5294 12.0992 12.5294C11.685 12.5294 11.3492 12.8652 11.3492 13.2794H12.8492ZM14.079 15.0993C14.079 15.5135 14.4148 15.8493 14.829 15.8493C15.2432 15.8493 15.579 15.5135 15.579 15.0993H14.079ZM15.579 13.2794C15.579 12.8652 15.2432 12.5294 14.829 12.5294C14.4148 12.5294 14.079 12.8652 14.079 13.2794H15.579ZM4.07438 9.72249L4.90515 17.203L6.39598 17.0374L5.56522 9.55692L4.07438 9.72249ZM4.90516 17.2031C5.04981 18.5041 6.14928 19.4885 7.45831 19.489L7.45887 17.989C6.91391 17.9888 6.45619 17.579 6.39597 17.0373L4.90516 17.2031ZM7.45859 19.489H16.7398V17.989H7.45859V19.489ZM16.7398 19.489C18.0493 19.4891 19.1495 18.5046 19.2942 17.2031L17.8034 17.0373C17.7431 17.5792 17.2851 17.989 16.7399 17.989L16.7398 19.489ZM19.2942 17.2029L20.1241 9.7224L18.6332 9.55701L17.8034 17.0375L19.2942 17.2029ZM3 10.3897H21.1985V8.88971H3V10.3897ZM6.4006 9.97512L8.22046 6.33541L6.87881 5.66459L5.05896 9.3043L6.4006 9.97512ZM19.1396 9.3043L17.3197 5.66459L15.9781 6.33541L17.7979 9.97512L19.1396 9.3043ZM10.1194 15.0993V13.2794H8.61944V15.0993H10.1194ZM12.8492 15.0993V13.2794H11.3492V15.0993H12.8492ZM15.579 15.0993V13.2794H14.079V15.0993H15.579Z' fill='white'/%3E%3C/svg%3E")
			background-position: center
			background-size: 100%
			background-repeat: no-repeat

			+until-768
				display: block


	&_catalog
		padding: 18px 18px 35px

		&:hover
			box-shadow: 5px 0 15px rgba(211, 85, 60, .3)

		& .product-card

			&__body
				padding-top: 20px

			&__title
				+from-768
					font-size: 16px

			&__subtitle
				+from-768
					font-size: 14px

			&__actions
				& .product-action
					+from-768
						width: 36px
						height: 36px

			&__stat
				font-size: 14px
				+until-992
					font-size: 12px

			&__add
				height: 43px
				padding: 5px 13px 3px

				font-size: 12px

				+until-992
					flex: 1 0 55px
					padding: 3px 16px
					height: 30px

				&:not(:last-child)
					margin-right: 7px
					+until-480
						margin-right: 4px

				&-text
					+until-992
						display: none

				&::after
					+until-992
						display: block

			&__counter
				height: 43px

				+until-992
					flex: 0 1 140px
					height: 30px

				& .counter
					&__btn
						flex: 0 0 43px

						+until-992
							flex: 1 0 30px

						+until-480
							min-width: 20px
							flex-shrink: 1

					&__input
						font-size: 16px

						+until-992
							font-size: 12px


	&__chars-val-info-btn
		display: inline-block

		svg
			width: 20px
			height: 20px
			fill: #808181
			flex-shrink: 0

	&__chars-val-info
		background-color: #fff
		position: absolute
		box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.08)
		width: 170px
		border-radius: 6px
		opacity: 0
		transition: .3s
		max-height: 0
		padding: 0
		overflow: hidden
		z-index: 1000

	&__chars-val-info-wrap
		display: inline-block
		position: absolute
		margin-top: 0
		margin-left: 4px

		@media screen and (max-width: 768px)
			margin-top: -2px

		&:hover
			.product-card__chars-val-info
				opacity: 1
				max-height: 400px
				padding: 6px

	&__chars-line
		@media screen and (max-width: 768px)
			margin-bottom: 10px

	&__chars-span
		font-weight: bold

	&__chars-span, &__chars-val
		color: rgba(0, 0, 0, .6)
		font-size: .750rem

		@media screen and (max-width: 768px)
			display: block

