.product-item
    a.product-item__btn-in-cart, button.product-item__btn-in-cart
        color: #fff

    &__btn-in-cart
        display: flex
        justify-content: center
        align-items: center
        border-radius: 6px
        padding-top: 9px
        padding-bottom: 9px
        white-space: nowrap
        margin-right: 4px
        width: 116px
        flex-direction: column

        +set_colors_1(background-color)

        &:hover
            @at-root .knauf &
                background-color: darken(#4f70ad, 10%)
            @at-root .rockwool &
                background-color: darken(#AA000F, 10%)
            @at-root .tn &
                background-color: darken(#ED1C24, 10%)
            @at-root .penoplex &
                background-color: darken(#F36F21, 10%)
            @at-root .isover &
                background-color: darken(#FFDD00, 10%)
            @at-root .paroc &
                background-color: darken(#CE1126, 10%)
            @at-root .ursa &
                background-color: darken(#EA4740, 10%)

    &__btn-in-cart-top-text
        font-weight: bold

    &__custom-counter
        display: flex
        height: 50px

        .custom-counter__amount
            font-size: 13.3333px

    &__controls
        display: flex

    &__form
        display: flex

        .product-item__btn-in-cart
            text-transform: uppercase
