.product-card
    margin-bottom: 60px

    // Переопределение
    .content-block
        margin-bottom: 0

    &__saleinfo
        font-weight: bold
        margin-top: 6px

        &_pos
            &_top
                margin-top: 12px

    &__content
        border: 1px solid #eaeaea
        padding: 27px
        width: 100%

        @media screen and (max-width: 450px)
            padding: 7px

    &__left-info
        margin-right: 20px

        @media screen and (max-width: 880px)
            margin-right: 0

    &__article
        font-weight: 700
        font-size: 12px
        color: #b1b2b3
        width: 100%
        text-align: right

        @media screen and (max-width: 880px)
            text-align: left
            margin-top: 16px

        @media screen and (max-width: 768px)
            margin-top: 0

        &_mobile
            display: none

            @media screen and (max-width: 768px)
                display: block
                margin-bottom: 6px

        &_pc
            @media screen and (max-width: 768px)
                display: none

    &__title-1
        font-size: 24px
        color: #323232
        align-self: flex-start
        text-align: left

    &__specs-list-item
        display: flex
        max-width: 564px
        overflow: hidden

        &:nth-last-child(n+2)
            margin-bottom: 12px

        &::before
            width: 0
            font-size: 14px
            content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
            white-space: nowrap

    &__specs-list-item-value
        margin-left: auto
        padding-left: 4px

    &__specs-list-item-name
        padding-right: 4px

    &__specs-list-item-name, &__specs-list-item-value
        background-color: #fff

    &__buy, &__info-left
        max-width: 372px
        width: 100%

    &__img
        display: block

    &__img-link
        cursor: zoom-in
        display: block

        // При наведении на картинку срабатывает js-image-zoom, справа появляется прямоугольник. В некоторых карточках товара справа есть цена. И она может быть зачеркнута (если у товара указана старая цена). Для зачеркивания нужно position: relative. А из-за position: relative блок с ценой по z будет выше прямоугольника справа. Данные строки исправляют это
        position: relative
        z-index: 2

    &__info
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
        grid-gap: 10px 30px

        @media screen and (max-width: 1200px)
            grid-template-columns: 1fr

    &__info-left, &__info-right
        @media screen and (max-width: 450px)
            grid-template-columns: 2fr

    &__info-left
        display: flex
        align-items: flex-start
        flex-direction: column

        .yellow-btn
            width: 100%
            padding: 0 10px

            svg
                margin-right: 10px

        .white-btn
            width: 100%
            grid-column: span 2

    &__info-right
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
        grid-gap: 14px

        & > *
            height: 50px

    &__buy
        max-width: 271px
        margin-top: 15px

    &__reviews
        white-space: nowrap

    &__package
        margin-top: 14px
        font-style: italic
        font-size: 14px
        line-height: 120%
        color: #BABABA

    &__tabs-buttons
        @media screen and (max-width: 768px)
            display: none

    &__content-wrap
        display: none
        padding-top: 20px

        @media screen and (max-width: 768px)
            padding-bottom: 20px

    &__tabs-page
        &.active
            .product-card__content-wrap
                display: block

            .product-card__mobile-tabs-button
                background-color: #fff
                +set_colors_1(color)

                &::before
                    transform: rotate(-135deg)
                    top: calc(50% - 2px)

    &__mobile-tabs-button
        cursor: pointer
        line-height: 1
        overflow: hidden
        position: relative
        align-items: center
        justify-content: center
        text-align: center
        font-weight: 700
        padding: 15px 20px
        transition: color .3s, background-color .3s
        background: #f6f6f6
        border: 1px solid #eaeaea
        box-sizing: border-box
        border-radius: 2px

        display: none

        @media screen and (max-width: 768px)
            display: flex

        &::before
            position: absolute
            top: calc(50% - 6px)
            right: 15px
            display: inline-block
            width: 0
            height: 0
            padding: 3px
            content: ""
            transition: .3s ease-in
            transform: rotate(45deg)
            border-width: 0 2px 2px 0
            border-style: solid
            +set_colors_1(border-color)

    &__unit-span
        margin-right: 4px

    &__units-wrap
        font-weight: 600
        font-size: 14px
        line-height: 100%
        grid-column: span 2

    &__unit-link
        line-height: 1.8

        &:nth-last-of-type(n+2)
            margin-right: 4px

        &.active
            +set_colors_1(color)
            border-radius: 4px
            padding: 7px 8.5px
            background-color: #F8F8F8

    &__info-inner
        grid-column: span 2
        display: flex
        align-items: flex-start

        @media screen and (max-width: 1200px)
            grid-column: span 1

        @media screen and (max-width: 880px)
            display: block

    &__right-info
        display: flex
        margin-left: auto
        flex-wrap: wrap
        width: 240px

        @media screen and (max-width: 880px)
            margin-left: 0
            margin-bottom: 12px

    &__btn-fav, &__btn-compare
        margin-top: 12px

        &::after
            padding-bottom: 2px
            border-bottom: 1px solid currentColor

        &:hover
            &::after
                border-bottom-color: transparent

    &__new-price-wrap
        font-weight: bold
        margin-top: 12px

    &__price-wrap
        margin-top: 12px
        font-weight: 700
        font-size: 24px
        display: block
        margin-right: 20px

    &__price-outer
        display: flex
        flex-wrap: wrap
        align-items: center

    &__top
        margin-bottom: 60px

    &__top-line
        display: flex
        align-items: center
        border-bottom: 1px solid #F0F0F0
        padding-bottom: 16px
        margin-bottom: 24px
        flex-wrap: wrap

        @media screen and (max-width: 880px)
            border-bottom: none
            margin-bottom: 0

        @media screen and (max-width: 500px)
            display: none

        &::after
            order: 1
            display: none
            content: ""
            width: 100%

            @media screen and (max-width: 880px)
                display: block

    &__select-span
        font-size: 12px
        padding-bottom: 8px

    &__select-wrap
        @media screen and (max-width: 500px)
            width: 100%
            margin-bottom: 16px

            &:nth-last-of-type(1)
                margin-bottom: 0

        .euv-custom-select
            width: 100%

        &_align
            &_right
                margin-left: auto

                @media screen and (max-width: 500px)
                    margin-left: 0

        &_type
            &_full
                width: 100%
                margin-bottom: 16px

            &_half
                width: calc(50% - 6px)

    &__info-simple
        grid-column: span 2
        display: flex

        @media screen and (max-width: 500px)
            display: none

    &__delivery
        display: flex
        flex-direction: column
        align-items: flex-start
        grid-column: span 2

    &__delivery-title
        font-weight: bold
        margin-bottom: 14px

    &__delivery-content
        width: 100%
        display: flex

        @media screen and (max-width: 500px)
            flex-wrap: wrap

    &__article-and-availability
        display: none

        @media screen and (max-width: 500px)
            display: block

    a.product-card__delivery-link
        margin-top: 1px
        background: url(/assets/template/img/svg-sprite/icon-delivery-2.svg) no-repeat left top 1px
        padding-left: 16px
        font-weight: 600

    &__delivery-text
        margin-right: 12px
        font-weight: 600

        @media screen and (max-width: 500px)
            width: 100%
            margin-right: 0
            margin-bottom: 10px

    &__aux-info
        display: none
        margin-top: 16px

        .product-card__availability svg
            margin-right: 6px

        @media screen and (max-width: 500px)
            display: flex

    &__brand
        position: absolute
        left: 10px
        top: 10px
        display: block
        width: 60px
        height: 40px
        z-index: 10
        background: rgba(255, 255, 255, .5)

        +brands_to_selector('::after')

        &::after
            content: ""
            display: block
            width: 100%
            height: 100%
            background-repeat: no-repeat
            background-position: center center
            box-sizing: border-box
            background-size: contain

    &__img-wrap
        position: relative

    &__gallery-item
        width: 50px
        height: 50px
        overflow: hidden
        border: 2px solid transparent
        transition: .3s
        border-radius: 2px
        display: flex
        align-items: center
        justify-content: center

        &:hover
            +set_colors_1($property: border-color, $opacity: .4)

        &.active
            +set_colors_1(border-color)

    &__gallery-item-img
        max-width: 100%
        height: auto
        display: block

    &__gallery-btns-wrap
        position: absolute
        bottom: 0
        left: 0
        width: 100%

    &__gallery
        width: 260px
        margin-right: 30px
        position: relative

        @media screen and (max-width: 768px)
            margin-left: auto
            margin-right: auto
            text-align: center

    // Переопределение
    .product-card__gallery-slider.product-card__gallery-slider_without-buttons
        margin-left: 0
        margin-right: 0

    &__gallery-slider
        margin-top: 15px
        margin-left: 26px
        margin-right: 26px

        @media screen and (max-width: 768px)
            margin-bottom: 16px

    &__gallery-btn
        z-index: 10
        position: absolute
        border: solid #323232
        display: inline-block
        transition: .3s
        bottom: 20px
        cursor: pointer
        border-width: 0 3px 3px 0
        padding: 6px
        border-radius: 2px

        @media screen and (max-width: 768px)
            bottom: 34px

        &:hover
            +set_colors_1(border-color)

        &_dir
            &_next
                right: 0
                transform: rotate(-45deg)

            &_prev
                left: 0
                transform: rotate(135deg)

    &__discount
        right: -6px
        top: 20px
