.promo-block
	position: relative
	z-index: 0

	padding: 40px 60px 35px

	border-radius: var(--border-radius-base)

	+until-768
		display: flex
		flex-direction: column
		padding: 25px 30px 25px 10px

	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1

		background-color: var(--color-white)
		border-radius: var(--border-radius-base)
		overflow: hidden

		&-img
			display: block
			width: 100%
			height: 100%

			object-fit: cover
			object-position: bottom right

	&__title
		margin-bottom: 10px

		font-weight: 700
		font-size: 20px
		line-height: 1.2

		+until-768
			line-height: 1.3


	&__text
		margin-bottom: auto

		font-weight: 400
		font-size: 16px
		line-height: 1.2

		+until-768
			font-size: 12px
			line-height: 1.3

	&__btn
		margin-top: 30px
		width: max-content

		+until-768
			margin-top: 25px
			padding: 10px 10px 6px

			font-size: 12px

	&_view
		&_big
			padding: 60px 60px 45px

			+until-992
				padding: 40px 60px 35px

			+until-768
				padding: 25px 30px 25px 10px

			& .promo-block
				&__title
					margin-bottom: 15px

					font-size: 30px

					+until-992
						margin-bottom: 10px

						font-size: 20px

				&__text
					font-size: 20px

					+until-992
						font-size: 16px

					+until-768
						font-size: 12px

				&__btn
					margin-top: 40px

					+until-992
						margin-top: 30px

					+until-768
						margin-top: 25px

	&_style

		&_white
			color: var(--color-white)

		& .promo-block

			&__bg
				background-image: linear-gradient(293.96deg, #D3553C 5.68%, #FCA796 87.17%)

.section.section_view_bg
	margin-bottom: 0px

.advantages-section
	padding-top: 40px
.section_view_bg

	@at-root [data-ctx="krovelnyjstroymarket"]
		.promo__item:nth-child(1)

			& .promo-block__title, & .promo-block__btn
				background: rgba(211, 85, 60, 1)
				padding: 7px 20px 7px
				border-radius: 5px


		.promo__item:nth-child(3)
			& .promo-block__btn
				background: rgba(255, 255, 255, 0.9)