.product-item
    a.product-item__btn-in-cart, button.product-item__btn-in-cart
        color: #fff

    &__price
        font: inherit

    &__btn-in-cart
        display: flex
        justify-content: center
        align-items: center
        border-radius: 6px
        padding-top: 9px
        padding-bottom: 9px
        white-space: nowrap
        margin-left: 4px
        width: 116px
        height: 50px
        flex-direction: column

        +set_colors_1(background-color)

        &:hover
            @at-root .knauf &
                background-color: darken(#4f70ad, 10%)
            @at-root .rockwool &
                background-color: darken(#AA000F, 10%)
            @at-root .tn &
                background-color: darken(#ED1C24, 10%)
            @at-root .penoplex &
                background-color: darken(#F36F21, 10%)
            @at-root .isover &
                background-color: darken(#FFDD00, 10%)
            @at-root .paroc &
                background-color: darken(#CE1126, 10%)
            @at-root .ursa &
                background-color: darken(#EA4740, 10%)

    &__btn-in-cart-top-text
        font-weight: bold

    &__custom-counter
        display: flex
        height: 50px

        .custom-counter__amount
            font-size: 13.3333px

    &__selprice
        display: flex
        align-items: center
        width: 100%
        margin-top: 6px
        margin-bottom: 15px

        &-span
            margin-right: 6px
            font-weight: 600
            font-size: 14px

    &__ms2-elems
        display: none

    &__form, &__controls
        width: 100%

    &__controls
        display: flex

        &_action
            &_change
                .product-item__btn-in-cart
                    background-color: #73b017

                    &:hover
                        background-color: #ebaf00

            &_add
                .product-item__btn-in-cart
                    text-transform: uppercase

.product-item__controls_action_add
    display: flex
.product-item__controls_action_change
    display: none

.product-item-in-cart
    .product-item__controls_action_add
        display: none
    .product-item__controls_action_change
        display: flex

