.raspil__delivery {
  min-width: 320px;
  .infoblocks {
    &__advantages {
      display: flex;
      flex-direction: column;
      gap: 48px;
      .advantage {
        &__title {
          margin: 10px 0 5px;
        }
        &__image {
          border-radius: 6px;
          max-width: 100%;
        }
      }
    }
    &__advantage {
      padding: 0;
    }
    &__bottom {
      margin-top: 32px;
      .btn {
        min-width: 300px;
      }
    }
  }

  .table-delivery .table__cell:nth-of-type(1) {
    @include until-480 {
      text-wrap: auto;
    }
  }
}