// based on .block-bg
.side-banner
  border-radius: 10px
  color: #fff
  min-height: 550px
  display: block
  +until-1200
    display: none
  &__wrapper
    display: flex
    gap: 20px
    flex-direction: column
    height: 500px
  &__title
    font-size: 29px
    font-weight: 600
    text-align: center

  &__background
    background-color: var(--color-red)
   
  &__description
    margin-top: 20px
    font-size: 16px
    font-weight: 400
    text-align: center

   
    // transform: translateY(-50%)
    img
      min-width: 100%
      min-height: 100%
  &__action
    margin-top: 10px
    .btn
      height: 50px
      width: 90%
      margin-inline: auto
