.swiper-slide.product__pictures-thumb.slide-video
      display: flex
      flex-direction: column
      svg
            background: #eee
            border-radius: 50%
            width: 60px
            height: 60px
            padding: 10px
      span
            margin-top: 10px