.block-bg
  position: relative
  overflow: hidden
  [class*="__wrapper"]
    padding: 30px 20px
    width: 100%

  [class*="__background"]
    position: absolute
    width: 100%
    z-index: -1
    // transform: translateY(-50%)
    img
      min-width: 100%
      min-height: 100%
