.link
	color: var(--color-red)
	text-decoration: none
	border-bottom: 1px dashed var(--color-red)

	transition: .3s ease
	cursor: pointer

	&:hover
		border-color: transparent

	&_white
		color: var(--color-white)
		border-color: var(--color-white)