.product-action
	width: 50px
	height: 50px
	padding: 0
	display: flex
	align-items: center
	justify-content: center

	box-shadow: var(--shadow-base)
	background-color: var(--color-white)
	background-position: center
	background-repeat: no-repeat
	background-size: 62.5%
	border-radius: var(--border-radius-base)
	border: none
	outline: none

	cursor: pointer
	appearance: none

	transition: .3s ease

	+until-768
		height: 19px
		width: 19px

	&:hover
		box-shadow: 0 0 30px rgba(211, 85, 60, 0.44)
		outline: none

	&:active
		background-color: var(--color-white-trans)
		box-shadow: none
		outline: none

	&_favorite
		background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3677 7.58835C16.8958 7.02749 16.3456 6.53777 15.7387 6.12929C14.3974 5.22661 12.7788 4.7207 11.114 4.7207C6.83373 4.7207 3.47064 8.12437 3.47064 12.4563C3.47064 13.9955 3.82605 15.4572 4.43486 16.8478C6.32316 21.1646 10.6495 24.8076 14.3736 27.9433C15.4457 28.8461 16.468 29.7068 17.3677 30.5295C18.2674 29.7068 19.2897 28.8461 20.3618 27.9433C24.0858 24.8076 28.4121 21.1648 30.3004 16.848C30.9093 15.4574 31.2648 13.9956 31.2648 12.4563C31.2648 8.12437 27.9017 4.7207 23.6214 4.7207C21.9566 4.7207 20.338 5.22661 18.9967 6.12929C18.3898 6.53777 17.8396 7.02749 17.3677 7.58835ZM17.3677 26.7585C17.8163 26.3749 18.2748 25.9881 18.7326 25.6019C19.1204 25.2748 19.5077 24.948 19.888 24.6241C21.4104 23.3273 22.9006 22.0098 24.2202 20.629C25.8532 18.9203 27.0669 17.2757 27.7736 15.6524C28.2397 14.5807 28.4853 13.5191 28.4853 12.4563C28.4853 9.75994 26.4173 7.58835 23.6214 7.58835C21.9698 7.58835 20.4286 8.32495 19.4666 9.46826L17.3677 11.9627L15.2688 9.46826C14.3068 8.32495 12.7656 7.58835 11.114 7.58835C8.31805 7.58835 6.25005 9.75994 6.25005 12.4563C6.25005 13.5191 6.49567 14.5807 6.96177 15.6524C7.66852 17.2757 8.88219 18.9203 10.5152 20.629C11.8348 22.0098 13.325 23.3273 14.8474 24.6241C15.2277 24.948 15.615 25.2748 16.0028 25.6019C16.4606 25.9881 16.9191 26.3749 17.3677 26.7585Z' fill='%23D3553C'/%3E%3C/svg%3E")

		&.active
			background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3677 7.58835C16.8958 7.02749 16.3456 6.53777 15.7387 6.12929C14.3974 5.22661 12.7788 4.7207 11.114 4.7207C6.83373 4.7207 3.47064 8.12437 3.47064 12.4563C3.47064 13.9955 3.82605 15.4572 4.43486 16.8478C6.32316 21.1646 10.6495 24.8076 14.3736 27.9433C15.4457 28.8461 16.468 29.7068 17.3677 30.5295C18.2674 29.7068 19.2897 28.8461 20.3618 27.9433C24.0858 24.8076 28.4121 21.1648 30.3004 16.848C30.9093 15.4574 31.2648 13.9956 31.2648 12.4563C31.2648 8.12437 27.9017 4.7207 23.6214 4.7207C21.9566 4.7207 20.338 5.22661 18.9967 6.12929C18.3898 6.53777 17.8396 7.02749 17.3677 7.58835Z' fill='%23D3553C'/%3E%3C/svg%3E")

	&_compare
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='35' viewBox='0 0 32 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.34548 27.9367V13.5167C3.34112 12.7805 3.8897 12.1797 4.57133 12.174H9.47311C10.1547 12.1797 10.7033 12.7805 10.6989 13.5167V6.79844C10.6946 6.06294 11.2422 5.46236 11.9232 5.45581H16.8266C17.5082 5.46143 18.0568 6.06228 18.0524 6.79844V10.8297C18.048 10.0936 18.5966 9.49271 19.2783 9.48709H24.18C24.861 9.49364 25.4087 10.0942 25.4043 10.8297V27.9367C25.4087 28.6729 24.8601 29.2737 24.1785 29.2793H4.57133C3.8897 29.2737 3.34112 28.6729 3.34548 27.9367Z' stroke='%23D3553C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.69891 29.2792C9.69891 29.8315 10.1466 30.2792 10.6989 30.2792C11.2512 30.2792 11.6989 29.8315 11.6989 29.2792H9.69891ZM11.6989 13.5165C11.6989 12.9643 11.2512 12.5165 10.6989 12.5165C10.1466 12.5165 9.69891 12.9643 9.69891 13.5165H11.6989ZM17.0507 29.2792C17.0507 29.8315 17.4984 30.2792 18.0507 30.2792C18.6029 30.2792 19.0507 29.8315 19.0507 29.2792H17.0507ZM19.0507 10.8296C19.0507 10.2773 18.6029 9.82959 18.0507 9.82959C17.4984 9.82959 17.0507 10.2773 17.0507 10.8296H19.0507ZM11.6989 29.2792V13.5165H9.69891V29.2792H11.6989ZM19.0507 29.2792V10.8296H17.0507V29.2792H19.0507Z' fill='%23D3553C'/%3E%3C/svg%3E")

		&.active
			background-color: var(--color-red)
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='35' viewBox='0 0 32 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.34548 27.9367V13.5167C3.34112 12.7805 3.8897 12.1797 4.57133 12.174H9.47311C10.1547 12.1797 10.7033 12.7805 10.6989 13.5167V6.79844C10.6946 6.06294 11.2422 5.46236 11.9232 5.45581H16.8266C17.5082 5.46143 18.0568 6.06228 18.0524 6.79844V10.8297C18.048 10.0936 18.5966 9.49271 19.2783 9.48709H24.18C24.861 9.49364 25.4087 10.0942 25.4043 10.8297V27.9367C25.4087 28.6729 24.8601 29.2737 24.1785 29.2793H4.57133C3.8897 29.2737 3.34112 28.6729 3.34548 27.9367Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.69897 29.2792C9.69897 29.8315 10.1467 30.2792 10.699 30.2792C11.2513 30.2792 11.699 29.8315 11.699 29.2792H9.69897ZM11.699 13.5165C11.699 12.9643 11.2513 12.5165 10.699 12.5165C10.1467 12.5165 9.69897 12.9643 9.69897 13.5165H11.699ZM17.0507 29.2792C17.0507 29.8315 17.4984 30.2792 18.0507 30.2792C18.603 30.2792 19.0507 29.8315 19.0507 29.2792H17.0507ZM19.0507 10.8296C19.0507 10.2773 18.603 9.82959 18.0507 9.82959C17.4984 9.82959 17.0507 10.2773 17.0507 10.8296H19.0507ZM11.699 29.2792V13.5165H9.69897V29.2792H11.699ZM19.0507 29.2792V10.8296H17.0507V29.2792H19.0507Z' fill='white'/%3E%3C/svg%3E")
