.rating
    display: flex
    align-items: center

    &__stars
        display: flex
        align-items: center

    &__star
        width: 12px
        height: 12px

        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33967 11.4411C7.12587 11.3263 6.87413 11.3263 6.66033 11.4411L3.91962 12.9118C3.33917 13.2234 2.68561 12.6607 2.84301 11.985L3.48384 9.23377C3.54511 8.97069 3.48053 8.69215 3.31153 8.49062L1.19611 5.96786C0.774432 5.46501 1.07397 4.66152 1.70245 4.60963L4.65351 4.36599C4.92955 4.3432 5.17219 4.16101 5.28675 3.89049L6.30847 1.47791C6.57833 0.840698 7.42167 0.840698 7.69153 1.47791L8.71327 3.89049C8.8278 4.16101 9.07047 4.3432 9.34647 4.36599L12.2975 4.60963C12.926 4.66152 13.2256 5.46501 12.8039 5.96786L10.6885 8.49062C10.5195 8.69215 10.4549 8.97069 10.5161 9.23377L11.157 11.985C11.3144 12.6607 10.6608 13.2234 10.0804 12.9118L7.33967 11.4411Z' stroke='%23D3553C' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        background-position: center
        background-repeat: no-repeat
        background-size: 100%

        &:not(:last-child)
            margin-right: 5px

        &.active
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33967 11.4411C7.12587 11.3263 6.87413 11.3263 6.66033 11.4411L3.91962 12.9118C3.33917 13.2234 2.68561 12.6607 2.84301 11.985L3.48384 9.23377C3.54511 8.97069 3.48053 8.69215 3.31153 8.49062L1.19611 5.96786C0.774432 5.46501 1.07397 4.66152 1.70245 4.60963L4.65351 4.36599C4.92955 4.3432 5.17219 4.16101 5.28675 3.89049L6.30847 1.47791C6.57833 0.840698 7.42167 0.840698 7.69153 1.47791L8.71327 3.89049C8.8278 4.16101 9.07047 4.3432 9.34647 4.36599L12.2975 4.60963C12.926 4.66152 13.2256 5.46501 12.8039 5.96786L10.6885 8.49062C10.5195 8.69215 10.4549 8.97069 10.5161 9.23377L11.157 11.985C11.3144 12.6607 10.6608 13.2234 10.0804 12.9118L7.33967 11.4411Z' stroke='%23D3553C' stroke-linecap='round' fill='%23D3553C' stroke-linejoin='round'/%3E%3C/svg%3E")

    &__reviews
        margin-left: 15px
        font-weight: 400
        font-size: 14px
        line-height: 1.7

        &_clickable
            cursor: pointer
