.search
	position: relative

	&.active
		& .search
			&__dropdown
				opacity: 1
				transform: none
				pointer-events: all

	&__wrapper
		display: flex
		align-items: center

		background-color: var(--color-white)
		border-radius: var(--border-radius-base)
		box-shadow: var(--shadow-base)

	&__btn
		flex: 0 0 50px
		z-index: 1
		box-shadow: none

		+until-tablet
			flex: 0 0 28px

	&__input
		min-height: 50px
		flex: 1 1 auto
		padding: 14px 20px 14px 25px
		margin-left: -5px

		font-size: 16px
		line-height: 1.2
		letter-spacing: 0.05em

		color: var(--color-black)
		background: var(--color-white)
		border: 1px solid var(--color-white)
		border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0
		border-left: none
		outline: none

		+until-tablet
			min-height: 28px
			padding: 6px 10px

			font-size: 12px

		&::placeholder
			color: var(--color-gray)

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration
			display: none


		&:hover,
		&:focus
			border-color: var(--color-red)

	&__dropdown
		position: absolute
		top: 100%
		left: 0
		z-index: 1000

		width: 522px
		max-width: calc(50vw - 20px)
		margin-top: 12px
		padding: 18px 20px 32px

		background-color: var(--color-white)
		border-radius: var(--border-radius-base)
		box-shadow: var(--shadow-base)

		pointer-events: none
		opacity: 0
		transform: translateY(-12px)
		transition: .3s ease

		+until-desktop
			max-width: unset
			width: 100%

		&-wrapper
			display: flex
			flex-direction: column

		&-title
			font-size: 14px
			line-height: 1.2
			font-weight: 400
			color: var(--color-gray)

			&:not(:last-child)
				margin-bottom: 14px

	&__options
		display: grid
		grid-template-columns: 100%
		grid-gap: 1px
		max-height: 200px
		margin: 0 -12px

		overflow-y: auto
		+Vscroll

	&__option
		display: flex
		align-items: center
		justify-content: space-between
		padding: 2px 12px

		transition: background-color .3s ease

		&:hover
			background-color: var(--color-gray-lt)

		&-name,
		&-price
			font-weight: 700
			font-size: 14px
			line-height: 1.5

		&-price
			margin-left: auto

		&-name
			color: inherit
			text-decoration: none
			outline: none

			transition: opacity .3s ease

			&:hover
				opacity: .7

		&-add
			width: 25px
			height: 25px
			margin-left: 16px

	&__more
		margin-top: 20px
		align-self: flex-start

	&_display
		&_mobile
			display: none
			+until-desktop
				display: flex

		&_desktop
			+until-desktop
				display: none
