.catalog-listing-banner
  color: #fff
  @at-root .krovelnyjstroymarket & 
    color: var(--color-red)
    background: linear-gradient(to top, white 20%, transparent 50%)

  @at-root .plitnye & 
    color: #fff
    background: linear-gradient(to bottom, opacify(#D3553C, 0.2) 20%, transparent 50%)


  @at-root .alterteplo & 
    @media (max-width: 768px)
      grid-column: span 2

    @media (max-width: 320px)
      grid-column: span 1
      padding: 0

  overflow: hidden
  border-radius: 10px
  padding: 0

  &__background
    @at-root .plitnye & 
      bottom: 0
  &__wrapper
    padding: 30px 20px
    width: 100%
    position: absolute
    bottom: 10px
    @at-root .plitnye & 
      bottom: auto
      top: 10px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
    @at-root .gazosilikatstroy &
      bottom: -14px

  p
    color: inherit
    text-align: center
  span
    line-height: 1
    &.accent
      color: var(--color-red)
      @at-root .plitnye &
        color: #fcc42b
    &.caps
      text-transform: uppercase 
    &.big
      font-size: 2em
    &.shadow 
      text-shadow: 0 2px 5px var(--color-black)

  &__title
    font-size: 29px
    font-weight: 600
    text-align: center
    @at-root .plitnye &
        color: #fff
        line-height: 1
    +until-768 
      font-size: 24px
    +until-480 
      font-size: 20px

  .banner-title
    display: flex
    flex-direction: column
    align-items: center 
    
    
  
  &__description
    margin-top: 20px
    font-size: 16px
    font-weight: 400
    @at-root .plitnye &
      font-size: 20px
      +until-768 
        font-size: 16px

  .banner__action
    padding-top: 20px
    .btn
      height: 50px
      width: 90%
      margin-inline: auto
      @at-root .plitnye & 
        width: 100%
