.custom-selections
  --size: 60px
  +until-768
    --size: 40px
  &_colors
    margin-top: 20px
  a
    color: var(--color-black)
    text-decoration: none
  &__preview,
  &__groups
    display: none
    &.active
      display: block
    &-wrapper
      display: flex
      flex-direction: column
      gap: 10px
  &__preview
    @at-root .alterteplo &
      margin-bottom: 10px
  &__title
    @at-root .alterteplo &
      display: block
      margin-bottom: 10px
      font-weight: 700

  &__tags
    // display: grid
    // grid-template-columns: repeat(5, minmax(0, 1fr))
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    gap: 9px

  &__tag
    max-width: 240px
    list-style: none
    background-color: var(--color-gray-lt)
    border-radius: var(--border-radius-base)
    transition: .3s
    overflow: hidden
    padding-right: 5px
    font-size: 15px
    word-wrap: break-word
    +until-1200
      max-width: 210px
      font-size: 13px
    +until-768
      max-width: 175px
      font-size: 11px
      flex-basis: 47%
    &:hover
      box-shadow: 5px 0 15px var(--color-red-trans)
    &-link
      height: 100%
      display: flex
      align-items: center
      gap: 5px
    
    @at-root .alterteplo &
      display: flex
      column-gap: 5px
      align-items: center
      flex-basis: calc(100% / 4 - 7px)
      max-width: none
      height: 70px
      border: 1px solid #F5F5F5
      background-color: #FFFFFF
      +until-768
        flex-basis: calc(100% / 2 - 7px)


    &-name
      // font-size: 16px
      +until-1200
        font-size: 14px
      +until-768
        font-size: 12px
    &-title
      font-size: 1em
      overflow: hidden
      &:first-letter
        text-transform: capitalize
    &-picture 
      padding: 5px
    &-image,
    &-background
      display: block
      width: var(--size)
      height: var(--size)
      border-radius: var(--border-radius-base)

    &-image
      mix-blend-mode: multiply

  &__groups

  &__group

  &__toggle
    display: flex
    align-items: center
    min-height: var(--size)
    // padding: 10px
    +until-1200
      font-size: 14px

    +until-768
      font-size: 12px

    &-button
      display: flex
      align-items: center
      font-weight: 700
      font-size: 1em
      line-height: 1
      text-align: center
      letter-spacing: 0.05em
      text-transform: uppercase
      color: var(--color-black)
      cursor: pointer
      transition: color .3s ease
      background-color: var(--color-gray-l)
      border-radius: var(--border-radius-base)
      padding: 7px 15px
      height: 100%

      &:hover
        text-decoration: underline
        text-decoration-style: dotted
        text-decoration-thickness: 1px
        text-underline-offset: .1em
        color: var(--color-red)
      &:before
        display: block
        content: 'показать все'
        padding-top: 3px
      &.active
        &::before
          content: 'скрыть'

  dl
    display: flex
    align-items: center
    gap: 15px
    +until-480
      flex-direction: column
      align-items: flex-start

    @at-root .alterteplo &
      flex-wrap: wrap

  dd
    display: flex
    align-items: center
    gap: 7px 20px
    flex-wrap: wrap
    +until-1200
      font-size: 14px

    +until-768
      font-size: 12px
      gap: 6px
      justify-content: flex-start
    
    @at-root .alterteplo &
      flex-basis: 100%
      gap: 9px
    a
      height: 30px
      max-width: unset
      padding-inline: 7px
      display: flex
      align-items: center
      width: fit-content
      flex-basis: auto
      &:hover
        color: #111

    &.active
      a
        display: flex
  dt
    font-weight: 500
    min-width: 100px

    @at-root .alterteplo &
      flex-basis: wrap
      justify-content: space-between
      flex-basis: 100%
