.showroom-gallery
  &__wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    margin-inline: auto
    justify-items: stretch

    gap: 10px
    +until-480
      grid-template-columns: repeat(2, 1fr)

  &__thumb a
    display: block
    cursor: zoom-in
    border: 2px solid #ddd
    border-radius: 10px
    overflow: hidden
    box-shadow: 0 6px 6px 1px rgba(0, 0, 0, .15)
    transition: all .3s
    &:hover
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, .15)

  &__image
    // border-radius: 10px
    display: block
    width: 100%
    // max-width: 350px

.showroom-banner
  background: linear-gradient(45deg, black, transparent)
  position: relative
  overflow: hidden
  border-radius: 10px
  &__wrapper
    padding: 30px 20px
    width: 100%
  p
    color: white

  &__title
    font-size: 20px
    font-weight: 700
  
  &__description
    margin-top: 20px
    font-size: 16px
    font-weight: 400

  &__background
    position: absolute
    top: 50%
    width: 100%
    z-index: -1
    transform: translateY(-50%)
    img
      min-width: 100%
      min-height: 100%

.showroom-objects
  &__slider
    +from-768
      margin-top: -70px

  .swiper
    &-wrapper
      +from-768
        padding: 70px 0 15px

    &-slide
      border: 2px solid #ddd
      border-radius: 10px
      overflow: hidden
      box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .15)

      a
        cursor: zoom-in

    &-buttons
      +from-768
        justify-content: flex-end
        column-gap: 10px
        top: 0
        left: 0
        width: 100%
        transform: none

    &-button
      color: var(--color-white)
      background-color: var(--color-red)
      box-shadow: 0 6px 6px 1px rgba(0, 0, 0, .15)

      &-disabled
        color: var(--color-red)
        background-color: var(--color-white)

        &:hover
          background-color: var(--color-white)

  &__image
    display: block
    width: 100%
    height: 100%
    object-fit: cover