.h-catalog
    display: flex
    align-items: flex-start

    &__parts-wrap
        display: flex

    &__part
        &:nth-last-of-type(n+2)
            margin-right: 14px

    &__row
        &:last-child
            & .h-catalog
                &__item
                    padding-bottom: 0

    &__title
        position: sticky
        top: 0
        padding-bottom: 11px
        font-weight: 400
        font-size: 14px
        line-height: 1.2
        color: var(--color-gray)
        text-align: left
        user-select: none

        &::before
            content: ''
            position: absolute
            bottom: 0
            left: 0
            z-index: -1
            width: 100%
            height: calc(100% + 18px)
            background-color: var(--color-white)

    &__item
        padding-bottom: 17px
        vertical-align: top

    &__column
        display: flex
        flex-direction: column
        justify-content: flex-start

        &:nth-of-type(n+2)
            padding-left: 30px

        &:nth-of-type(1)
            position: relative
            padding-right: 20px
            flex-basis: 285px
            flex-shrink: 0

            &::after
                display: block
                position: absolute
                content: ""
                border-right: 1px solid var(--color-black-trans)
                right: 0
                top: 28px
                height: calc(100% - 38px)

    &__column-header
        padding-bottom: 11px
        font-weight: bold
        font-size: 14px
        line-height: 1.2
        color: rgb(60, 60, 59)
        text-align: left
        user-select: none

.h-catalog-item
    align-items: center
    color: var(--color-black)
    margin-bottom: 17px
    vertical-align: top
    display: flex
    cursor: pointer

    @at-root .gazosilikatstroy &
        min-height: 37px

    &__to-catalog
        align-self: center
        min-height: 0
        line-height: 1.2

        &:hover
            border-color: transparent

    &_main
        padding-right: 12px
        text-decoration: none

        &::after
            display: block
            content: ""
            border: solid black
            border-width: 0 1.5px 1.5px 0
            padding: 3px
            transform: rotate(-45deg)
            right: 10px
            visibility: hidden
            margin-left: auto

        &.active
            background-color: #f6f6f6
            position: relative

            &::after
                visibility: visible

    &_dependent
        align-self: flex-start
        display: none

        &.active
            display: flex

    &__preview
        flex-shrink: 0
        padding: 5px
        width: 40px
        height: 37px
        margin-right: 20px
        border-radius: 6px
        transition: background-color .3s ease

    &__image
        display: block
        width: 100%
        height: 100%
        object-fit: contain

    &__name, &_to-catalog
        font-weight: 400
        font-size: 14px
        line-height: 1.2
        text-decoration: underline
        text-decoration-style: dashed
        text-underline-offset: 4px
        transition: color .3s ease, text-decoration-color .3s ease
        text-decoration-color: var(--color-black-trans)
        color: inherit

        &_bold
            font-weight: 700

    &:hover, &_main.active
        color: var(--color-red)

        & .h-catalog-item
            &__name
                text-decoration-color: transparent

            &__preview
                background-color: var(--color-red)
