.h-logo
    width: 107px
    height: 70px

    &__image
        display: block
        width: 100%
        height: auto
        max-height: 100%
        object-fit: contain
        margin-top: 26px

        +until-992
            margin-top: 0

    &_mobile
        width: 220px
        height: 50px

        +until-768
            width: 40%
            max-width: 140px
            height: 32px

    &.h-logo_mobile
        +until-1200
            height: 50px
        +until-768
            height: 40px

