.h-nav
	display: flex
	align-items: center
	gap: 15px
	&__item
		position: relative
		&:hover
			.h-subnav
				display: block

	&__link
		font-weight: 700
		font-size: 16px
		line-height: 1.2

		color: inherit
		text-decoration: none
		outline: none
		white-space: nowrap

		transition: color .3s ease

		&:hover
			color: var(--color-red)

		&_calc
			display: block
			width: 25px
			height: 25px
			mask: url(/assets/template/img/icons/calculator-menu.png) no-repeat center
			mask-size: contain
			background-color: var(--color-gray-l2)
			transition: all .3s
			&:hover
				background-color: var(--color-red)

			img
				display: none

	.h-subnav
		position: absolute
		z-index: 2
		top: 100%
		left: -20px
		overflow: hidden
		background-color: var(--color-gray-lt)
		border-radius: 10px
		padding: 20px
		display: none
		transition: all .3s
		&__wrapper
			display: flex
			flex-direction: column
			gap: 10px
