.header
    &__container
        display: flex
        align-items: center
        justify-content: space-between

    &__actions-mobile-reset
        margin-right: 20px

    &__mobile
        position: relative
        padding: 20px 0
        display: none

        +until-768
            padding: 8px 0 8px

        & .h-logo
            position: absolute
            left: 50%
            bottom: 20px
            margin: 0 auto

            transform: translateX(-50%)

            +until-768
                bottom: 8px

    &__burger
        position: relative

        margin-right: 20px

        &.active
            & .icon-btn__icon
                display: none

            &::before
                content: ''
                width: 24px
                height: 24px

                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L11.205 4.205L14 1.41Z' fill='white'/%3E%3C/svg%3E")
                background-position: center
                background-size: 100%
                background-repeat: no-repeat

                +until-768
                    width: 12px
                    height: 12px

    &__top
        padding: 13px 0 10px

        background-color: var(--color-white)

        & .h-subinfo
            &:not(:last-child)
                margin-right: 15px

        +until-992
            display: none

    &__bottom
        padding: 10px 0 20px

        background-color: var(--color-gray-lt)

        +until-992
            padding: 18px 0

        & .h-logo
            margin-right: 32px

            +until-992
                display: none

    &__toolbar
        align-self: flex-end
        flex: 1 1 auto
        display: flex
        align-items: center

    &__menu
        margin-right: 10px

        +from-1400
            display: none

        +until-992
            display: none

        & .h-nav
            flex-direction: column
            align-items: flex-start
            gap: 20px

            &__link
                &:not(:last-child)
                    margin-right: 0
                    margin-bottom: 20px

    &__catalog
        margin-right: 10px

        +until-992
            display: none

    &__search
        flex: 0 1 355px
        margin-right: 32px

        +until-1400
            margin-right: 10px

        +until-992
            flex: 1 1 100%
            margin-right: 0

        &_screen
            &_mobile
                width: 100%
                margin-bottom: 30px
                display: none

                form
                    width: 100%
        &-loader
            position: absolute
            width: 40px
            height: 40px
            right: 10px 

    &__nav
        margin: 0 auto

        +until-1400
            display: none

    &__actions
        display: flex
        align-items: center
        margin-left: auto

        &-pc
            display: flex
            // +until-480
            //     display: none
             @at-root .filters-expanded &
                +until-480
                    display: none !important

        &-mobile
            display: none

            @at-root .filters-expanded &
                +until-480
                    display: flex

    &__action
        &:not(:last-child)
            margin-right: 10px

        @at-root .mobilemenu-opened &
            display: none

        &_type
            &_minicart
                +until-992
                    order: 1
            &_favorites
                +until-992
                    order: 2

            &_callback
                display: none
                order: 3

                +until-992
                    display: flex


    // -----------------------------
    // Фиксированная шапка
    // -----------------------------
    &__phonesched, &__callback-btn
        display: none

    &__phonesched
        margin-right: 30px

        +until-1400
            margin-left: auto

        +until-992
            margin-top: 0
            margin-left: auto
            margin-right: auto

    &__right-burger
        display: none

    &-shadow
        .header__bottom
            box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.15)

    &-fixed
        .header__bottom
            position: fixed
            z-index: 1000
            width: 100%
            top: 0
            padding-top: 15px
            padding-bottom: 15px

            +until-480
                padding-top: 6px
                padding-bottom: 6px

        .header__phone
            font-size: 20px

            +until-992
                font-size: 25px
                font-weight: bold

            +until-768
                font-size: 18px

            +until-480
                font-size: 20px

        .header__search
            &_screen
                &_desktop
                    display: none

                &_mobile
                    +until-992
                        display: flex

        .header__nav
            margin-left: 20px

        .h-logo__image
            margin-top: 0

        .header__toolbar
            align-self: flex-start
            position: relative
            margin-top: auto
            margin-bottom: auto

        .h-logo
            height: auto

        .header__phonesched
            display: block

        .header__callback-btn
            display: flex

            +until-992
                display: none

        .header__actions
            right: 0
            top: 80px
            position: absolute

            +until-1400
                margin-left: auto

            +until-992
                position: fixed
                bottom: -4px
                right: auto
                top: auto
                margin: 0
                transform: translateX(-50%)
                left: 50%

        .header__action
            box-shadow: 0 6px 6px 1px rgba(0, 0, 0, .15)

            &:hover
                box-shadow: 0 0 30px rgba(211, 85, 60, .44)

        .h-subinfo_display_widescreen
            margin-top: 6px

        .h-logo
            // Переопределение
            +until-992
                display: block

            +until-768
                margin-right: 10px

        .header__schedule
            +until-992
                display: none
                margin-left: 0

        .header__right-burger
            margin-right: 0
            margin-left: 32px

            +until-992
                display: flex
            +until-768
                margin-left: 10px

        .h-subinfo__icon
            +until-480
                display: none

.filters-expanded
    header
        .header__bottom
            .header__container
                .header__toolbar
                    .header__actions
                        .header__actions-pc
                            display: none !important
                        .header__actions-mobile
                            margin-bottom: 10px
