// НАСТРОЙКИ
// Минимальная ширина страницы
$minWidth: 320

// Ширина полотна (макета)
$maxWidth: 1920

// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1366

// Общий отступ у контейнера
$containerPadding: 30

// Общая ширина контейнера
$containerWidth: $maxWidthContainer + $containerPadding * 2

// Шрифт по умолчанию
$fontFamily: 'Gotham Pro', sans-serif

[class*="__container"]
    &:not(.fancybox__container)
        @if ($maxWidthContainer > 0)
            box-sizing: content-box
            max-width: $maxWidthContainer + px
            margin: 0 auto

        @if ($containerPadding > 0)
            padding: 0 $containerPadding + px
            +until-992
                padding: 0 20px
            +until-480
                padding: 0 10px

.layout
    display: flex
    flex-direction: column
    min-height: 100%

    &__main
        flex-grow: 1

html
    scroll-behavior: smooth

html,
body
    height: 100%
    overscroll-behavior-y: none

body
    width: 100%
    margin: 0 auto

    font-family: $fontFamily
    line-height: 1.2
    font-size: 16px

    color: var(--color-black)
    background-color: var(--color-white)

    &.mobilemenu-opened,
    &.fancybox-active
        overflow: hidden

// -------------------------------
// Приближение при наведении в карточке товара
// -------------------------------
.zoom-here
    background-position: 50% 50%
    position: relative
    overflow: hidden
    cursor: zoom-in !important

    & img:hover
        opacity: 0

    img
        transition: opacity .5s
        display: block
        width: 100%

// -------------------------------
// Переключение типа покупателя в корзине
// -------------------------------
[data-form]
    display: none

    &[data-active]
        display: block

// -------------------------------------
// Стили для мобильных блоков и для ПК блоков
// -------------------------------------
.mobile-block
    display: none !important
    +until-480
        display: block !important

.mobile-flex
    display: none !important
    +until-480
        display: flex !important

.pc-block
    display: block !important
    +until-480
        display: none !important

.pc-flex
    display: flex !important
    +until-480
        display: none !important

// -------------------------------------
// Разные стили без категории
// -------------------------------------
.secret, .hidden, .hidden-data
    display: none !important

.bg-gray
    background-color: var(--color-gray-lt)

.wrap
    // Это нужно, чтобы прижать footer к самому низу
    min-height: 100vh
    display: flex
    flex-direction: column
    overflow: hidden

    &.header-fixed
        padding-top: var(--header-height)

.title-1
    font-size: 24px
    line-height: 120%
    margin-bottom: 20px
    text-align: center

.jGrowl .jGrowl-message a
    color: #fff
    text-decoration: underline

    &:hover
        color: #fff
        text-decoration: none

.margin-bottom-md
    margin-bottom: 32px

.compensate-for-scrollbar
    width: calc(100% - 17px)
    margin-right: 17px !important


.body-blackout
    //&_overhidden
    overflow: hidden

    &__screen
        z-index: 999
        background: #1e1e1e5c
        transition: opacity .370s cubic-bezier(.22, .61, .36, 1)
        right: 0
        top: 0
        bottom: 0
        left: 0
        opacity: 0
        position: fixed

        @at-root .body-blackout &
            opacity: .9

.highlight
    background: #dbdbdb
    border: 1px solid #cdcdcd
    border-radius: 4px
.search-loading
    pointer-events: none
    opacity: .5
    filter: brightness(0.9)

.flex
    display: flex
    gap: 20px
    &-col
        flex-direction: column
    &-middle
        align-items: center
    &-left
        justify-content: flex-start
    &-center
        justify-content: center
    &-justify
        justify-content: space-between

.side-banners
    margin-top: 15px
