// Брейк-поинты
$bp480: 480px
$bp768: 768px
$bp992: 992px
$bp1200: 1200px
$bp1400: 1400px

$grid-breakpoints: ('screen-480': $bp480, 'screen-768': $bp768, 'screen-992': $bp992, 'screen-1200': $bp1200, 'screen-1400': $bp1400)

@function bp-max($val)
    @return $val - 0.02

@function breakpoint-min($name, $breakpoints: $grid-breakpoints)
    $min: map-get($breakpoints, $name)
    @return if($min != 0, $min, null)

@function breakpoint-max($name, $breakpoints: $grid-breakpoints)
    $max: map-get($breakpoints, $name)
    @return if($max and $max > 0, $max - 0.02, null)

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints)
    $min: breakpoint-min($name, $breakpoints)
    @if $min
        @media (min-width: $min)
            @content
    @else
        @content

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints)
    $max: breakpoint-max($name, $breakpoints)
    @if $max
        @media (max-width: $max)
            @content
    @else
        @content

// -==========================================================================================================
@mixin until-350()
    @include media-breakpoint-down('screen-350')
        @content
        
@mixin from-480()
    @include media-breakpoint-up('screen-480')
        @content

@mixin from-768()
    @include media-breakpoint-up('screen-768')
        @content

@mixin from-992()
    @include media-breakpoint-up('screen-992')
        @content

@mixin from-1200()
    @include media-breakpoint-up('screen-1200')
        @content

@mixin from-1400()
    @include media-breakpoint-up('screen-1400')
        @content

// -==========================================================================================================
@mixin until-480()
    @include media-breakpoint-down('screen-480')
        @content

@mixin until-768()
    @include media-breakpoint-down('screen-768')
        @content

@mixin until-992()
    @include media-breakpoint-down('screen-992')
        @content

@mixin until-1200()
    @include media-breakpoint-down('screen-1200')
        @content

@mixin until-1400()
    @include media-breakpoint-down('screen-1400')
        @content

// -==========================================================================================================
@mixin media-from($val)
    @media (min-width: $val)
        @content

@mixin media-until($val)
    @media (max-width: $val - 0.02)
        @content

@mixin media-height($height, $width: 0)
    @if($width != 0)
        @media (max-height: $height) and (min-width: $width)
            @content
    @else
        @media (max-height: $height)
            @content

@mixin pointer-desk
    @media (hover: hover) and (pointer: fine)
        @content

@mixin pointer-touch
    @media (hover: none) and (pointer: coarse)
        @content
