\:root
	--color-red: #D3553C
	--color-red-md: #C84025
	--color-red-dr: #944434
	--color-red-trans: rgba(211, 85, 60, 0.3)
	--color-black: #3C3C3B
	--color-black-dr: #1E1E1E
	--color-black-trans: rgba(60, 60, 59, 0.2)
	--color-white: #FFFFFF
	--color-white-trans: rgba(255, 255, 255, 0.3)
	--color-gray: #878787
	--color-gray-trans: #8787874d
	--color-gray-md: #C9C9C9
	--color-gray-l: #D9D9D9
	--color-gray-lt: #F5F5F5
	--color-orange: #FA7800
	--color-orange-dr: #CF6518
	--color-yellow: #fd8d2b
	

	--gradient-yellow: linear-gradient(270.06deg, #FA7800 -1.88%, #EBAF00 99.94%)
	--gradient-red: linear-gradient(269.69deg, #D3553C -2.19%, #FCA796 94.04%)

	--shadow-base: 10px 0px 60px rgba(201, 201, 201, 0.4)
	--shadow-red: 0 0 30px rgba(211, 85, 60, .44)

	--backdrop: rgba(0, 0, 0, 0.25)

	--border-radius-base: 6px

	--app-height: 100vh
	--header-height: 120px

	+until-768
		--border-radius-base: 3px

body.trotuarnaya-plitka
	--color-red: #ffcc33
	--color-red-md: #ffc415
	--color-red-dr: #cfa320
	--color-orange: #e1c570
	--color-red-trans: #ffebb183
	--gradient-red: linear-gradient(269.69deg, #cfa320 -2.19%, #e1c570 94.04%)
	--color-light: rgba(110, 108, 25, 0.4)
