$red: #d10000
$black: #000
$gray: #ccc
$blue: #007bff

.menu-container, .menu-container-v3
    display: flex
    gap: 20px
    width: 1000px
    background: #fff

    .menu
        width: 250px
        padding: 30px
        border-right: 1px solid $gray


        &__all-products
            +set_colors_1(color)
            font-size: 12px
            font-weight: 600
            display: block
            margin-bottom: 10px
            text-decoration: underline

            &:hover
                text-decoration: underline

        &__list
            margin-top: 29px
            list-style: none
            padding: 0


        &__item
            display: block
            text-decoration: none
            font-weight: 700
            color: $black
            font-size: 16px
            padding: 8px 0

            &:hover
                +set_colors_1(color)
                cursor: pointer

        .solid
            a
                font-weight: 500
                padding-top: 16px
                padding-bottom: 16px
                border-top: 1px solid #E7E7E7

            &:first-child
                margin-top: 19px

        &__item

            &.active
                +set_colors_1(color)
                font-weight: bold

    .submenu
        flex: 1
        padding-left: 40px
        padding-top: 75px
        width: 700px
        height: 400px
        overflow-y: auto
        padding-bottom: 30px
        &[data-level='2']
            border-right: 1px solid #ccc


        &__list
            display: none
            grid-template-columns: repeat(2, 1fr)
            //grid-template-rows: repeat(8, auto)
            //grid-auto-flow: column
            list-style: none
            padding: 0
            margin: 0

            &.active
                display: grid

        &__item
            display: block
            text-decoration: none
            color: $black
            font-size: 16px
            padding: 5px 0

            &:hover
                color: $blue

        &__item--red
            +set_colors_1(color)


.menu-container-v3
    .submenu
        width: 300px
        li
            list-style: none

    .submenu__list
        display: none

        &.active
            display: flex
            flex-direction: column

.menu-container-v2
    background: #fff
    width: 1000px

    .menu
        padding: 15px
        &__all-products
            display: block
            font-size: 22px
            margin-bottom: 15px


    .menu-list
        display: grid
        grid-template-columns: repeat(3,auto)


    .menu-group
        &__title
            margin-bottom: 10px
            a
                text-decoration: underline
                font-size: 20px
                +set_colors_1(color)

        &__list
            li
                line-height: 24px
                a
                    color: #424242
                    text-decoration: underline

@import './menu_v4.scss'
@import './custom.scss'