.gbi-zavod78
  .product-info
    &__top
      +until-480
        padding-bottom: 0
    &__rating
      margin-bottom: 10px
      +until-480
        flex-direction: column
    &__bottom
      .btn
        width: auto
      .product-info__fast-buy
        width: 100%
  .table.product-pricelist
    padding: 0

  .infoblocks
    &__block
      margin: 0 !important
      &-title
        padding: 15px
