@use "./base/theme.scss";
@use "./base/base.scss";
@use "./base/buttons.scss";
@use "./base/forms.scss";
@use "./base/table.scss";
@use "./base/colors.scss";

@use "./elements/all.scss" as elements;
@use "./classes/all.scss" as classes;
@use "./sections/all.scss" as sections;
@use "./sections/category-listing/main.scss" as category-listing;
@use "./pages/all" as pages;
@use "./blocks/all.scss" as blocks;
@use "./sections/products-used.scss";
@use "./sections/company-profit.scss";

@use "../../core/elements/modules/catalog-menu/scss/main.scss" as catalog;
@use "../../core/elements/modules/modals/scss/main.scss" as modals;
@use "../../core/elements/modules/slider-categories/scss/main.scss" as slidercategories;
@use "../../core/elements/modules/product-cards/scss/main.scss" as product-cards;
@use "../../core/elements/modules/cart/frontend/scss/main.scss" as cart;
@use "../../core/elements/modules/store-product-selection/scss/main.scss" as store-product-selection;
@use "../../core/elements/modules/split-unit/scss/main.scss" as split-unit;
@use "../../core/elements/modules/warehouses/scss/main.scss" as warehouse;
@use "../../core/elements/modules/custom-select/main.scss" as custom-select;
@use "../../core/elements/modules/similar-products/scss/main.scss" as similar-products;
@use "../../core/elements/modules/tags-store/scss/big-tags.scss" as big-tags;
@use "../../core/elements/modules/tags-store/scss/small-tags.scss" as small-tags;
@use "../../core/elements/modules/mltreviews/styles/main.sass" as mltreviews;
@use "../../core/elements/modules/certificates-list/scss/main.scss" as certificates-list;
@use "../../core/elements/modules/menu/uteplitel/styles/index.sass" as menu-uteplitel;
@use "../../core/elements/modules/fast-search/styles/main.sass" as fast-search;
@use "../../core/elements/modules/similarsamples/scss/main.scss" as similar;
@use "../../core/elements/modules/additional-fields-callback-form/styles/main.sass" as afcf;
@use "../../core/elements/modules/deliveryCalculatorServiceAreas/styles/styles";

.advertisement_note {
    position: absolute;
    font-size: 12px;
    top: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.5);
    padding: 4px 8px;
    border-radius: 90px;
    z-index: 2;
    color: var(--color-black);

    &__small {
        font-size: 10px;
        padding: 2px 6px;
        top: 8px;
        right: 8px;
    }
}

.cookie {
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 490px;
    padding: 0 30px;
    bottom: 70px;

    @media screen and (max-width: 490px) {
        max-width: 260px
    }

    div {
        width: 100%;
        text-align: left;
        background: rgba(79, 79, 79, 0.9);
        color: white;
        padding: 12px;
        box-shadow: 0px 1px 12.2px 0px rgba(7, 2, 42, 0.25);
        border-radius: 12px;
        max-width: 1150px;
        margin: 0 auto;

        @media screen and (max-width: 490px) {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }

    &__link {
        color: white !important;
        text-decoration: underline;
    }

    &__button {
        text-decoration: none;
        margin-left: 20px;
        border-radius: 4px;
        padding: 4px 8px;
        background-color: white;
        border: 1px solid rgba(51, 51, 51, 1);
        color: rgba(51, 51, 51, 1);
        @media screen and (max-width: 490px) {
            margin: 10px 0;
        }
    }
}