@use "../../base/variables.scss";

.product-page {
  &__inform {
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 40px;

    @media (max-width: variables.$bp768) {
      padding: 20px;
    }

    &-top-price {
      display: grid;

      @media (max-width: variables.$bp768) {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    &-row {
      display: grid;
      gap: 8px;
      grid-template-columns: 69% 1fr;
    }

    &-section {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(60, 60, 59, 0.2);
    }

    &-price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__row {
        margin-left: auto;
        display: grid;

        span {
          &.fs-30 {
            font-size: 30px;
          }
        }

        @media (max-width: variables.$bp768) {
          order: 1;
          text-align: center;
          margin: auto;
        }
      }

      .split-unit {
        display: grid;

        button {
          padding: 12px;
          font-size: 16px;

          @media (max-width: variables.$bp768) {
            padding: 6px;
            font-size: 10px;
          }
        }

        @media (max-width: variables.$bp768) {
          order: 2;
          text-align: center;
        }
      }
    }

    &-btn-buy {
      margin-top: 8px;
      width: 100%;
    }

    .btn {
      border-radius: 4px;
    }

    &-list {
      display: grid;
      height: max-content;
      gap: 8px;

      @media (max-width: variables.$bp768) {
        gap: 4px;
        display: none;
      }

      li {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        text-align: left;

        @media (max-width: variables.$bp768) {
          font-size: 11px;
        }

        span,
        a {
          font-size: 14px;

          @media (max-width: variables.$bp768) {
            font-size: 11px;
          }
        }
      }
    }
  }

  .data-calc-cart {
    &__row {
      @media (max-width: variables.$bp768) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}