@use "../../base/variables.scss";

@use "./gallery.scss";
@use "./inform.scss";
@use "./tabs.scss";

.product-page {
  &__row {
    display: flex;
    gap: 40px;

    margin-top: 40px;

    @media (max-width: variables.$bp992) {
      display: grid;
      margin-top: 0;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &:first-child {
        width: 50%;

        @media (max-width: variables.$bp992) {
          width: 100%;
        }
      }

      &:last-child {
        width: 50%;

        @media (max-width: variables.$bp992) {
          width: 100%;
        }
      }
    }
  }

  .custom-select {
    @media (max-width: variables.$bp992) {
      width: 100%;
    }
  }
}