@use "../../base/variables.scss";

.product-page {
  &__tabs {
    @media (max-width: variables.$bp768) {
      margin-top: -40px;
    }

    &-wrap {
      display: grid;
      gap: 16px;
    }

    &-row {
      display: grid;
      gap: 30px;
      grid-template-columns: 60% calc(40% - 30px);

      @media (max-width: variables.$bp768) {
        grid-template-columns: 1fr;
      }

      [data-opened-btn] {
        text-align: left;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        padding: 20px;
        width: 100%;
        border: none;
        background: #fff;
        border-bottom: 1px solid variables.$red;

        @media (min-width: variables.$bp768) {
          display: none;
        }

        &:after {
          content: "";
          transform: rotate(45deg);
          border: solid #808181;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 2px;
          transition: 0.2s;
          margin-top: -6px;
          margin-right: 5px;
        }

        &.active {
          &:after {
            transform: rotate(225deg);
            margin-top: 3px;
          }
        }
      }
    }

    &-controls {
      margin-bottom: 60px;
      overflow: auto;

      @media (max-width: variables.$bp768) {
        display: none;
        // margin-bottom: 30px;
      }

      button {
        padding: 5px 10px;
        text-transform: uppercase;
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        &.active {
          color: variables.$red;
        }
      }

      &-row {
        width: max-content;
      }
    }

    &-content {
      display: none;
      min-height: 200px;

      &.opened {
        display: block;
      }
    }
  }

  &__pricelist {
    overflow-x: auto;
    max-height: 500px;
    width: 100%;

    &-table {
      width: 100%;
      border-spacing: 0;
      table-layout: auto;
      border-collapse: collapse;

      thead {
        background-color: variables.$light-gray-3;
      }

      th {
        padding: 15px 8px 14px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        white-space: nowrap;
        text-align: left;

        @media (max-width: 1400px) {
          font-size: 18px;
        }

        @media (max-width: variables.$bp992) {
          font-size: 16px;
          padding: 12px 20px 11px;
        }

        @media (max-width: variables.$bp768) {
          font-size: 14px;
        }

        &:first-child {
          text-align: left;
        }
      }

      thead {
        position: sticky;
        top: 0;
        z-index: 9;

        th {
          @media (max-width: variables.$bp768) {
            padding: 12px;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid variables.$medium-gray;
          position: relative;
          transition: 0.2s;

          &:hover {
            background-color: rgba(211, 85, 60, 0.1);
          }

          &:last-child {
            border-bottom: none;
          }
        }

        td {
          white-space: normal;
          line-height: 1.5;
          padding: 15px 8px 14px;
          transition: 0.2s;

          @media (max-width: variables.$bp992) {
            padding: 12px 20px 11px;
          }

          @media (max-width: variables.$bp768) {
            padding: 10px;
            font-size: 14px;
          }

          p {
            margin: 0;
            font-size: .8em;
            line-height: 1.3;

            &:not(:last-child) {
              margin-bottom: 4px;
            }
          }

          .link {
            color: variables.$dark-blue;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
              text-decoration: underline;
            }

            @media (max-width: variables.$bp768) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}