.warehouse-table
      &__header
            margin-bottom: 1rem

      &__item
            width: 100%

.warehouse-contacts
      .contacts__list
            display: grid
            gap: 16px
            margin-bottom: 16px
      .wrapper
            max-width: 1366px
            margin: 0 auto
            padding: 0 30px
            box-sizing: content-box

            display: flex
            flex-direction: row
            align-items: stretch
            justify-content: space-between
            gap: 16px

            margin-bottom: 40px
            @media screen and (max-width: 768px)
                  flex-direction: column
                  align-items: center
      &__photo
            background: #f5f5f5
            width: 100%
            border-radius: var(--border-radius-base)
            overflow: hidden
            max-height: 400px
            img
                  width: 100%
                  height: 100%
                  object-fit: cover
                  object-position: center
      &__contacts
            width: 100%
            margin-top: 10px
            max-width: 400px
            display: flex
            flex-direction: column
            @media screen and (max-width: 768px)
                  padding: 0
            h2
                  font-size: 20px
                  margin-bottom: 10px
                  @media screen and (max-width: 768px)
                        text-align: center
            .contacts__item-key
                  font-size: 15px
                  font-weight: 700
      &__callback
            width: 100%
            height: 43px
            border-radius: 10px
            @media screen and (max-width: 768px)
                  padding: 0
            &:last-child
                  margin-top: 15px
            &.callback-pickup
                  color: #3c3c3b
                  background-color: #fff !important
                  border: 1px solid #3c3c3b
                  &:hover
                        background-color: #3c3c3b !important
                        color: #fff
                  span
                        var(--color-red)
                        margin-left: 3px

      &__controls
            display: flex
            gap: 8px
            align-items: center
            flex-direction: column

            .btn
                  height: 100%
                  width: 100%

.warehouse-remains
      width: 100%
      li:first-child
            margin-bottom: 10px
      &__item
            display: flex
            justify-content: space-between
            position: relative
            &[href]
                  color: #000
                  text-decoration: none
                  &:hover
                        opacity: .7
            &::after
                  content: ''
                  position: absolute
                  z-index: 0
                  width: 100%
                  border-bottom: 1px dashed var(--color-black-trans)
                  bottom: 3px

            span
                  background: #fff
                  position: relative
                  z-index: 1
                  &:first-child
                        padding-right: 10px
                  &:last-child
                        padding-left: 10px
            b
                  font-weight: 500
