.section
	&:not(:last-child)
		margin-bottom: 40px

		+until-768
			margin-bottom: 30px

	&:last-child
		padding-bottom: 40px
		+until-768
			padding-bottom: 30px

	&__title
		font-weight: 700
		font-size: 25px
		line-height: 1.2

		+until-768
			font-size: 20px
			text-align: center

	&_view
		&_bg, &_top, &_shrink
			background-color: var(--color-gray-lt)

		&_shrink
			padding: 0 0 0px

		&_bg
			padding: 40px 0


			+until-768
				padding-top: 30px

		&_top
			padding: 0 0 20px

			+until-768
				padding: 0 0 30px

			& .section
				&__breadcrumbs
					padding-top: 0
					@at-root .krovelnyjstroymarket &
						padding-top: 35px

					& .breadcrumbs__items
						padding-top: 18px
						border-top: 1px solid var(--color-gray-trans)
