.advantages-section
	&:last-child
		padding-bottom: 80px

	&__container
		display: flex
		flex-direction: column

	&__title
		margin-bottom: 65px

		+until-desktop
			margin-bottom: 32px

		+until-tablet
			margin-bottom: 16px

	& .advantages
		&:only-child
			margin-top: 40px

			+until-desktop
				margin-top: 0