.banner
    margin-bottom: 60px

    @media screen and (max-width: 480px)
        margin-bottom: 28px
    &__title
        position: absolute
        top: 30%
        left: 12%
        max-width: 433px
        padding: 10px
        overflow: hidden
        backdrop-filter: blur(10px)
        background-color: #ffffff54
        color: white
        font-size: 40px
        font-weight: 900
        line-height: 44px
    &__slide
        border-radius: 24px
        overflow: hidden
        background-size: cover
        //height: 420px
        justify-content: flex-start
        //padding-left: 148px
        position: relative
        height: auto

        //@media screen and (max-width: 1020px)
        //    padding-left: 20px
        //
        //@media screen and (max-width: 768px)
        //    padding-left: 0
        //
        //@media screen and (max-width: 480px)
        //    height: 260px

    &__slide-link
        position: absolute
        width: 27.5%
        bottom: 21%
        left: 13.2%
        padding-left: 0
        padding-right: 0
        height: auto
        background: #73b017
        box-shadow: 0 2px 4px #3ca322

        @at-root .ursa &, .paroc &
            left: 11.5%

        @at-root .isover &, .penoplex &, .tn &
            left: 8.2%

        @at-root .krovlya &, .kirpich-m &, .fasady-pro &, .fasad &, .armatura-178 &
            width: 30.4%
            bottom: 27%
            left: 7.6%
            padding-top: 3.5px
            padding-bottom: 3.5px

        @media screen and (max-width: 768px)
            width: 28%

        svg
            width: 91%
            fill: #fff

        &::after
            content: ""
            display: block
            padding-top: 19.53%
            width: 0

    &__slide-btn
        max-width: 100%

    &__slide-text-lg
        font-size: 64px

        @media screen and (max-width: 480px)
            font-size: 40px

    &__slide-text-md
        font-size: 48px

        @media screen and (max-width: 480px)
            font-size: 30px

    &__slide-text-sm
        font-size: 32px

        @media screen and (max-width: 480px)
            font-size: 24px

    &__slide-text-lg, &__slide-text-md, &__slide-text-sm
        line-height: 100%
        color: #FFB400
        font-weight: 900

    &__slide-content
        background: transparent
        position: static
        padding: 0
        max-width: 364px

        @media screen and (max-width: 768px)
            position: relative
            max-width: none

    &__slide-img-wrap
        position: absolute
        width: 421px
        left: 538px

        img
            height: auto

        @media screen and (max-width: 1020px)
            left: auto
            right: 28px

        @media screen and (max-width: 880px)
            width: calc(100% - 450px)

        @media screen and (max-width: 768px)
            display: none
