.banner
    margin-bottom: 48px

    &__slide
        background: url(/assets/template/img/banner.svg)
        border-radius: 20px
        overflow: hidden
        background-size: cover
        height: 420px
        justify-content: flex-start
        padding-left: 148px
        position: relative

    &__slide-text-lg
        font-size: 64px

    &__slide-text-md
        font-size: 48px

    &__slide-text-sm
        font-size: 32px

    &__slide-text-lg, &__slide-text-md, &__slide-text-sm
        line-height: 100%
        color: #FFB400
        font-weight: 900

    &__slide-content
        background: transparent
        position: static
        padding: 0
        max-width: none

    &__slide-img-wrap
        position: absolute
        width: 572px
        height: 408px
        right: 108px
