.best-products
	&__title
		margin-bottom: 32px

		color: var(--color-red)

		+until-768
			margin-bottom: 16px

	&__products
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(330px, 444px))
		grid-gap: 16px

		+until-768
			grid-gap: 10px 6px
			grid-template-columns: repeat(auto-fit, minmax(167px, 1fr))

		& .product-card
			&__counter
				& .counter__btn
					+until-1200
						flex-shrink: 1
