.above-tags
    margin-top: -32px

.listing__selected
    display: flex
    flex-wrap: wrap

    @media screen and (max-width: 460px)
        flex-wrap: nowrap
        overflow-x: auto

.chips-item
    position: relative
    padding: 6px 36px 6px 16px
    height: 28px
    border-radius: 16px
    margin-bottom: 14px
    +set_colors_1(background)

    &:nth-last-of-type(n+2)
        margin-right: 8px

    &__cross
        position: absolute
        right: 32px
        top: 8px

        &::before,  &::after
            position: absolute
            left: 6px
            content: ""
            height: 13px
            width: 2px
            background-color: #fff

        &::before
            transform: rotate(45deg)

        &::after
            transform: rotate(-45deg)

    &__title
        color: #fff
        font-style: normal
        font-size: 14px
        white-space: nowrap
