.content
	font-weight: 400
	font-size: 14px
	line-height: 18px

	&__title
		margin-bottom: 32px
		font-weight: 700
		font-size: 30px
		line-height: 1.2

	a
		border-bottom: 1px dashed
		text-decoration: none
		&:not(.btn)
			color: var(--color-red)


		&:hover
			border-bottom-color: transparent

	.title-1
		margin-left: auto
		margin-right: auto

	ul
		margin-bottom: 25px
		font-size: 14px
		// line-height: 26px
		padding-left: 40px
		line-height: 150%

		li
			list-style-type: square

	ol
		list-style: decimal
		margin-bottom: 25px
		padding-left: 15px
		font-size: 14px
		line-height: 26px
		list-style-position: inside
		line-height: 1.5
		li
			&::marker
				color: var(--color-red)
				font-weight: 600

		&.spacious
			li
				&:not(:last-child)
					margin-bottom: 15px 
				

	ol, ul
		margin: 1em 0
		font-size: 14px

	//&__more
	//    display: block
	//    width: max-content
	//    text-align: center
	//    margin: 10px auto
	//    border-bottom: 1px dashed
	//    transition: border-bottom .3s
	//
	//    &:hover
	//        border-bottom-color: transparent

	@media screen and (max-width: 768px)
		ol, ul
			font-size: 14px
			line-height: 24px

	h1
		margin-bottom: 20.1px
		margin-top: 20.1px
		line-height: 1.3em

	h2
		margin-bottom: 22px
		margin-top: 22px
		line-height: 1.3em
		font-weight: 500
		font-size: 22px
		line-height: 1.2

	h3
		margin-top: 18.72px
		margin-bottom: 18.72px
		line-height: normal
		font-size: 20px
  	font-weight: 500

	h4
		margin-top: 21.28px
		margin-bottom: 21.28px
		line-height: normal

	h5
		margin-top: 22.1776px
		margin-bottom: 22.1776px
		line-height: normal

	h6
		margin-top: 24.9776px
		margin-bottom: 24.9776px
		line-height: normal

	p
		margin-top: 14px
		margin-bottom: 14px
		line-height: 130%

	& > *:last-child
		margin-bottom: 0

	& > *:first-child
		margin-top: 0

	strong
		font-weight: bold

	blockquote
		padding: 2vw
		margin-block: 15px
		border-radius: 10px
		background-color: #f5f5f5
		font-size: 16px
		font-weight: 500
		line-height: 1.4
