.header
    padding-top: 20px
    display: block

    &__burger, &__line
        @media screen and (max-width: 768px)
            z-index: 20

    &::before
        width: 100%
        position: absolute
        bottom: 0
        background-color: #fff
        left: 0
        box-shadow: 0px 4px 40px rgba(25, 41, 63, 0.08)
        height: 100%
        z-index: 10

        @media screen and (max-width: 768px)
            content: ""

    @media screen and (max-width: 768px)
        padding-bottom: 20px
        position: fixed
        top: 0
        z-index: 100
        height: 80px

    &__about
        @media screen and (max-width: 768px)
            margin-right: 0

    &__burger
        display: none
        margin-right: 16.5px

        @at-root .header__burger.burger span
            background-color: #323232

        @media screen and (max-width: 768px)
            display: block

    &__wrapper
        @media screen and (max-width: 768px)
            flex-direction: row

    &__logo-wrap
        width: 161px
        height: 40px
        margin-right: 34px
        flex-shrink: 0

        @media screen and (max-width: 480px)
            margin-right: 0
            width: 108px
            height: 26px

    &__logo
        display: block
        width: 100%
        height: auto
        margin-right: 54px

    &__catalog
        border: 2px solid #4F70AD
        border-radius: 4px
        background: transparent
        width: 128px
        height: 40px
        justify-content: flex-start
        padding-left: 24px
        padding-right: 19px

    &__catalog-text
        font-weight: bold
        font-size: 14px
        line-height: 100%
        color: #4F70AD
        margin-left: 15px

    &__search-wrap
        flex-basis: 504px
        height: 40px
        display: flex

    &__search
        flex-basis: 464px
        height: 40px
        top: 80px
        background: #F0F0F0
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
        padding-top: 4px
        padding-left: 16px

    &__search-btn
        height: 40px
        background-color: #4F70AD
        padding: 0
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        position: relative
        transition: .3s
        flex-basis: 40px
        flex-shrink: 0

        &:hover
            background-color: #466295

        &::before, &::after
            display: block
            content: ""
            position: absolute

        &::before
            border: 2px solid #fff
            width: 12.5px
            height: 12.5px
            border-radius: 100px
            top: 10px
            left: 10px

        &::after
            width: 7px
            height: 2px
            background: #fff
            left: 22px
            top: 26px
            transform: rotate(45deg)

    &__line
        display: flex
        align-items: center
        width: 100%
        margin-bottom: 25px

        & > .header__search-wrap
            @media screen and (max-width: 768px)
                display: none

        @media screen and (max-width: 768px)
            margin-bottom: 0

        &_type
            &_elems
                @media screen and (max-width: 768px)
                    order: 1

            &_about
                @media screen and (max-width: 768px)
                    order: 2

    &__about-text
        color: #B9B9B9
        font-weight: 500
        font-size: 16px

        @media screen and (max-width: 768px)
            margin-bottom: 0

        @media screen and (max-width: 480px)
            font-size: 10px
            line-height: 12px

    &__about-city
        font-size: 14px
        position: relative

        // Закомментировал, т.к. нету городов пока что
        //padding-left: 24px

        //&::before
        //    @extend %css-arrow
        //    transform: rotate(45deg)
        //    left: 3px
        //    top: 1px

        @media screen and (max-width: 768px)
            display: none

    &__callback-wrap, &__contacts, &__catalog, &__cart
        @media screen and (max-width: 768px)
            display: none

    &__contacts
        margin-right: 48px

    &__phone
        font-weight: 500
        font-size: 14px
        line-height: 100%
        color: #323232
        margin-bottom: 5px
        white-space: nowrap

    &__contacts-city
        font-weight: 500
        font-size: 14px

    &__contacts-time
        text-align: left
        font-weight: 500
        font-size: 14px
        color: #B9B9B9

    &__callback
        color: #FFB400
        font-weight: 500
        font-size: 14px
        line-height: 100%
        text-decoration-line: underline
        position: relative
        padding-left: 19px

        &:hover
            text-decoration: none

        svg
            position: absolute
            left: 0
            width: 17.5px
            height: 17.5px
            fill: transparent
            stroke: #ffb400
            stroke-width: 1.5

    &__callback-wrap
        display: flex
        flex-direction: column
        align-items: center

    &__cart-button
        background: transparent
        width: 24px
        height: auto
        margin-right: 0

        .icon-cart-2
            width: 20px
            height: 20px
            fill: #000
            transition: .3s

    &__fav-value
        border-radius: 100px
        color: #fff
        text-align: center
        font-weight: 400
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        left: 8px

    &__cart-value, &__fav-value
        background-color: #FFB400
        width: 13px
        height: 13px
        top: -4px
        right: 1px
        font-size: 10px

    &__cart
        align-items: center
        margin-right: 30px

        &:hover
            .header__cart-button
                background: transparent

    &__cart, &__fav
        &:hover
            .header__cart-text, .header__fav-text
                color: #FFB400

            .icon-cart-2
                fill: #FFB400

            .icon-heart
               stroke: #FFB400

    &__cart-text
        font-size: 14px

    &__cart, &__fav
        align-items: center
        display: flex

    &__cart-text, &__fav-text
        margin-left: 8px
        transition: .3s

    &__fav
        font-weight: bold
        font-size: 14px
        height: 20px
        position: relative

        .icon-heart
            fill: transparent
            stroke: #000
            stroke-width: 2px
            width: 18px
            height: 16px
            transition: .3s

    &__nav-link
        @media screen and (max-width: 768px)
            padding-top: 16px
            padding-bottom: 16px
            width: 100%
            padding-left: 24px

    &__nav-item
        @media screen and (max-width: 768px)
            width: 100%

        &_special
            a
                text-decoration-line: underline
                color: #FFB400

            &:hover
                a
                    text-decoration: none

        &:nth-last-of-type(n+2)
            @media screen and (min-width: 769px)
                margin-right: 24px

        &:nth-last-of-type(n)
            @media screen and (max-width: 768px)
                margin-right: 0

        a
            font-weight: 400

        &::after
            display: none

    &__nav
        margin-top: 0
        padding-bottom: 29px
        border-bottom: 0
        margin-bottom: 0

        .header__search-wrap
            @media screen and (min-width: 769px)
                display: none

        &.opened
            @media screen and (max-width: 768px)
                transform: translateX(0)

        @media screen and (max-width: 768px)
            transition: .3s
            transform: translateX(-100%)
            overflow-y: auto
            display: block
            width: 320px
            height: calc(100vh - 60px)
            position: absolute
            top: 60px
            left: 0
            padding: 22px 16px
            background: #fff
            box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.08)

    &__nav-list
        @media screen and (max-width: 768px)
            display: flex
            flex-direction: column
            left: 0
            width: 100%

    &__nav-header
        display: none
        font-weight: bold
        font-size: 16px
        line-height: 100%
        color: #323232
        margin-bottom: 12px

        @media screen and (max-width: 768px)
            display: block
