.header
    display: block
    border-top: 22px solid #f3f5f5

    @media screen and (max-width: 768px)
        border-top: 0
        position: fixed
        top: 0
        z-index: 50
        height: 64px

    &__catalog
        width: 128px
        height: 40px

        &.hover
            .header__catalog-menu
                opacity: 1
                max-height: 1500px
                padding: 13px 25px 25px 25px
                margin-left: -25px

                &_width
                    &_full
                        margin-left: 0
                        padding-left: 15px
                        padding-right: 15px

        &-btn
            border-radius: 4px
            background: transparent
            width: 100%
            height: 100%
            justify-content: flex-start
            padding-left: 24px
            padding-right: 19px
            transition: .3s
            display: flex
            align-items: center

            @at-root .knauf &
                background: #4F70AD
            @at-root .rockwool &
                background: #AA000F
            @at-root .tn &
                background: #ED1C24
            @at-root .penoplex &
                background: #F36F21
            @at-root .isover &
                background: #FFDD00
            @at-root .paroc &
                background: #CE1126
            @at-root .ursa &
                background: #EA4740

            &:hover
                @at-root .knauf &
                    background-color: darken(#4f70ad, 10%)
                @at-root .rockwool &
                    background-color: darken(#AA000F, 10%)
                @at-root .tn &
                    background-color: darken(#ED1C24, 10%)
                @at-root .penoplex &
                    background-color: darken(#F36F21, 10%)
                @at-root .isover &
                    background-color: darken(#FFDD00, 10%)
                @at-root .paroc &
                    background-color: darken(#CE1126, 10%)
                @at-root .ursa &
                    background-color: darken(#EA4740, 10%)

        &-menu
            .header__menu-item
                display: table
                margin-bottom: 20px
                color: rgba(0,0,0,.6)

            &-header
                position: absolute
                font-size: 20px
                top: 20px
                padding-bottom: 2px
                font-weight: 700
                transition: border-bottom-color .3s
                border-bottom: 1px dashed rgba(60, 60, 59, .5)
                line-height: 1.4em

                &:hover
                    border-bottom-color: transparent

                @at-root .header &
                    color: #1a0dab

    &__column, &__catalog-menu-type
        &:nth-last-of-type(n+2)
            margin-right: 31px

    &__column-header
        font-weight: bold
        height: 34px
        padding-bottom: 16px
        white-space: nowrap


    &__nav
        margin-top: 0
        padding-bottom: 10px
        border-bottom: 0
        margin-bottom: 0

        @media screen and (max-width: 768px)
            z-index: 40
            transition: .3s
            transform: translateX(-100%)
            overflow-y: auto
            display: block
            width: 320px
            position: absolute
            left: 0
            padding: 22px 15px 6px 16px
            background: #fff
            box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.08)
            top: 66px
            height: calc(100vh - 66px)

        .header__search-wrap
            @media screen and (min-width: 769px)
                display: none

        &.opened
            @media screen and (max-width: 768px)
                transform: translateX(0)

        &-contents-wrap
            display: none

            @media screen and (max-width: 768px)
                display: block

        &-text
            font-weight: bold
            font-size: 13px
            line-height: 1
            margin-bottom: 18px
            display: none

            @media screen and (max-width: 768px)
                display: block

        &-link
            @media screen and (max-width: 768px)
                padding-top: 16px
                padding-bottom: 16px
                width: 100%
                padding-left: 24px

        &-item
            @media screen and (max-width: 768px)
                width: 100%

            @at-root .header &
                @media screen and (max-width: 768px)
                    margin-right: 0

            &:hover
                & > a
                    +set_colors_1(color)

        &-list
            width: calc(100% - 30px)

            &.mobile
                display: none

                @media screen and (max-width: 768px)
                    display: block

            @media screen and (min-width: 769px)
                position: absolute
                top: 0

            @media screen and (max-width: 768px)
                display: flex
                flex-direction: column
                left: 0
                width: 100%

        &-header
            display: none
            align-items: center
            position: relative
            width: 100%
            padding: 16px 2px 16px 24px
            transition: .3s
            border-radius: 4px
            margin-top: 10px
            cursor: pointer
            +set_colors_1(background-color)

            &:hover
                @at-root .knauf &
                    background-color: darken(#4f70ad, 10%)
                @at-root .rockwool &
                    background-color: darken(#AA000F, 10%)
                @at-root .tn &
                    background-color: darken(#ED1C24, 10%)
                @at-root .penoplex &
                    background-color: darken(#F36F21, 10%)
                @at-root .isover &
                    background-color: darken(#FFDD00, 10%)
                @at-root .paroc &
                    background-color: darken(#CE1126, 10%)
                @at-root .ursa &
                    background-color: darken(#EA4740, 10%)

            &::after
                content: ""
                display: block
                border: solid #fff
                border-width: 0 3px 3px 0
                padding: 3px
                transform: rotate(-45deg) translateY(-50%)
                position: absolute
                right: 20px
                top: 50%

                @at-root .isover &
                    border-color: #000

            @at-root .header &:hover
                color: #fff

            @media screen and (max-width: 768px)
                display: flex

        &-header-burger
            margin-right: 10px

            .burger__stick
                &:last-of-type
                    width: 10px

        &-content
            display: none

            &.active
                display: block


    &__columns-wrap
        display: flex

    &__wrapper
        padding-top: 30px
        margin-top: -20px

        @media screen and (max-width: 768px)
            flex-direction: row
            padding-top: 20px
            margin-top: 0
            padding-bottom: 20px
            height: 66px

        &::before
            width: 100%
            position: absolute
            bottom: 0
            background-color: #fff
            left: 0
            box-shadow: 0px 4px 40px rgba(25, 41, 63, 0.08)
            height: 100%
            z-index: 90

            @media screen and (max-width: 768px)
                content: ""

    &__about
        align-items: flex-start

        @media screen and (max-width: 768px)
            margin-right: 0
            margin-left: auto

    .header__burger
        min-width: 25px

        span
            height: 4px

    &__burger
        display: none
        margin-right: 16.5px

        span
            @at-root .knauf &
                background-color: #4F70AD
            @at-root .rockwool &
                background-color: #AA000F
            @at-root .tn &
                background-color: #ED1C24
            @at-root .penoplex &
                background-color: #f36f21
            @at-root .isover &
                background-color: #323232
            @at-root .paroc &
                background-color: #ce1126
            @at-root .ursa &
                background-color: #ea4740

        @media screen and (max-width: 768px)
            display: block

    &__logo-wrap, &__logo-text-wrap
        flex-shrink: 0

        @media screen and (max-width: 768px)
            margin-right: 0
            width: 108px

    &__logo-wrap
        height: 40px
        width: 161px
        margin-right: 34px

        @at-root .rockwool &
            @media screen and (max-width: 768px)
                width: 90px
                display: flex
                align-items: center

        @media screen and (max-width: 768px)
            height: 26px

    &__logo-text-wrap
        width: 176px
        display: flex
        align-items: center
        justify-content: center
        font-weight: 800
        margin-right: 19px

    &__logo-text
        color: #aa000f
        white-space: nowrap

        @media screen and (max-width: 768px)
            white-space: normal

    &__logo
        display: block
        width: 100%
        height: auto
        margin-right: 54px

    &__catalog-menu
        max-height: 0
        overflow: hidden
        opacity: 0
        transition: .3s
        position: absolute
        top: 38px
        z-index: 200
        padding-top: 0
        left: 0
        cursor: default

        &_width
            &_full
                max-width: 1150px
                width: 100vw
                left: -210px

    &__catalog-menu-inner
        display: flex
        background: #FFFFFF
        border-radius: 16px
        padding: 72px 32px 12px
        box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.08)
        justify-content: space-between
        position: relative
        transition: .3s

    &__catalog-column
        &:nth-last-of-type(n+2)
            margin-right: 31px

    &__catalog-list-item
        .header__catalog-list-link
            margin-bottom: 16px

    &__catalog-list-link
        display: table
        white-space: nowrap
        transition: .3s

    &__catalog-list-header
        font-weight: bold

    &__catalog-list
        .header__catalog-list
            padding-left: 10px

    &__catalog-text
        font-weight: bold
        font-size: 14px
        line-height: 100%
        margin-left: 15px

    &__catalog-text, &__nav-header
        color: #fff
        @at-root .isover &
            color: #323232

    &__search-wrap
        flex-basis: 504px
        height: 40px
        display: flex

    &__search
        flex-basis: 464px
        height: 40px
        top: 80px
        background: #F0F0F0
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
        padding-top: 4px
        padding-left: 14px
        border: 1px solid transparent
        border-right: 0
        transition: border-color .3s

        &:hover
            +set_colors_1(border-color)

    &__search-btn
        height: 40px
        padding: 0
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        position: relative
        transition: .3s
        flex-basis: 40px
        flex-shrink: 0
        +set_colors_1(background-color)

        &:hover
            @at-root .knauf &
                background-color: darken(#4f70ad, 10%)
            @at-root .rockwool &
                background-color: darken(#AA000F, 10%)
            @at-root .tn &
                background-color: darken(#ED1C24, 10%)
            @at-root .penoplex &
                background-color: darken(#F36F21, 10%)
            @at-root .isover &
                background-color: darken(#FFDD00, 10%)
            @at-root .paroc &
                background-color: darken(#CE1126, 10%)
            @at-root .ursa &
                background-color: darken(#EA4740, 10%)

        &::before, &::after
            display: block
            content: ""
            position: absolute

        &::before
            border: 2px solid #fff
            width: 12.5px
            height: 12.5px
            border-radius: 100px
            top: 10px
            left: 10px

        &::after
            width: 7px
            height: 2px
            background: #fff
            left: 22px
            top: 26px
            transform: rotate(45deg)

    &__line
        display: flex
        align-items: center
        width: 100%
        margin-bottom: 25px

        & > .header__search-wrap
            @media screen and (max-width: 768px)
                display: none

        @media screen and (max-width: 768px)
            margin-bottom: 0

        &_type
            &_elems
                @media screen and (max-width: 768px)
                    order: 1
                    width: auto

            &_about
                @media screen and (max-width: 768px)
                    order: 2

    &__about-phone
        display: none
        font-size: 17px
        font-weight: bold
        white-space: nowrap

        @media screen and (max-width: 768px)
            display: block

    &__about-text
        margin-bottom: 5px
        color: #B9B9B9
        font-weight: 500
        font-size: 14px

        @media screen and (max-width: 768px)
            display: none

    &__about-city
        font-size: 14px
        position: relative
        transition: .3s

        // Закомментировал, т.к. нету городов пока что
        //padding-left: 24px

        //&::before
        //    @extend %css-arrow
        //    transform: rotate(45deg)
        //    left: 3px
        //    top: 1px

        @media screen and (max-width: 768px)
            display: none

    &__callback-wrap, &__contacts, &__catalog
        @media screen and (max-width: 768px)
            display: none

    &__contacts
        margin-right: 48px

    &__phone, &__email
        font-weight: 500
        font-size: 14px
        line-height: 100%
        white-space: nowrap
        transition: .3s

    &__phone
        margin-bottom: 5px

    &__email
        margin-left: auto
        color: #b9b9b9
        @media screen and (max-width: 768px)
            display: none

    &__contacts-city
        font-weight: 500
        font-size: 14px
        white-space: nowrap

        @media screen and (max-width: 860px)
            white-space: normal

    &__contacts-time
        text-align: left
        font-weight: 500
        font-size: 14px
        color: #B9B9B9

    &__callback
        font-weight: 500
        font-size: 14px
        line-height: 100%
        text-decoration-line: underline
        position: relative
        padding-left: 19px
        transition: .3s
        white-space: nowrap

        @at-root .knauf &
            color: #FFB400
        @at-root .rockwool &
            color: #D20014
        @at-root .tn &
            color: #ED1C24
        @at-root .penoplex &
            color: #F36F21
        @at-root .isover &
            color: #FFDD00
        @at-root .paroc &
            color: #CE1126
        @at-root .ursa &
            color: #EA4740

        &:hover
            text-decoration: none

        svg
            position: absolute
            left: 0
            width: 17.5px
            height: 17.5px
            fill: transparent
            stroke: currentColor
            stroke-width: 1.5

    &__callback-wrap
        display: flex
        flex-direction: column
        align-items: center

    &__cart-button
        background: transparent
        width: 24px
        height: auto
        margin-right: 0

        .icon-cart-2
            width: 20px
            height: 20px
            fill: currentColor
            transition: .3s

    &__fav-value
        border-radius: 100px
        color: #fff
        text-align: center
        font-weight: 400
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        left: 8px

        @media screen and (max-width: 768px)
            right: 18px
            left: auto

    &__cart-value, &__fav-value
        width: 13px
        height: 13px
        top: -4px
        right: 1px
        font-size: 10px

        +set_colors_1(background-color)

    &__cart
        align-items: center
        margin-left: 0

        &:hover
            .header__cart-text
                +set_colors_1(color)

            .icon-cart-2
                +set_colors_1(fill)

            .header__cart-button
                background: transparent

    &__cart, &__fav
        align-items: center
        display: flex

    &__cart, &__fav, &__cat, &__mobile-phone
        @media screen and (max-width: 768px)
            flex-direction: column
            align-items: center
            height: 36px

    &__cat-icon
        width: 17px
        margin-bottom: -4px
        margin-top: 3px

        &-stick
            display: block
            width: 100%
            border-radius: 5px
            height: 2px
            transition: .3s
            position: relative
            background-color: #323232

            & + &
                margin-top: 3px

            &:last-of-type
                width: 10px

    &__cat, &__mobile-phone
        margin-right: 40px

    &__mobile-phone
        display: none
        order: 1

        @media screen and (max-width: 768px)
            display: flex

        &:hover
            .icon-phone
                +set_colors_1(fill)

        .icon-phone
            width: 20px
            height: 20px
            transition: .3s
            fill: currentColor

    &__cat
        display: none

        @media screen and (max-width: 768px)
            display: flex

        &:hover
            .header__cat-text
                +set_colors_1(color)

            .header__cat-icon-stick
                +set_colors_1(background-color)

    &__cart-text, &__fav-text, &__cat-text, &__mobile-phone-text
        margin-left: 8px
        transition: .3s
        font-weight: bold
        font-size: 14px

        @media screen and (max-width: 768px)
            font-size: 12px
            font-weight: 500
            margin-left: 0
            margin-top: auto

    &__fav
        position: relative

        @media screen and (max-width: 768px)
            order: 2
            margin-right: 40px

        &:hover
            .header__fav-text
                color: #FFB400

            .icon-heart
                stroke: #FFB400

        .icon-heart
            fill: transparent
            stroke: #000
            stroke-width: 2px
            width: 18px
            height: 16px
            transition: .3s

        @media screen and (max-width: 768px)
            width: 100%

        &_special
            a
                text-decoration-line: underline
                +set_colors_3(color)

            &:hover
                a
                    text-decoration: none

        &:nth-last-of-type(n+2)
            @media screen and (min-width: 769px)
                margin-right: 24px

        &:nth-last-of-type(n)
            @media screen and (max-width: 768px)
                margin-right: 0

        a
            font-weight: 400

        &::after
            display: none

    &__btns-wrap
        display: flex
        margin-left: auto

        @media screen and (max-width: 990px)
            margin-left: 12px

        &.closed
            transform: translateY(100%)

        @media screen and (max-width: 768px)
            align-items: center
            justify-content: center
            margin-left: 0
            background-color: #fff
            bottom: 0
            height: 56px
            position: fixed
            box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.08)
            width: 100%
            left: 0

    &__burger, &__logo-wrap, &__logo-text-wrap, &__about-phone
        @media screen and (max-width: 768px)
            z-index: 100

    &__cart-wrap
        position: relative

        @media screen and (max-width: 900px)
            margin-right: 15px

        @media screen and (max-width: 768px)
            order: 3
            margin-right: 0

        &:hover
            padding-bottom: 12px
            margin-bottom: -12px

            @media screen and (min-width: 769px)
                .header__info
                    opacity: 1
                    max-height: 250px
                    padding: 32px 32px 24px 32px

    &__info
        padding: 0
        overflow: hidden
        z-index: 100
        opacity: 0
        position: absolute
        right: -4px
        top: 32px
        max-height: 0
        transition: .15s
        background-color: #fff
        box-shadow: 0 8px 32px rgba(25, 41, 63, 0.12)
        border-radius: 16px
        white-space: nowrap
        cursor: default

        @media screen and (max-width: 768px)
            display: none

        &::after
            content: ""
            display: block
            position: absolute
            width: 98px
            height: 40px
            top: -16px
            right: 0

    &__info-line
        display: block
        line-height: 100%
        margin-bottom: 16px

    &__info-text
        color: #BABABA
        margin-right: 3px

    &__info-val, &__info-text
        font-size: 16px
        font-weight: 500

    &__info-val
        color: #3C3C3B

    &__info-btn
        border-radius: 4px
        font-weight: bold
        font-size: 14px
        height: 40px
        width: 237px
        padding: 0

        &_to-cart
            margin-bottom: 13px

    &__info-cost-val
        font-weight: 900
        color: #3C3C3B

    .header__info-btn
        color: #fff

.header-sticky,
.mobile-sticky-header,
.mobile-header
    display: none
