.header
    &__logo-wrap
        width: 139px
        height: 33px

    &__logo
        width: 100%
        height: auto

    &__catalog
        border: 2px solid #4F70AD
        border-radius: 4px
        background: transparent
        width: 128px
        height: 40px
        justify-content: flex-start
        padding-left: 24px
        padding-right: 19px

        .burger
            span
                background-color: #4F70AD

                &:nth-last-of-type(1)
                    width: 10px


.burger
    width: 15px
