.other-products
	&__title
		margin-bottom: 32px

		+until-tablet
			margin-bottom: 16px

	&__slider
		position: relative
		width: 100%

		& .swiper-buttons
			top: 30%

			+until-tablet
				display: none

		& .product-card
			max-width: 327px

			+until-tablet
				max-width: 167px
