.payment
    &__item
        &_not-clickable
            .payment__item-top
                cursor: default

                &:hover
                    border-color: transparent

            .icon-arrow, .payment__item-content
                display: none


