.sect-pop
    // Переопределение стилей .product-slider
    margin-top: 0
    margin-bottom: 30px

    &__slider
        align-items: flex-start
        padding-bottom: 25px

    &__title
        align-self: center
        margin-bottom: 24px

    &__swiper-buttons
        width: 96px
        height: 40px
        position: absolute
        display: flex
        right: 15px

        @media screen and (max-width: 580px)
            position: static
            right: auto
            margin-bottom: 28px
            align-self: flex-start

        .swiper-button-prev, .swiper-button-next
            width: 40px
            height: 40px
            display: flex
            align-items: center
            justify-content: center
            border: 1.5px solid
            border-radius: 4px
            position: static
            margin-top: 0
            transition: .3s

            @at-root .knauf &
                border-color:  #ffb400
            @at-root .rockwool &
                border-color: #AA000F
            @at-root .tn &
                border-color: #ED1C24
            @at-root .penoplex &
                border-color: #F36F21
            @at-root .isover &
                border-color: transparent
                background-color: #FFDD00
            @at-root .paroc &
                border-color: #CE1126
            @at-root .ursa &
                border-color: #232F61

            &:hover
                @at-root .knauf &
                    background:  #ffb400
                    &::after
                        border-color: #fff
                @at-root .rockwool &
                    background: #AA000F
                    &::after
                        border-color: #fff
                @at-root .tn &
                    background: #ED1C24
                    &::after
                        border-color: #fff
                @at-root .penoplex &
                    background: #F36F21
                    &::after
                        border-color: #fff
                @at-root .isover &
                    background-color: darken(#FFDD00, 10%)
                    &::after
                        border-color: #323232
                @at-root .paroc &
                    background: #CE1126
                    &::after
                        border-color: #fff
                @at-root .ursa &
                    background: #232F61
                    &::after
                        border-color: #fff

            &::after
                @extend %css-arrow
                width: 7px
                height: 7px
                transition: .3s

        .swiper-button-prev
            margin-right: 16px

            &::after
                transform: rotate(130deg)
                margin-left: 5px

        .swiper-button-next
            &::after
                transform: rotate(310deg)
                margin-right: 5px
