.sect-delcost
    margin-bottom: 60px

    &__button
        height: 40px
        padding-left: 30px
        padding-right: 30px

    &__form
        display: flex

    &__label
        width: 200px
        margin-right: 16px

    &__input
        height: 40px
