[data-ctx=web],
[data-ctx=krovelnyjstroymarket]
  .main-screen
    &__banners
      grid-template-rows: 1fr
      min-width: 320px

    &__banners:not(:last-child)
      margin-bottom: 119px

    &__slider
      box-shadow: var(--shadow-main-slider)
      border-radius: 6px
      .swiper-pagination
        text-align: center
        left: 0
        right: 0
        bottom: calc(-24px -16px) //16px - высота элемента

      .swiper-button-prev, .swiper-button-next
        box-shadow: var(--shadow-main-slider)

    .banner
      padding: 0

      .wrapper
        position: relative
        width: 100%

      &__action
        position: absolute
        left: 0
        right: 0
        bottom: 0

      &__bg
        position: static

      &__bg-img
        height: auto
        //min-height: 400px

        +from-748
          height: 100%
          min-height: auto

      &__btn
        margin: 0 0 2.5% 5.12%

        +until-460
          margin: 0 0 38% 6%

        +until-748
          margin: 0 0 8.5% 4.9%

        +until-980
          margin: 0 0 5.5% 6.25%

    .swiper-pagination--rounds
      .swiper-pagination-bullet
        background: white
        width: 16px
        height: 16px
        border-radius: 50%
        border: 1px solid var(--color-white)
        box-shadow: var(--shadow-main-slider)
        margin: 0 6px
        &-active
          border: 1px solid var(--color-red)
          background: none


// [data-ctx=krovelnyjstroymarket]
//   .banner__bg-img
//     border-radius: 16px
//   .main-screen.delivery-page
//     margin-bottom: 40px

//     .banner
//       padding: 0

//       &__action
//         position: absolute
//         left: 0
//         right: 0
//         bottom: 0

//       &__btn
//         margin: 0 0 2.5% 5.12%

//         +until-460
//           margin: 0 0 38% 6%

//         +until-748
//           margin: 0 0 8.5% 4.9%

//         +until-980
//           margin: 0 0 5.5% 6.25%

