.cart

	&__empty
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 101px

		.sect-cart__btn-back
			border: 0

	&__empty-text
		font-weight: bold
		font-size: 24px
		line-height: 120%
		text-align: center
		color: #3C3C3B
		margin-bottom: 28px

		@media screen and (max-width: 520px)
			margin-top: 51px
			margin-bottom: 0
			font-size: 18px

	&__top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 25px

	&__clear
		margin-left: 20px
		margin-right: -20px

		color: var(--color-red)
		background-color: transparent
		border: 1px solid transparent

		+until-480
			padding: 0
			margin-right: 0
			height: auto

			border: none
			font-size: 14px

		&:hover
			border-color: var(--color-red)

	&__items
		display: grid
		grid-template-columns: 100%
		grid-auto-rows: minmax(204px, auto)
		grid-gap: 20px
		margin-bottom: 25px

		+until-992
			grid-auto-rows: minmax(250px, auto)

		+until-768
			grid-auto-rows: minmax(200px, auto)

		+until-480
			grid-template-columns: repeat(2, minmax(0, 1fr))
			grid-auto-rows: minmax(0, 1fr)
			grid-gap: 10px 5px


