.advantages-section
	&:last-child
		padding-bottom: 80px

	&__container
		display: flex
		flex-direction: column

	&__title
		margin-bottom: 65px

		+until-992
			margin-bottom: 32px

		+until-768
			margin-bottom: 16px

	& .advantages
		&:only-child
			margin-top: 40px

			+until-992
				margin-top: 0
