.other-products
	&__title
		margin-bottom: 32px

		+until-768
			margin-bottom: 16px

	&-wrapper
		position: relative

	&__controls
		display: flex
		column-gap: 10px
		margin-bottom: 30px

	&__control
		display: flex
		justify-content: center
		align-items: center
		height: 50px
		padding: 0 20px
		border: 1px solid #D3553C
		border-radius: 6px
		font-size: 16px
		font-weight: 700
		line-height: 1em
		letter-spacing: 0.8px
		text-transform: uppercase
		text-decoration: none
		color: #D3553C
		background: #FFFFFF
		transition: all 0.3s

		&.active
			color: #FFFFFF
			background-color: #D3553C
			box-shadow: 0px 2px 0px 0px #944434;

			&:hover
				box-shadow: 0px 4px 4px 0px #00000040;


	&__slider
		position: relative
		width: 100%

		& .swiper-buttons
			height: 0
			top: 30%

			+until-768
				display: none

		& .product-card
			max-width: 327px

			+until-768
				max-width: 230px

	.swiper-wrapper
	align-items: stretch
	
	.swiper-slide
		height: auto