.plitnye__pricelist {

  .infoblocks__container {
    display: block;
    padding: 0;

    .infoblocks__title {
      margin: 30px 0;
    }

    .table__cell {
      white-space: normal;

      &:nth-of-type(2) {
        @include until-480 {
          display: table-cell;
          min-width: 115px;
        }
      }
    }
  }
}