.products-preview
	&__title
		margin-bottom: 32px

		+until-768
			margin-bottom: 16px

	&__slider
		position: relative

		width: 100%

		& .swiper-container
			padding: 60px 9px
			margin: -60px -9px

		& .swiper-buttons
			height: 0
			top: 37.5%

			+until-768
				display: none

		& .preview-card
			max-width: 266px
			justify-content: space-between
			height: auto

			+until-768
				max-width: 156px
