.product
    &__infoblocks
        .table__cell
            font-size: 16px
            line-height: 1.2
            padding: 9px 7px 10px

    &__title
        margin-bottom: 24px

    &__body
        display: grid
        grid-template-columns: minmax(400px, 1fr) minmax(500px, 591px)
        grid-gap: 40px
        align-items: flex-start
        @at-root [data-ctx="trotuarnaya-plitka"] &
            width: 100%

        & > *
            @at-root [data-ctx="trotuarnaya-plitka"] &
                min-width: 0


        @at-root [data-ctx="trotuarnaya-plitka"] &
            align-items: stretch

            .product__body-left,
            .product__info-wrap
                height: 100%

        +until-1200
            grid-gap: 15px

        +until-992
            grid-template-columns: 100%
        
        &-left
            position: relative
            @at-root [data-ctx="trotuarnaya-plitka"] &
                max-width: 100%
                overflow: hidden

        @at-root .fibrofasad &
            align-items: initial

    &__pictures
        display: grid
        grid-template-columns: minmax(90px, 135px) minmax(0, 1fr)
        gap: 15px
        height: 552px
        margin-bottom: 60px
        @at-root .plitnye & 
            height: auto
        @at-root .fibrofasad &
            height: 600px


        & .swiper-button-prev, & .swiper-button-next
            @media screen and (max-width: 1200px)
                display: none
            @at-root [data-ctx="krovelnyjstroymarket"] &
                width: 100%
                position: absolute
                left: 0
                background: rgba(255, 255, 255, 0.8)

        & .swiper-button-next
            @at-root [data-ctx="krovelnyjstroymarket"] &
                bottom: 0
                top: auto

        & .swiper-button-prev
            @at-root [data-ctx="krovelnyjstroymarket"] &
                top: 0



        & .swiper-button-prev:after, & .swiper-button-next:after
            transform: rotate(90deg)


        +until-1200
            height: auto
            grid-template-columns: 100%
            grid-template-rows: auto 112px

        +until-768
            gap: 5px
            grid-template-rows: auto 72px

        &-thumbs
            height: 100%
            width: 100%

            +until-1200
                grid-row: 2

            .product__pictures-thumb
                max-height: 98px
                
        &-slider
            height: 100%

            +until-1200
                grid-row: 1


        &-slide,
        &-thumb
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer

        &-slide
            padding: 10%

        &-thumb
            background-color: var(--color-white)
            border-radius: var(--border-radius-base)

            &.swiper-slide-thumb-active
                border: 2px solid var(--color-red)

        &-image
            display: block
            max-width: 100%
            max-height: 100%

            object-fit: contain

    &__picture
        max-height: 550px
        position: relative
        background-color: var(--color-white)
        border-radius: var(--border-radius-base)

        @at-root .product.js-product_with-discount &
            position: relative

            &::before
                right: 50px
                top: 12px
                width: 60px
                height: 83px
                content: ""
                display: block
                position: absolute
                background: url(/assets/template/img/discount.png) no-repeat center center
                background-size: contain
                z-index: 5

    &__actions
        position: absolute
        top: 10px
        left: 10px
        z-index: 9
        display: flex
        align-items: center

        & .product-action
            +until-768
                width: 40px
                height: 40px

            &:not(:last-child)
                margin-right: 10px

                +until-768
                    margin-right: 4px
                
.product-info
    padding: 30px 40px 50px
    background-color: var(--color-white)
    border-radius: var(--border-radius-base)
    position: relative
    +until-992
        margin-top: 15px

    &__buttons
        display: flex
        gap: 10px
        
        +until-768
            flex-direction: column

    &__article
        font-size: 12px
        margin-bottom: 10px

    &__undertext
        margin-top: 20px

    &__undertext-span
        display: flex
        align-items: center

        & .icon
            color: var(--color-red)
            margin-right: 10px
            width: 30px
            height: 30px

        &:nth-of-type(1) 
            margin-bottom: 10px 
	 
    &__undertext-span-header
        font-weight: bold 
        margin-right: .6em
            
    +until-768
        padding: 20px 20px 25px

    &__selected-characteristics
        gap: 14px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: flex-end
        width: 100%
        margin-top: 10px

        .product-info__select-link
            margin-bottom: 0


    &__shipped
        font-size: 14px
        line-height: 1.7
        align-items: center
        +until-768
            font-size: 12px


        +until-480
            margin-bottom: 5px
            font-size: 11px

        &::before
            width: 20px
            height: 20px
            margin-right: 7px
            content: ""
            display: inline-block
            background: url(/assets/template/img/svg-sprite/shipped.svg) no-repeat center center
            background-size: contain

            +until-480
                max-width: 12px
                height: 12px
                margin-right: 5px

    &__delivery-btn
        margin-top: 20px

    &__euv-custom-select
        flex-grow: 1
        margin-right: 20px
        @at-root .plitnye & 
            margin-right: 0
            min-width: 150px
            width: 100%

        .euv-custom-select__input-value
            font-weight: bold
            color: var(--color-red)
            svg
                width: 30px
                margin-left: -10px

        .euv-custom-select__option
            font-weight: 700

        +until-768
            margin-top: 20px
            margin-right: 0
            width: 100%
    // plitnye product card
    .services-links
        display: flex
        align-items: flex-end
        padding-top: 10px
        gap: 1em
        @at-root .plitnye &
            justify-content: space-between
        +until-480 
            flex-direction: column
            align-items: center
            gap: 1em

        &__relinking
            flex: 1

        &__buttons
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: center
            gap: 15px
            // padding-left: 15px
            +until-480
                gap: 5px
                justify-content: space-evenly
                padding: 5px
            .services-item
                position: relative
                margin: 0
                +until-480 
                    margin: 0
                .popup-mes
                    bottom : 110%
            .btn
                padding: 5px
                height: 100%
            img
                width: 40px
                +until-480 
                    width: 30px
    // /plitnye

    &__discount
        text-align: center
        font-weight: 700
        font-size: 30px
        line-height: 1.2
        margin-top: 24px
        
        &.big
            display: flex
            align-items: center
            gap: 16px
            border-radius: var(--border-radius-base)
            background: #e9e9e9
            padding: 10px 20px
            .product-info__discount-start:before
                width: 75px!important
                height: 75px!important
        &-title
            margin-bottom: 8px
            font-size: 25px
        &-text
            font-size: 18px

    &__discount-start::before
        margin-right: 6px

    &__discount-end::after
        margin-left: 8px

    &__discount-start, &__discount-end
        white-space: nowrap

    &__discount-start::before, &__discount-end::after
        content: ""
        display: inline-block
        width: 34px
        height: 34px
        background: url(/assets/template/img/gift.png) no-repeat
        background-size: contain
        margin-bottom: -3px

    &__fast-buy
        width: 100%
        margin-top: 15px

        +until-768
            order: 4

    &__top
        padding-bottom: 24px
        margin-bottom: 24px
        border-bottom: 1px solid var(--color-black-trans)

        @at-root [data-ctx="trotuarnaya-plitka"] &
            padding-bottom: 0
            margin-bottom: 0
            border: 0


        @at-root [data-ctx="krovelnyjstroymarket"] &
            padding-bottom: 0
            margin-bottom: 0
            +until-480 
                border: 0

        +until-768
            margin-bottom: 5px
        +until-480
            margin-bottom: 0

    &__divider
        display: flex
        justify-content: space-between
        
        div
            @at-root [data-ctx="trotuarnaya-plitka"] &
                display: flex

        +until-480
            flex-direction: column
            align-items: flex-start
        .product-info__price
            font-size: 24px
            font-weight: 500
            margin-top: 0
            +until-480
                flex-direction: row
                gap: 10px
                align-items: flex-end
                font-size: 20px
                line-height: 1

    &__link-calculator
        margin-top: 15px
        width: 100%
        +until-480 
            margin: 0
            padding-bottom: 1em
            border-bottom: 1px solid var(--color-gray-md)
        .btn
            margin: 0

    &__rating
        margin-bottom: 25px
        @at-root [data-ctx="trotuarnaya-plitka"] &
             margin-right: 25px
             margin-bottom: 0
             +until-480
                justify-content: flex-start

        &.abs
            position: absolute
            margin: 0
            top: -20px
            left: 4px

            .rating__reviews
                line-height: 1
                margin-top: 3px

        .rating__reviews
            line-height: 1

        +until-480
            justify-content: center
            margin-bottom: 10px

            .rating__star:not(:last-child)
                margin-right: 3px

            .rating__reviews
                margin-left: 5px
                line-height: 1.3

            .rating__reviews, .product-info__availability-title
                font-size: 14px


    &__availability-title
        font-size: 14px
        line-height: 1.7
        +until-768
            font-size: 12px

        // &_available
        //     &::before
        //         content: ''
        //         width: 14px
        //         height: 14px
        //         flex-shrink: 0
        //         background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='%2349BF63'/%3E%3Cpath d='M4 5.89474L5.51996 7.51469C5.56199 7.55949 5.6341 7.55615 5.67182 7.50766L8.4 4' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E")
        //         background-position: center
        //         background-repeat: no-repeat
        //         background-size: 100%
        //         margin-right: 12px
        //         margin-left: 3px
        //         margin-top: 4px

        //         +until-480
        //             margin-right: 3px
        //             margin-top: 2px
        //             margin-left: 0

        +until-480
            margin-right: auto
        .link
            text-decoration: underline
            border: 0

        &-important
            color: rgba(73, 191, 99, 1)

    &__availability-list
        margin-bottom: 20px
        padding-left: 22px
        font-size: 14px
        line-height: 1.7

        li
            display: flex
            align-items: flex-end

        a
            display: flex
            flex: 1
            margin-left: 0.5em
            font-weight: 500
            text-decoration: none
            color: inherit

            &:after
                content: ''
                flex: 1
                margin-bottom: 8px
                border-bottom: 1px dotted #000000


    &__warranty
        font-size: 14px
        line-height: 1.7
        +until-768
            font-size: 12px
        &:before
            background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g ><path d="M9 12L11 14L15 9.99999M20 12C20 16.4611 14.54 19.6937 12.6414 20.683C12.4361 20.79 12.3334 20.8435 12.191 20.8712C12.08 20.8928 11.92 20.8928 11.809 20.8712C11.6666 20.8435 11.5639 20.79 11.3586 20.683C9.45996 19.6937 4 16.4611 4 12V8.21759C4 7.41808 4 7.01833 4.13076 6.6747C4.24627 6.37113 4.43398 6.10027 4.67766 5.88552C4.9535 5.64243 5.3278 5.50207 6.0764 5.22134L11.4382 3.21067C11.6461 3.13271 11.75 3.09373 11.857 3.07827C11.9518 3.06457 12.0482 3.06457 12.143 3.07827C12.25 3.09373 12.3539 3.13271 12.5618 3.21067L17.9236 5.22134C18.6722 5.50207 19.0465 5.64243 19.3223 5.88552C19.566 6.10027 19.7537 6.37113 19.8692 6.6747C20 7.01833 20 7.41808 20 8.21759V12Z" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>')
    
    &__prod-time
        font-size: 14px
        line-height: 1.7
        +until-768
            font-size: 12px
        &:before
            background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M12 7V12L14.5 13.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>')
    
    &__width
        font-size: 14px
        line-height: 1.7
        +until-768
            font-size: 12px
        &:before
            background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M6 12H18M6 12L8 9M6 12L8 15M18 12L16 9M18 12L16 15M21 21V3M3 21V3" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>')


    &__relinkav
        display: flex
        align-items: center
        justify-content: space-between
        @at-root .krovelnyjstroymarket &
            display: block

        +until-768
            flex-direction: column-reverse
            align-items: flex-start

    &__avstock
        display: flex
        flex-direction: column
        margin-top: 20px

        +until-480
            display: none

    &__params
        display: flex
        align-items: center
        flex: 1 1 50%
        margin-right: 20px

        +until-768
            width: 100%

        +until-480
            flex-direction: column

    &__param
        flex: 1 1 30%

        +until-768
            flex: 1 1 50%

        +until-480
            flex: unset
            width: 100%

        &:not(:last-child)
            margin-right: 10px

            +until-480
                margin-right: 0
                margin-bottom: 10px

    &__bottom
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        @at-root .krovelnyjstroymarket &
            +until-480 
                flex-direction: column-reverse
        .btn
            // width: 100%
            flex-basis: auto !important
            grid-column: auto
            &_calc
                height: 3.5em
                margin: 0 !important
                margin-left: 0 !important
                grid-column: span 2
                display: flex
                align-items: center
                gap: 1em
                order: unset
                &::before
                    content: url('/assets/template/img/icons/calc.svg')
                    display: block
                    height: 1.5em
                    width: 1.5em
                    margin-bottom: 2px

    &__select-link
        margin-bottom: 10px

    &__volume, &__select-link
        display: flex
        flex-direction: column
        @at-root .krovelnyjstroymarket &
            +until-768 
                order: 0
            +until-480 
                order: 0
        @at-root .trotuarnaya-plitka &
            +until-768 
                order: 0
            +until-480 
                order: 0
               


        +until-768
            order: 2
            flex-direction: row
            justify-content: center
            align-items: center
            align-self: center
            flex: 1 40%
            @at-root .trotuarnaya-plitka &
                align-items: flex-start

        +until-480
            width: 100%
            flex-direction: column

        &:not(:last-child)
            margin-right: 20px
            +until-768
                margin-right: 0

        &-title
            font-weight: 400
            font-size: 16px
            line-height: 1.7

            &:not(:last-child)
                margin-bottom: 3px
                +until-768
                    margin-bottom: 0
                    margin-right: 15px
                    @at-root .trotuarnaya-plitka &
                        display: none

        &-tabs
            display: flex
            align-items: center
            flex-wrap: wrap
            row-gap: 5px

        &-tab
            padding: 7px 8px 4px
            height: 45px
            min-width: 50px
            display: flex
            align-items: center
            justify-content: center

            font-weight: 700
            font-size: 16px
            line-height: 1.2
            text-align: center
            text-transform: uppercase

            border: 1px solid var(--color-red)
            background-color: var(--color-white)
            border-radius: var(--border-radius-base)
            color: var(--color-red)

            transition: background-color .3s ease, color .3s ease
            cursor: pointer

            &.active
                cursor: default

            & a
                font-weight: 500
                @at-root .trotuarnaya-plitka &
                    color: #ffcc33
                    text-decoration: none
                    &.active
                        color: #fff


            &:hover a
                color: #fff
                transition: 0.35s

            +until-768
                padding: 6px 3px 4px
                height: 40px
                min-width: 50px

                font-size: 10px

            &:not(:last-child)
                margin-right: 10px

            &:hover,
            &.active
                background-color: var(--color-red)
                color: var(--color-white)
    


    &__complex
        display: flex
    &__price
        margin-left: auto
        margin-top: 30px
        position: relative
        display: flex
        flex-direction: column
        align-items: flex-start

        +until-768
            order: 1
            margin-top: 0
            margin-left: 0
            padding-block: 10px
            flex: 1 40%
            text-align: center
            align-items: center
            align-self: center
            @at-root .trotuarnaya-plitka &
                align-items: flex-end


        @at-root .product.js-product_with-discount
            .product-info__price-value
                background-color: #fded7b
                color: #d51c21
                line-height: 1.0
                cursor: pointer
                margin-bottom: 6px
                order: 1
                transition: .3s
                @at-root .krovelnyjstroymarket &
                    margin-bottom: 0

                &:hover
                    box-shadow: 0 0 30px rgba(211,85,60,.44)



            .product-info__price
                margin-top: 20px
                color: #000

                +until-768
                    margin-top: 0

                +until-480
                    margin-top: 20px
                    @at-root .krovelnyjstroymarket &
                        flex: 0
                        margin-top: 0
                        align-items: flex-end
                        font-size: 20px
                        gap: 5px
                        flex-direction: row
                        white-space: nowrap

                &::after
                    display: block
                    content: ""
                    order: 2
                    width: 100%

            .js-product__old-price
                order: 3
                +until-480
                    @at-root .krovelnyjstroymarket &
                        font-size: 15px

        +until-480
            // margin-top: 10px
            margin-bottom: 0
            text-align: left

        &-notion
            margin-bottom: 4px
            font-weight: 400
            font-size: 16px
            line-height: 1.7

        &-value
            font-weight: 700
            font-size: 30px
            line-height: 1.5
            +until-480
                @at-root .krovelnyjstroymarket &
                    font-size: 20px
                    line-height: 1
                    order: inherit
                    margin: 0

    &__actions
        margin-top: 30px
        width: 100%
        @at-root .krovelnyjstroymarket &
            +until-480 
                display: flex
                flex-direction: column
                gap: 10px
                margin-top: 10px

        .counter__btn, .counter
            +until-768
                height: 40px

        .counter__btn
            max-width: 50px

            +until-480
                flex-basis: 24px

        .btn
            flex-grow: 1
            order: 1
            margin-right: 0
            margin-left: 25px

            +until-480
                flex-basis: 159px
                margin-left: 22px

        .product-card__counter
            max-width: 178px

        .product-card__add
            @at-root .krovelnyjstroymarket &
                +until-480 
                    width: auto
            &::after
                display: none

        +until-768
            order: 3

        +until-480
            margin-top: 20px
            grid-template-columns: 130px minmax(0, 1fr)

    &__counter
        height: 50px

        +until-768
            height: 40px

        & .counter
            &__btn
                flex: 0 0 50px
                +until-768
                    flex: 0 1 40px

            &__input
                font-size: 16px

                +until-768
                    font-size: 14px

    &__buy,
    &__fast-buy
        height: 50px

    &__fast-buy
        grid-column: 1 / -1

    &__price-mes
        position: absolute
        z-index: 5
        bottom: 68px
        right: -54px
        text-align: left
        color: #fff
        opacity: 0
        pointer-events: none
        padding: 16px
        box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .4), 0 1.17px 2px rgba(0, 0, 0, 0.0196802), 0 1.4px 5px rgba(0, 0, 0, 0.03), 0 2px 10px rgba(0, 0, 0, 0.03), 0 2px 18px rgba(0, 0, 0, 0.04), 0 9px 33px rgba(0, 0, 0, 0.03)
        width: 324px
        background: #2e323d
        border-radius: 8px
        transition: opacity .2s ease-out
        will-change: opacity

        +until-768
            right: auto
            left: auto

        +until-480
            width: 300px
            left: -20px
            right: -20px
            margin-left: auto
            margin-right: auto

        &::after
            content: ""
            position: absolute
            width: 0
            height: 0
            border-left: 20px solid transparent
            border-right: 20px solid transparent
            border-top: 20px solid #2e323d
            bottom: -7px
            right: 90px

            +until-768
                right: auto
                left: 50%
                transform: translateX(-50%)

        @at-root .product-info__price.active &
            opacity: 1
            pointer-events: auto

    &__price-mes-header
        font-weight: bold
        margin-bottom: 8px
        font-size: 16px

    &__price-mes-body
        font-size: 14px

    &__price-mes-close
        cursor: pointer
        display: inline-block
        position: absolute
        right: 18px
        top: 18px
        line-height: 0.6

        &::before
            font-size: 27px
            content: "\00d7"
            display: inline-block

.product-info__grid
    width: 100%
    display: grid
    gap: 10px
    grid-template-columns: 1fr 1fr 
    position: relative
    +until-768
        grid-template-columns: 1fr 

.product-card
    &__select-wrap_type_half
        margin-bottom: 8px
        margin-top: 5px
        width:  calc(100% - 6px)
        & + .product-card__select-wrap_type_half
            width:  calc(50% - 6px)

    &__select-wrap_type_full
        width: 100%
        margin-bottom: 8px
        margin-top: 5px

    &__select-span
        font-size: 14px
        padding-bottom: 8px

.bold
    font-weight: 700

.euv-custom-select

    &__options-wrap-scroll-inner
        @media screen and (min-width: 414px)
            display: flex
            gap: 20px
        .euv-custom-select__option
            display: flex
            justify-content: flex-start
            gap: 10px
            //&::before
            //    position: static!important
    &__options-wrap
        @at-root .plitnye & 
            max-height: 80vh
            overflow: hidden auto
    //&__option::before, &__input-value::before
    //    content: ""
    //    width: 40px
    //    height: 20px
    //    position: absolute
    //    left: 20px
    //    @media screen and (max-width: 540px)
    //        width: 25px
    //&__input-value::before
    //    left: 0

    &__option, &__input-value

    &__input-value
        display: flex
        align-items: center
        width: 100%
        height: 100%
        svg
            margin-right: 7px
        //+colors_to_selector('::before')

    &__input
        justify-content: center

    &__input, &__options-col, &__option
        color: #111
        font-size: 14px
        font-weight: normal

    &__small-text
        color: #b1b2b3
        font-size: 10px
        margin-left: 6px
        margin-top: 4px

.relink_label
    margin-bottom: 10px
    display: block
    position: relative
    
.relink_select
    background-color: var(--color-gray-lt)
    border: 1px solid var(--color-red)
    color: inherit
    font-size: 20px
    font-weight: 700
    line-height: 1.5
    outline: none
    text-align: center
    width: 100%
    padding: 10px 20px
    
.product__select-other-color
    margin: 70px 0 50px
    min-height: 253px
    @media screen and (max-width: 992px)
        margin-top: 40px
    @media screen and (max-width: 992px)
        display: none
    .custom-select_scrollable
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 5px
        height: 180px
        overflow-y: scroll

    &-span
        font-weight: 800
        margin-bottom: 10px

    
    @at-root .fibrofasad &
        min-height: 55px
        margin: 30px 0 0


    .custom-select-other-color-wrap
        padding: 10px
        border-radius: var(--border-radius-base)
        background: #fff

    .colors-select__option
        position: relative
        display: flex
        gap: 10px
        padding: 15px
        transition: .3s
        &:hover
            opacity:.8
        &:before
            position: absolute
            z-index: 0
            width: 100%
            height: 100%
            left: 0
        .filter-option__tip
            z-index: 2
            margin: 0
            *
                color: white
                border-color: white
        .colors-select__option-title
            position: relative
            z-index: 2
            color: #fff

        &[data-val="RAL 1014"], &[data-val="RAL 9003"], &[data-val="RAL 1015"], &[data-val="RR 22"], &[data-val="RAL 9010"], &[data-val="RAL 9002"], &[data-val="без покрытия"]
            .colors-select__option-title
                color: #000
            .filter-option__tip
                *
                    color: #000
                    border-color: #000


.product-calculator
    --size: 50px
    display: flex
    align-items: flex-start
    justify-content: space-between
    +until-768
        justify-content: center 
    gap: 10px
    font-size: 16px
    +until-768
        font-size: 14px
    +until-480
        font-size: 12px
        width: 100%
        flex-wrap: wrap
        justify-content: flex-start

    .counter
        height: var(--size)
        font-size: 14px
        &__btn
            transform: none
            width: 100%
            min-width: calc(var(--size) * 0.8)
            flex: 1
        &__input 
            font-size: 1em

    &__inputs
        display: flex
        gap: 1em
        +until-768
            flex-direction: column
        +until-480 
            flex-direction: row
            flex-basis: 100%
            justify-content: space-between
    &__input
        min-width: 175px
        flex-basis: 30%
        +until-480 
            min-width: 140px
        &-title
            font-size: .9em
            font-weight: 400
            margin-bottom: .5em
            
    &__result
        margin: 0
        margin-top: 1em

    &__buttons
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 10px
        margin-top: 1.1em
        +until-480 
            margin-top: 0
            padding-bottom: 5px
        .btn
            height: 3.5em
            margin: 0 !important
        

    .calculator-result
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 5px
        align-self: flex-start

        &__summary
            display: flex
            gap: 3px
            font-size: 12px
            align-items: flex-end
            &-title
                font-size: 1.2em
                align-self: flex-start
            &-volume

            &-unit
        
        &__price
            white-space: nowrap
            &-value            
                background-color: transparent
                color: var(--color-black)
                line-height: 1
                font-weight: 700
                font-size: clamp(26px,4vw,30px)
                &:hover
                    box-shadow: none
            &-unit 
                margin-left: 5px
                
.blueprint-request
    &__button
        text-decoration: none
        color: var(--color-black)
        margin-top: 20px
        padding: 20px
        display: flex
        gap: 20px
        justify-content: space-between
        background-color: #eee
        border-radius: 10px
        transition: all .3s
        &:hover
            background-color: var(--color-white)
        img
            display: block
            width: 60px
            height: 60px
    &__text
        font-size: 24px
        font-weight: 500
        text-align: center
        strong
            font-weight: 600
    
// .product.js-product_with-discount .product-calculator__result
//     margin-top: 1em
  
.alterteplo, 
.suhiesmesi
    .product-info__rating
        position: absolute
        top: 10px
        right: 10px
        z-index: 5
  
.fibrofasad
    .product-info
        height: 100%
