@use "../base/variables.scss";

.link {
  transition: 0.2s;

  &-default {
    color: variables.$dark-gray-1;

    &:hover {
      opacity: 0.5;
    }
  }

  &-primary {
    color: var(--color-red) !important;

    &:hover {
      opacity: 0.5;
    }
  }
}

.link-dashed {
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  width: max-content;
  color: var(--color-red) !important;
  border-bottom: 1px dashed var(--color-red);

  &.white {
    color: #fff !important;
    border-bottom: 1px dashed white;
  }

  &.gray {
    color: #878787 !important;
    border-bottom: 1px dashed #878787;
  }

  &:hover {
    border-bottom-color: transparent;
  }
}