body.plitnye {
  .product__pictures-thumbs {
    max-height: 582px;
    min-height: 100px;
  }

  .header__top {
    background-color: var(--color-red);

    .h-nav__item a {
      &:hover {
        color: var(--color-black);
      }
    }

    .h-nav__link_calc {
      &:hover {
        background-color: var(--color-black);
      }
    }
  }
}
