.default-input
	position: relative
	flex-direction: column
	display: flex
	flex: 1 1 auto

	.error
		display: block
		font-size: 14px

	&.valid
		&::after
			position: absolute
			top: 25px
			left: 13px

			content: ''

			width: 12px
			height: 12px

			background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6L4.91798 10.4077C4.96023 10.4553 5.03551 10.4518 5.07323 10.4006L12 1' stroke='%2349BF63' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E")
			background-position: center
			background-repeat: no-repeat
			background-size: 100%
			transform: translateY(-50%)

			+until-tablet
				display: none

	&__input
		height: 50px
		width: 100%
		padding: 0 37px

		font-weight: 400
		font-size: 16px
		line-height: 1.2

		border: 1px solid var(--color-gray-lt)
		border-radius: var(--border-radius-base)
		color: inherit
		background-color: var(--color-gray-lt)

		transition: border-color .3s ease

		+until-tablet
			padding: 0 15px
			font-size: 14px

		&::placeholder
			color: var(--color-gray-md)

		&:focus
			border-color: var(--color-red)
			outline: none !important

		&:disabled
			background-color: var(--color-gray-md)
			pointer-events: none

		&.error,
		&:invalid:not(:placeholder-shown)
			border-color: var(--color-red)
			background-color: #FCA796
			~ .default-input
				&__error
					opacity: 1
					font-size: 12px

	&__error
		position: absolute
		left: 0
		top: 100%

		font-size: 0
		font-weight: 400
		line-height: 1.5

		color: var(--color-red)
		opacity: 0

		transition: opacity .3s ease, font-size .3s ease
		pointer-events: none
