@use "../base/variables.scss";

.breadcrumbs {
  padding-bottom: 12px;
  padding-top: 16px;
  border-top: 1px solid variables.$light-gray-3;
  //   @media (max-width: variables.$bp992) {
  //     padding-top: 16px;
  //   }
  .container {
    overflow: auto;
    padding-bottom: 12px;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    width: max-content;
    li {
      color: variables.$gray;
      font-size: 12px;
      &:not(:last-child):after {
        content: "/";
        margin-left: 8px;
      }

      a {
        font-size: 12px;
        color: variables.$gray !important;
        border-bottom: 1px dashed #8787878c;
      }
    }
  }
}
