@use "../base/variables.scss";

.category-tags {
  padding: 20px 0;
  &__row {
    display: grid;
    gap: 32px;
  }
  &__group {
    &-name {
      font-weight: 700;
      margin-bottom: 12px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    @media (max-width: variables.$bp768) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: variables.$bp480) {
      grid-template-columns: 1fr 1fr;
    }
    &.opened {
      .category-tags__item.hidden {
        display: flex !important;
      }
    }
  }
  &__item {
    font-weight: 700;
    min-height: 100px;
    padding: 15px;
    background: #fff;
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 8px;

    border: 1px solid transparent;
    @media (max-width: variables.$bp768) {
      padding: 5px;
      min-height: auto;
    }
    @media (max-width: variables.$bp480) {
      font-size: 12px;
    }
    &:hover {
      border: 1px solid variables.$red;
    }
    &.hidden {
      display: none;
    }
    &.show-more {
      cursor: pointer;
      justify-content: center;
    }
    &-image {
      max-width: 60px;
      max-height: 60px;
      object-fit: contain;
      @media (max-width: variables.$bp480) {
        max-width: 40px;
      }
    }
  }
}
