@use "../base/variables.scss";

.delivery-banner {
  padding-top: 30px;
  padding-bottom: 80px;
  cursor: pointer;

  @media (max-width: variables.$bp992) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__image {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    display: block;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

