@import base/all
@import libs/all
@import blocks/all
@import sections/all
@import elements/all
@import contexts/all
@import icons
@import classes

@import ../../core/elements/_modules/additional-fields-callback-form/styles/main
@import ../../core/elements/_modules/mltreviews/styles/main
@import ../../core/elements/_modules/warehouses/style/style
@import ../../core/elements/_modules/stocks/style/main
@import ../../core/elements/_modules/calculator-opt/styles/main
@import ../../core/elements/_modules/our_objects/sass/style
@import ../../core/elements/_modules/product-card/product-card
@import ../../core/elements/_modules/objects-page/style/objects-page
@import ../../core/elements/_modules/menu/uteplitel/styles/index
@import ../../core/elements/_modules/catalog/v1/catalog_v1
@import "../../core/elements/_modules/restrictions/style"
@import "../../core/elements/_modules/similarsamples/scss/main"
@import '../../core/elements/modules/deliveryCalculatorServiceAreas/styles/styles'
@import '../../core/elements/modules/menugen_v2/style/style'
@import '../../core/elements/modules/catalog-tiled/styles/styles'

.advertisement_note
    position: absolute
    font-size: 12px
    top: 15px
    right: 15px
    background: rgba(255, 255, 255, 0.5)
    padding: 4px 8px
    border-radius: 90px
    z-index: 2
    color: var(--color-black)

    &__small
        font-size: 10px
        padding: 2px 6px
        top: 8px
        right: 8px

.catalog-listing-banner,
.side-banner
    position: relative

.cookie
    position: fixed
    z-index: 999
    width: 100%
    max-width: 480px
    padding: 0 30px
    bottom: 40px

    div
        width: 100%
        text-align: center
        background: rgba(79, 79, 79, 0.9)
        color: white
        padding: 12px
        box-shadow: 0px 1px 12.2px 0px rgba(7, 2, 42, 0.25)
        border-radius: 12px
        max-width: 1150px
        margin: 0 auto

        @media screen and (max-width: 480px)
            display: flex
            flex-direction: column
            align-items: start
    &__link
        color: white
        text-decoration: underline
    &__button
        text-decoration: none
        margin-left: 20px
        border-radius: 4px
        padding: 4px 8px
        color: #fff
        @media screen and (max-width: 480px)
            margin: 10px 0
        background-color: white
        border: 1px solid rgba(51, 51, 51, 1)
        color: rgba(51, 51, 51, 1)
