@import base/all
@import libs/all
@import blocks/all
@import sections/all
@import elements/all
@import contexts/all
@import icons
@import classes

@import ../../core/elements/_modules/additional-fields-callback-form/styles/main
@import ../../core/elements/_modules/mltreviews/styles/main
@import ../../core/elements/_modules/warehouses/style/style
@import ../../core/elements/_modules/stocks/style/main
@import ../../core/elements/_modules/calculator-opt/styles/main
@import ../../core/elements/_modules/our_objects/sass/style
@import ../../core/elements/_modules/product-card/product-card
@import ../../core/elements/_modules/objects-page/style/objects-page
@import ../../core/elements/_modules/menu/uteplitel/styles/index
@import ../../core/elements/_modules/catalog/v1/catalog_v1
@import "../../core/elements/_modules/restrictions/style"
@import "../../core/elements/_modules/similarsamples/scss/main"
@import '../../core/elements/modules/deliveryCalculatorServiceAreas/styles/styles'
@import '../../core/elements/modules/menugen_v2/style/style'
@import '../../core/elements/modules/catalog-tiled/styles/styles'

.advertisement_note
    position: absolute
    top: 15px
    right: 15px
    background: rgba(255, 255, 255, 0.5)
    padding: 4px 8px
    border-radius: 90px
    z-index: 2

    &__small
        font-size: 10px
        padding: 2px 6px
        top: 8px
        right: 8px

.catalog-listing-banner,
.side-banner
    position: relative
